<header class="shadow-sm">
  <!-- Topbar-->
  <div class="topbar topbar-dark bg-dark">
    <div class="container">
      <div class="topbar-text dropdown d-md-none"><a class="topbar-link dropdown-toggle" href="#" data-bs-toggle="dropdown">{$smarty.const.TEXT_USEFUL_LINKS}</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="tel:{$smarty.const.STORE_TELEPHONE}"><i class="ci-support text-muted me-2"></i>{$smarty.const.STORE_TELEPHONE}</a></li>
          <li><a class="dropdown-item" href="{$smarty.const.FILENAME_ACCOUNT_HISTORY}"><i class="ci-location text-muted me-2"></i>{$smarty.const.TEXT_ORDER_TRACKING}</a></li>
        </ul>
      </div>
      <div class="topbar-text text-nowrap d-none d-md-inline-block"><i class="ci-support"></i><span class="text-muted me-1">{$smarty.const.TEXT_SUPPORT}</span><a class="topbar-link" href="tel:{$smarty.const.STORE_TELEPHONE}">{$smarty.const.STORE_TELEPHONE}</a></div>
      {include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/slider/top-slider.html"}
      <div class="ms-3 text-nowrap"><a class="topbar-link me-4 d-none d-md-inline-block" href="{$smarty.const.FILENAME_ACCOUNT_HISTORY}"><i class="ci-location"></i>{$smarty.const.TEXT_ORDER_TRACKING}</a>
      {if {$box_LANGUAGES}}      
      <div class="topbar-text dropdown disable-autohide"><a class="topbar-link dropdown-toggle" href="#" data-bs-toggle="dropdown"><img class="me-2" src="{$smarty.const.DIR_WS_CATALOG}lang/{$smarty.session.language}/icon.gif" width="18" height="12" alt="{$smarty.session.language_name|capitalize}">{$smarty.session.language_name|capitalize} / {$smarty.session.currency}</a>
        <ul class="dropdown-menu dropdown-menu-end">
        {if {$box_CURRENCIES}}      
          <li class="dropdown-item">
          <form name="currencies" id="currencies" action="{$smarty.const.HTTP_SERVER}{$smarty.server.REDIRECT_URL}" method="get">
            <select class="form-select form-select-sm" name="currency" onchange="this.form.submit()">
              <option value="">{$smarty.const.TEXT_CURRENCY}</option>
              {$box_CURRENCIES}
            </select>
          </form>
          </li>
        {/if}
        {if {$box_LANGUAGES}}      
          {$box_LANGUAGES}
        {/if}
        </ul>
      </div>
      {/if}
      </div>
    </div>
  </div>
  <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
  <div class="navbar-sticky bg-light">
    <div class="navbar navbar-expand-lg navbar-light">
      <div class="container"><a class="navbar-brand flex-shrink-0" href="index.html"><img src="{$tpl_path}img/logo-big.png" width="142" alt="{$smarty.const.STORE_NAME}"></a>
        {$box_SEARCH}
        <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"><span class=""><i class="fas fa-bars"></i></span></button>
          <a class="navbar-tool navbar-stuck-toggler" href="#"><span class="navbar-tool-tooltip">{$smarty.const.TEXT_EXPAND_MENU}</span>
            <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-menu"></i></div>
          </a>
          {if !$wishlist_current}
          {if $smarty.const.ENABLE_WISHLIST == 'true'}
          <div id="divWishlist">
            {$box_WISHLIST}
          </div>
          {/if}
          {/if}
            <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" href="#signin-modal" data-bs-toggle="modal">
            <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-user"></i></div>
            <div class="navbar-tool-text ms-n3"><small>Hello, Sign in</small>My Account</div></a>
          <div class="navbar-tool dropdown ms-3" id="divShoppingCart">
            {$box_CART}
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-expand-lg navbar-light navbar-stuck-menu mt-n2 pt-0 pb-2">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarCollapse" itemscope itemtype="https://schema.org/WebSite">
          <!-- Search-->
          <meta itemprop="url" content="{$smarty.const.HTTP_SERVER}{$smarty.const.DIR_WS_CATALOG}"/>
          <form name="search" id="searchheader" action="advanced_search_result.php" method="get" class="form-inline" autocomplete="off" itemprop="potentialAction" itemscope itemtype="https://schema.org/SearchAction">
          <meta itemprop="target" content="{$smarty.const.HTTP_SERVER}{$smarty.const.DIR_WS_CATALOG}{$smarty.const.FILENAME_ADVANCED_SEARCH_RESULT}?keywords={literal}{keywords}{/literal}"/>
          <div class="input-group d-lg-none my-3">
            <input itemprop="query-input" class="form-control rounded-start" name="keywords" id="quick_find_keyword_header" placeholder="{$smarty.const.BOX_HEADING_SEARCH}" aria-label="{$smarty.const.BOX_HEADING_SEARCH}">
            <button class="btn btn-outline-secondary align rounded-end" type="submit" aria-label="{$smarty.const.BOX_HEADING_SEARCH}"><i class="pt-1 ci-search position-absolute top-50 end-0 translate-middle-y text-muted fs-base me-3"></i></button>
            <div class="ajaxQuickFindHeader" id="ajaxQuickFindHeader"></div>
          </div>
          </form>
          {$box_CATEGORIES2}
          <!-- Primary menu-->
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{$smarty.const.FILENAME_SPECIALS}">{$smarty.const.TITLE_SPECIALS_DEFAULT}</a></li>
            <li class="nav-item"><a class="nav-link" href="{$smarty.const.FILENAME_MANUFACTURERS}">{$smarty.const.TITLE_MANUFACTURERS_DEFAULT}</a></li>
            <li class="nav-item"><a class="nav-link" href="{$smarty.const.FILENAME_PRODUCTS_NEW}">{$smarty.const.TITLE_NEW_PRODUCTS_DEFAULT}</a></li>
            <li class="nav-item"><a class="nav-link" href="{$smarty.const.FILENAME_FEATURED}">{$smarty.const.TITLE_FEATURED_DEFAULT_SHORT}</a></li>
            <li class="nav-item"><a class="nav-link" href="{$smarty.const.FILENAME_REVIEWS}">{$smarty.const.TEXT_PRODUCT_REVIEWS}</a></li>
            {$box_CONTENT_PULL}
            {if $smarty.session.customers_status.customers_status_id == 0}<li class="nav-item"><a class="nav-link" href="{$admin_area_link}">{#text_admin#}</a></li>{/if}
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>