<header class="pt-2 bg-light">
<div class="container">
  <div class="row" itemscope itemtype="http://schema.org/Organization">
    <div class="col-auto mr-auto">
    <a href="" data-toggle="modal" data-target="#myModal" aria-label="{$smarty.const.TEXT_CITY}"><i class="fas fa-map-marker-alt"></i> <span class="link">{if {cookie name="vamshop-city"}}{cookie name="vamshop-city"}{else}<span class="userCity">{geo_city}</span>{/if}</span></a>&nbsp;
    <a href="tel:{$smarty.const.STORE_TELEPHONE}"><i class="fas fa-phone"></i> <span itemprop="telephone">{$smarty.const.STORE_TELEPHONE}</span></a>&nbsp;
    <a href="contact_us.html"><i class="far fa-envelope"></i> {#text_contact_us#}</a> &nbsp;
    {if $smarty.session.customers_status.customers_status_id == 0}<a href="{$admin_area_link}"><i class="fas fa-cog"></i> {#text_admin#}</a>&nbsp;{/if}
    {if $smarty.session.customer_id}<a href="{$logoff}"><i class="fas fa-power-off"></i> {#link_logoff#}</a>&nbsp;{/if}  
    </div>
    <div class="col-auto">
    <i class="fas fa-users"></i> <span itemprop="name">{$smarty.const.STORE_NAME}</span>&nbsp; 
    <i class="fas fa-home"></i> <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">{$smarty.const.STORE_NAME_ADDRESS}</span>&nbsp;
    </div>
  </div>
</div>
</header>