{config_load file="$language/lang_$language.conf" section="boxes"}
{if $deny_cart neq 'true'}
<!-- Бокс корзина -->
<div id="boxCart">
<b class="top"><b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b><b class="b5"></b></b>
<div class="boxheader">
<p>&nbsp;&raquo;&nbsp;<a href="{$LINK_CART}">{#heading_cart#}</a></p>
</div>
<div class="boxcontent">

{if $empty=='false'}
{foreach name=aussen item=products_data from=$products}
<p>
{$products_data.QTY}&nbsp;x&nbsp;&nbsp;<a href="{$products_data.LINK}">{$products_data.NAME|truncate:15:"...":true}</a>
</p>
{/foreach}
{if $DISCOUNT}
<p class="CartContentRight">
{#text_discount#}&nbsp;{$DISCOUNT}
</p>
{/if}
<p class="CartContentRight">
{$UST}{#text_total#}&nbsp;<span>{$TOTAL}</span>
</p>
<p class="CartContentRight">
{if $SHIPPING_INFO}{$SHIPPING_INFO}{/if}
</p>
{if $coupon_valid == 'true'}
<p>
{#cart_coupon#}
</p>
<p>
{$coupon_amount}
</p>
{/if}              
{else} <!-- Пустая корзина --> 
<p>
{#text_empty_cart#}
</p>
{/if}

</div>
<b class="bottom"><b class="b5b"></b><b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b></b>
</div>
<!-- /Бокс корзина -->
{/if}