{config_load file="$language/lang_$language.conf" section="boxes"}
<!-- Бокс выбранные фильтры -->
<div id="boxFiltersList">
<h5>{#heading_filters_list#}</h5>

<div id="boxFiltersListContent">

		  {foreach name=aussen item=module_data from=$module_content}
		  	{if $module_data.is_selected}
		    <div><strong>{$module_data.products_parameters_name}</strong></div>
            {foreach name=aussen1 item=parameter_data from=$module_data.values_list}
            {if $parameter_data.is_selected}    <a href="{$module_data.products_parameters_base_url}{$parameter_data.value_url_part_exclude}{if $price_min}&price_min={$price_min}{/if}{if $price_max}&price_max={$price_max}{/if}">{$parameter_data.value}</a><br /> {/if}
            {/foreach}
    		{/if}
		  {/foreach}

          {if $price_min||$price_max}
          <a href="{$smarty.const.FILENAME_DEFAULT}?cat={$categories_id}{foreach name=aussen2 item=params_filter from=$current_filters}&{$params_filter.name}={$params_filter.value}{/foreach}">{#text_filters_price#} {if $price_min} {#text_filters_price_from#} {$price_min}{/if} {if $price_max} {#text_filters_price_to#} {$price_max}{/if}</a>
          {/if}
        <a href="{$smarty.const.FILENAME_DEFAULT}?cat={$categories_id}">{#text_filters_off#}</a>

</div>

</div>
<!-- /Бокс выбранные фильтры -->