{config_load file="$language/lang_$language.conf" section="best_sellers"}       <div class="widget">
        <h3 class="widget-title">{$smarty.const.TITLE_BEST_SELLERS_DEFAULT}</h3>
          {foreach name=aussen item=module_data from=$module_content}
          {include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/box/box-card.html"}
          {/foreach}
        <p class="mb-0">...</p><a class="fs-sm" href="{$BEST_SELLERS_LINK}">{$smarty.const.TEXT_ALL_BEST_SELLERS}<i class="ci-arrow-right fs-xs ms-1"></i></a>
      </div>