{config_load file="$language/lang_$language.conf" section="error_handler"}    <div class="container py-5 mb-lg-3">
      <div class="row justify-content-center pt-lg-4 text-center">
        <div class="col-lg-5 col-md-7 col-sm-9"><img class="d-block mx-auto mb-5" src="{$tpl_path}/dist/img/pages/404.png" width="340" alt="404 Error">
          <h1 class="h3">404</h1>
          <h3 class="h5 fw-normal mb-4">{#text_search_again#}</h3>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-10">
          <div class="row">
            <div class="col-sm-12 mb-3 text-center">
            
{$FORM_ACTION}{if $CATEGORIES_NAME}{$CATEGORIES_NAME}<br />{/if}
{if $CATEGORIES_DESCRIPTION}{$CATEGORIES_DESCRIPTION}<br />{/if}
<!-- форма -->
<fieldset class="form">
<legend>{#text_search#}</legend>
<p>{$INPUT_SEARCH}</p>
<p>{$BUTTON_SUBMIT}</p>
</fieldset>
<!-- /форма -->
{$FORM_END}

            
            </div>

          </div>
        </div>
      </div>
    </div>