{config_load file="$language/lang_$language.conf" section="manufacturers"} 
{config_load file="$language/lang_$language.conf" section="index"}
    <!-- Page Title (Light)-->
    <div class="bg-dark py-4">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          <nav aria-label="breadcrumb">
              <div class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start" itemscope itemtype="http://schema.org/BreadcrumbList">
              {$navtrail}
              </div>
          </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
          <h1 class="h3 text-light mb-0">{#heading_text#}</h1>
        </div>
      </div>
    </div>
    <div class="container pb-5 pt-5 mb-2 mb-md-4">
      <div class="row">
        <!-- Content  -->
        <section class="col-lg-12">
          <!-- Products grid-->
          <div class="row mx-n2">
          {foreach name=aussen item=module_data from=$module_content}
          {include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/box/box-card-brand.html"}
          {/foreach}
          </div>
          <hr class="my-3">
          <!-- Pagination-->
          <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation">

{$NAVIGATION_BOOTSTRAP}

          </nav>
          
        </section>
      </div>
    </div>
