{config_load file="$language/lang_$language.conf" section="new_products"} 
{config_load file="$language/lang_$language.conf" section="index"} 
<div class="page">
<h1>{#heading_text#}</h1>
<div class="pageContent">
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-xl-4 row-cols-xxl-5 g-4">
{foreach name=aussen item=module_data from=$module_content}
<div class="col">
{include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/product-card/product-card-attributes.html"}
</div>
{/foreach}  
</div>
<div class="clear"></div>
<div class="navigation">
<span class="right">{$NAVIGATION_BAR}</span>{$NAVIGATION_BAR_PAGES}
</div>
<div class="clear"></div>
</div>
</div>