{config_load file="$language/lang_$language.conf" section="shopping_cart"}
{config_load file="$language/lang_$language.conf" section="product_info"}
{if $smarty.const.DISPLAY_CART_IN_CHECKOUT == 'true'}

  <div class="widget mb-3">
    <h2 class="widget-title text-center">{$smarty.const.TEXT_ORDER_SUMMARY}</h2>

{foreach from=$module_content key=category_name item=cart_data}
{foreach name=aussen item=module_data from=$cart_data}
{include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/item/item-cart-list-checkout.html"}
{/foreach}
{/foreach}

  </div>

{/if}
