{config_load file="$language/lang_$language.conf" section="reviews"}
    <!-- Page Title (Light)-->
    <div class="bg-dark py-4">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          {if $navtrail}
          <nav aria-label="breadcrumb">
              <div class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start" itemscope itemtype="http://schema.org/BreadcrumbList">
              {$navtrail}
              </div>
          </nav>
          {/if}
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
          {if !$file}<h1 class="h3 text-light mb-0">{#heading_reviews#}</h1>{/if}
        </div>
      </div>
    </div>
    <div class="container pageContent pb-5 pt-5 mb-2 mb-md-4">
      <div class="row">
        <!-- Content  -->
        <section class="col-lg-12">    
{foreach name=aussen item=module_data from=$module_content}
<div itemscope itemtype="http://schema.org/Product">

	<meta itemprop="name" content="{$module_data.PRODUCT.PRODUCTS_NAME}" />

	<span itemprop="offers" itemscope itemtype="http://schema.org/Offer"> 
		<meta itemprop="price" content="{$module_data.PRODUCT.PRODUCTS_PRICE_PLAIN}">
		<meta itemprop="priceCurrency" content="{$smarty.session.currency}" />
		<meta itemprop="availability" content="InStock" />
		<meta itemprop="priceValidUntil" content="{$smarty.now + (1200*60*24*7)|date_format:"c"}" />
		<meta itemprop="url" content="{$module_data.PRODUCT.PRODUCTS_LINK}" />
	</span> 

	<span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
		<meta itemprop="ratingValue" content="{$module_data.PRODUCT.REVIEWS_TOTAL_RATING|number_format:1}" />
		<meta itemprop="reviewCount" content="{$module_data.PRODUCT.REVIEWS_TOTAL}" />
	</span>

	<meta itemprop="image" content="{$module_data.PRODUCT.PRODUCTS_IMAGE}" />
	<meta itemprop="description" content="{$module_data.PRODUCT.PRODUCTS_SHORT_DESCRIPTION|vam_truncate:$smarty.const.MAX_DISPLAY_SHORT_DESCRIPTION:"...":true}" />
	
	{if $module_data.PRODUCT.MANUFACTURER}
	<meta itemprop="brand" content="{$module_data.PRODUCT.MANUFACTURER}" />
	{/if}
	
	{if $module_data.PRODUCT.PRODUCTS_MODEL}
	<meta itemprop="sku" content="{$module_data.PRODUCT.PRODUCTS_MODEL}" />
	<meta itemprop="mpn" content="{$module_data.PRODUCT.PRODUCTS_MODEL}" />
	{/if}

{include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/product-card/product-card-review-listing.html"}
</div>
{/foreach}
<div class="clear"></div>
<div class="navigation">
<span class="right">{$NAVBAR}</span>{$NAVBAR_PAGES}
</div>
<div class="clear"></div>

        </section>
      </div>
    </div>