{config_load file="$language/lang_$language.conf" section="checkout_confirmation"} 
{config_load file="$language/lang_$language.conf" section="checkout_confirmation"} 
    <!-- Page Title-->
    <div class="page-title-overlap bg-dark pt-4">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          {if $navtrail}
          <nav aria-label="breadcrumb">
              <div class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start" itemscope itemtype="http://schema.org/BreadcrumbList">
              {$navtrail}
              </div>
          </nav>
          {/if}
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
          <h1 class="h3 text-light mb-0">{#heading_confirmation#}</h1>
        </div>
      </div>
    </div>
    <div class="container pb-5 mb-2 mb-md-4">
      <div class="row">
        <section class="col-lg-8 bg-light shadow-lg rounded-3 px-4 py-4">
        
{if $IP_LOG=='true'} 
<span class="bold">{#text_ip#}</span> {$CUSTOMERS_IP}
<br />
{/if}
<br />
{if $SHIPPING_ADDRESS=='true'} 
<!-- Адрес доставки -->
<dl class="ordersAddress">
<dt class="ordersAddress">
</dt>

<dd class="ordersAddress">
<span class="bold">{#text_shipping_address#}</span>
</dd>

<dd class="ordersAddress">
{$DELIVERY_LABEL}
</dd>

</dl>
<!-- /Адрес доставки -->
{/if}

{if $BILLING_LABEL}
<!-- Адрес клиента -->
<dl class="ordersAddress">
<dt class="ordersAddress">
</dt>

<dd class="ordersAddress">
<span class="bold">{#text_payment_address#}:</span>
</dd>

<dd class="ordersAddress">
{$BILLING_LABEL}
</dd>

</dl>
<!-- /Адрес клиента -->
{/if}
<div class="clear"></div>
<br />
{if $SHIPPING_METHOD}
<span class="bold">{#text_shipping_method#}</span>&nbsp;{$SHIPPING_METHOD}
<br />
{/if}

{if $PAYMENT_METHOD!=''}
<span class="bold">{#text_payment_method#}</span>&nbsp;{$PAYMENT_METHOD}
<br />
{/if}

{if $ORDER_COMMENTS!=''}
<span class="bold">{#text_comments#}</span>
<br />
{$ORDER_COMMENTS}
<br />
{/if}

{if $PAYMENT_INFORMATION!=''}
<span class="bold">{#text_payment_info#}</span>
<br />
{$PAYMENT_INFORMATION}
<br />
{/if}

<span class="bold">{#text_products#}</span>
<br />
<br />

<!-- товары -->
<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tr> 
    <td> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>{$PRODUCTS_BLOCK}</td>
        </tr>
      </table></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left">{$CHECKOUT_FORM} {if $MODULE_BUTTONS!=''} {$MODULE_BUTTONS}<br />{/if} <br /><br />
	<table width="100%"  border="0" cellpadding="4">
        <tr>
          <td>{if $REVOCATION}
		  <b>{$REVOCATION_TITLE}</b><br />
		  
		  {$REVOCATION}<br />
		  <table width="100%" border="0" cellspacing="0" cellpadding="3">
            <tr>
              <td class="main"><img src="{$tpl_path}img/arrow_green.gif" alt="arrow" />{$REVOCATION_TITLE}&nbsp;{$REVOCATION_LINK}</td>
            </tr>
            <tr>
              <td class="main"><img src="{$tpl_path}img/arrow_green.gif" alt="arrow" />{$AGB_TITLE}&nbsp;{$AGB_LINK}</td>
            </tr>
          </table>
		  {/if}</td>
        </tr>
      </table></td>
  </tr>
</table>
<!-- /товары -->


        </section>
        <!-- Sidebar-->
        <aside class="col-lg-4 pt-4 pt-lg-0 ps-xl-5">
        <div class="sticky-wrapper">
        <div class="sticky-top">
        <div id="order_total_modules" class="sm_layout_box">
          <div class="bg-white rounded-3 shadow-lg p-4 ms-lg-auto">
            <div class="py-2 px-xl-2">
              {$MODULE_order_details_checkout}
					{$TOTAL_BLOCK}
            </div>

<button type="submit" class="btn btn-primary btn-shadow d-block w-100 mb-4"><i class="far fa-check-circle fs-lg me-2"></i>{$smarty.const.IMAGE_BUTTON_CONFIRM_ORDER}</button>

</form>
            
        </div>
        </div>
        </div>
        </div>
        </aside>
      </div>

    </div>

