<script>
{literal}
$(document).ready(function() {
$(".shipping-method").on("click",function(){
$(".shipping-method").removeClass("selected");
$(this).addClass("selected");
});
});
{/literal}
</script>
{if $FREE_SHIPPING} <p>
<span class="bold">{$FREE_SHIPPING_TITLE}</span>&nbsp;{$FREE_SHIPPING_ICON}</span>
</p>
<p>
{$FREE_SHIPPING_DESCRIPTION}
</p>
{else} 
<div class="card-deck shipping-methods">
{foreach name=aussen item=module_data from=$module_content}
{foreach name=aussen item=method_data from=$module_data.methods} 
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
<div class="shipping-method card card-product card-sm text-center h-100{if {$method_data.checked} == 1} selected{/if}">
<label class="h-100 shipping {$method_data.id}" for="{$method_data.id}">
  <div class="card-header d-flex justify-content-between">
    <div>{$method_data.radio_field}</div>
    <div class="method-title"><span class="title">{$module_data.module}</span></div>
    <div class="font-weight-bolder"></div>
  </div>
  <div class="card-body">
    {if {$method_data.cost} > 0}<p class="card-text"><span class="btn btn-secondary font-weight-bold">{$method_data.price}</span></p>{/if}
    <h5 class="card-title">{$module_data.icon}</h5>
    {if $method_data.title != ''}<p class="card-text">{$method_data.title}</p>{/if}
    {if $module_data.error != ''}<p class="card-text">{$module_data.error}</p>{/if}
    {if $module_data.info != ''}
    <p class="card-text">
    {$module_data.info}
    </p>
    {/if}     
  </div>
  <div class="card-footer align-bottom">

{if $method_data.id == "pickpoint"}

<script src="https://www.pickpoint.ru/select/postamat.js"></script>

<script type="text/javascript">
function pickpoint_call(id_this){
  PickPoint.open(pickpoint_callback_function, pickpoint_options);
}
function pickpoint_callback_function(result){
  var pickpoint_id = document.getElementById("pickpoint_id");
  var pickpoint_address = document.getElementById("pickpoint_address");
  var to_pickpoint_id = document.getElementById("to_pickpoint_id");
  var to_pickpoint_address = document.getElementById("to_pickpoint_address");
  var pickpoint_address_text = document.getElementById("pickpoint_address_text");
  var pickpoint_link = document.getElementById("pickpoint_link");
  var pickpoint_error = document.getElementById("pickpoint_error");
  var pickpoint_link_help = document.getElementById("pickpoint_link_help");
  pickpoint_id.value = result["id"];
  pickpoint_address.value = result["address"];

{if !$smarty.session.customer_id}  
  document.getElementById("street_address").value=result["name"]+", "+result["address"];
{else}
  document.getElementById("pickpoint").innerHTML += '<input type="hidden" name="street_address" id="street_address" value="'+result["address"]+'" />';
{/if}
  document.getElementById("pickpoint").checked="checked";
  
  to_pickpoint_id.value = result["id"];
  to_pickpoint_address.value = result["address"];
  // textContent innerHTML

  pickpoint_address_text.innerHTML = "{$smarty.const.MODULE_SHIPPING_PICKPOINT_TEXT_ADDRESS}" + result["address"] + " ";
  pickpoint_link.innerHTML = "{$smarty.const.MODULE_SHIPPING_PICKPOINT_TEXT_ANOTHER_ADDRESS}";

  if (pickpoint_error) pickpoint_error.innerHTML="";
//  if (pickpoint_link_help) pickpoint_link_help.innerHTML="";
}
var pickpoint_options={};

</script>
<input type="hidden" name="pickpoint_id" id="pickpoint_id" value="" />
<input type="hidden" name="pickpoint_address" id="pickpoint_address" value="" />
<span id="pickpoint_address_text"></span>
<a class="button" href="" onclick="pickpoint_call(this);return false;"><span id="pickpoint_link"><i class="fa fa-check"></i> {$smarty.const.MODULE_SHIPPING_PICKPOINT_TEXT_SELECT_ADDRESS}</span></a> <span id="pickpoint_link_help">{$smarty.const.MODULE_SHIPPING_PICKPOINT_TEXT_ADDRESS_HELP}</span>

{/if}

{if $method_data.id == "boxberry"}

<script src="//points.boxberry.ru/js/boxberry.js"> </script>

	<input type="hidden" name="boxberry_id" id="boxberry_id" value="" />
	<input type="hidden" name="boxberry_address" id="boxberry_address" value="" />
	<div id="boxberry_address_text"></div>
	<a href="#" class="button" onclick="boxberry.open(callback_function); return false;"><span><i class="fa fa-check"></i> {$smarty.const.MODULE_SHIPPING_BOXBERRY_TEXT_SELECT_ADDRESS}</span></a>

<script>

function callback_function(result){ 

console.log(result);

document.getElementById("boxberry_address").value = result.address;
//document.getElementById("js-pricedelivery").innerHTML = result.price;
document.getElementById("to_boxberry_id").innerHTML = result.id;

//result.name = encodeURIComponent(result.name); // Что бы избежать проблемы с кириллическими символами, на страницах отличными от UTF8, вы можете использовать функцию encodeURIComponent() 

//document.getElementById("boxberry_name").innerHTML =	result.name;
document.getElementById("to_boxberry_address").innerHTML =	result.address;
document.getElementById("boxberry_address_text").innerHTML = result.address;
//document.getElementById("workschedule").innerHTML =	result.workschedule;
//document.getElementById("boxberry_phone").innerHTML = result.phone;
//document.getElementById("boxberry_period").innerHTML = result.period;

{if !$smarty.session.customer_id}  
  document.getElementById("street_address").value=result.address;
  document.getElementById("postcode").value=result.zip;
  document.getElementById("city").value=result.name;
  document.getElementById("boxberry").innerHTML += '<input type="hidden" name="street_address" id="street_address" value="'+result.address+'" /><input type="hidden" name="postcode" id="postcode" value="'+result.zip+'" /><input type="hidden" name="city" id="city" value="'+result.city+'" />';
{else}
  document.getElementById("boxberry").innerHTML += '<input type="hidden" name="street_address" id="street_address" value="'+result.address+'" /><input type="hidden" name="postcode" id="postcode" value="'+result.zip+'" /><input type="hidden" name="city" id="city" value="'+result.city+'" />';
{/if}

document.getElementById("boxberry").checked="checked";

if (result.prepaid=="1") { 
alert("Отделение работает только по предоплате!"); 
} 
} 
</script>

{/if}

  </div>
</label>  
</div>
</div>
{/foreach}
{/foreach}
</div>
{/if}