{config_load file="$language/lang_$language.conf" section="faq"} 
{if $ONE eq 1}
{assign var="module_data" value=$module_content[0]}
<div itemscope itemscope itemtype="https://schema.org/FAQPage">
<div class="page" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
<h1 itemprop="name">{$module_data.FAQ_QUESTION}</h1>
<div class="pageContent" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">

<div itemprop="text">{$module_data.FAQ_ANSWER}</div>

<div class="pageContentFooter">
<a href="{$FAQ_LINK}" class="contents">{#other_faq#}</a>
</div>

</div>
</div>
</div>
{else}
<div>
<div class="page">
<h1>{#heading_text#}</h1>
<div class="pageContent">

<form name="faq_search" id="faq_search" action="faq.php" method="get" class="form-inline" autocomplete="off">
<input type="hidden" name="description" value="1" />
<div class="input-group">
<input type="text" name="akeywords" class="form-control" id="quick_find_keyword" placeholder="{#text_search#}" aria-label="{#text_search#}">
<div class="input-group-append">
<button class="btn btn-primary fas fa-search" type="submit" aria-label="{#text_search#}">
</button>
</div>
</div>
</form>

<br />

<div class="row" itemscope itemscope itemtype="https://schema.org/FAQPage">
{foreach name=aussen item=module_data from=$module_content}<div class="col-md-6 mb-3">	
{include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/item/item-faq.html"}
</div>
{/foreach} 
</div>

<div class="clear"></div>
<div class="navigation">
{$NAVIGATION_BAR}
</div>
<div class="clear"></div>
<p></p>

</div>
</div>
</div>
{/if}
