{config_load file="$language/lang_$language.conf" section="index"}
{$MODULE_error}
{$text}
{$MODULE_sitemap}


<div class="mainpage-tabs pb-3">

<div id="carouselExampleCaptions" class="carousel slide">

<ul class="nav nav-tabs pb-3 carousel-indicators text-left mr-auto d-flex justify-content-start">
{if {$MODULE_new_products}}
  <li class="h6 nav-item active" data-target="#carouselExampleCaptions" data-slide-to="0">
    <span class="nav-link" id="new-products-tab">{$smarty.const.TITLE_NEW_PRODUCTS_DEFAULT}</span>
  </li>
{/if}  
{if {$MODULE_specials_default}}
  <li class="h6 nav-item" data-target="#carouselExampleCaptions" data-slide-to="1">
    <span class="nav-link" id="specials-tab">{$smarty.const.TITLE_SPECIALS_DEFAULT}</span>
  </li>
{/if}  
{if {$MODULE_featured_products}}
  <li class="h6 nav-item" data-target="#carouselExampleCaptions" data-slide-to="2">
    <span class="nav-link" id="featured-tab">{$smarty.const.TITLE_FEATURED_DEFAULT}</span>
  </li>
{/if}  
{if {$MODULE_best_sellers_default}}
  <li class="h6 nav-item" data-target="#carouselExampleCaptions" data-slide-to="3">
    <span class="nav-link" id="best-sellers-tab">{$smarty.const.TITLE_BEST_SELLERS_DEFAULT}</span>
  </li>
{/if}  
</ul>

  <div class="carousel-inner">
{if {$MODULE_new_products}}
  <div class="carousel-item active" data-interval="1000000">
    {$MODULE_new_products}
  </div>
{/if}  
{if {$MODULE_specials_default}}
  <div class="carousel-item" data-interval="1000000">
    {$MODULE_specials_default}
  </div>
{/if}  
{if {$MODULE_featured_products}}
  <div class="carousel-item" data-interval="1000000">
    {$MODULE_featured_products}
  </div>
{/if}  
{if {$MODULE_best_sellers_default}}
  <div class="carousel-item" data-interval="1000000">
    {$MODULE_best_sellers_default}
  </div>
{/if}  
  </div>
</div>

</div>

{include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/slider/{$smarty.const.DEFAULT_SLIDER}.html"}



{$MODULE_manufacturers_default}
{$MODULE_reviews_all}
{$MODULE_latest_news}
{$MODULE_upcoming_products}