{config_load file="$language/lang_$language.conf" section="reviews"}<br />
<h1>{$PRODUCTS_NAME} {#heading_reviews#}</h1>
{if $PRODUCTS_REVIEWS_COUNT > 0}
<div class="row-fluid reviews-title" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
	<div class="span8 title">
	{#heading_reviews#} <span itemprop="reviewCount">{$PRODUCTS_REVIEWS_COUNT}</span>, {#text_rating#} <span itemprop="ratingValue">{$PRODUCTS_REVIEWS_RATING|number_format:2}</span>
	</div>	
</div>
{foreach name=aussen item=module_data from=$module_content} 
<div class="page">
<div class="pagecontent" itemprop="review" itemscope itemtype="http://schema.org/Review">

<p>
<span class="bold">{#text_author#}</span> <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{$module_data.AUTHOR}</span></span> <span content="{$module_data.DATE|date_format:"%Y-%m-%d"}" itemprop="datePublished">{$module_data.DATE|date_format:"%Y-%m-%d"}</span>
</p>

<meta itemprop="itemReviewed" content="{$PRODUCTS_NAME}" />

<p>
<span class="bold">{#text_rating#}</span> <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating"><span itemprop="ratingValue" content="{$module_data.RATING_TXT}">{$module_data.RATING_TXT}</span></span> {$module_data.RATING}
</p>

<p itemprop="reviewBody">
{$module_data.TEXT}
</p>
      
</div>
</div>
{/foreach}

							{else}
							
							
<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
	<meta itemprop="reviewCount" content="1" />
	<meta itemprop="ratingValue" content="5" />
</div>

<span itemprop="review" itemscope itemtype="http://schema.org/Review">
<span itemprop="author" itemscope itemtype="http://schema.org/Person">
<meta itemprop="name" content="Автор" />
</span> 
<meta content="{$smarty.now|date_format:"%Y-%m-%d"}" itemprop="datePublished" />


<meta itemprop="itemReviewed" content="{$PRODUCTS_NAME}" />


<span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
<meta itemprop="ratingValue" content="5" />
</span>


<meta itemprop="reviewBody" content="Отзыв" />

</span>		
							
							{/if}

{if $TEXT_FIRST_REVIEW != ''}
<div class="page">
<div class="pagecontent">
<p>
{$TEXT_FIRST_REVIEW}
</p>
</div>
</div>
{/if}
<div class="pagecontentfooter">
{$BUTTON_WRITE}
</div>
