{config_load file="$language/lang_$language.conf" section="reviews"}
<div class="module">
<h3>{$PRODUCTS_NAME} {#heading_reviews#}</h3>
<div class="moduleContent">
{if {$PRODUCTS_REVIEWS_COUNT} > 0}
<div class="row-fluid reviews-title" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
<div class="title">
{#heading_reviews#} <span itemprop="reviewCount">{$PRODUCTS_REVIEWS_COUNT}</span>, {#text_rating#} <span itemprop="ratingValue">{$PRODUCTS_REVIEWS_RATING|number_format:2}</span>
</div>	
</div>
<div class="reviewsContent">
{foreach name=aussen item=module_data from=$module_content}
<div class="mt-2">	 
{include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/item/item-reviews.html"}
</div>
{/foreach}
</div>
{else}
{if $TEXT_FIRST_REVIEW != ''}
<p>
{$TEXT_FIRST_REVIEW}
</p>
{/if}
{/if}
<div class="pageContentFooter">
{$BUTTON_WRITE}
</div>
</div>
</div>
