<section class="reviews">
		<div class="wrapper">
			<div class="titleIndex">
				<h3>Отзывы <i class="fa fa-angle-up"></i></h3>
			</div>
			<div class="reviews_content colapse">
				<div class="owl-carousel owl-theme" id="reviews">

{foreach name=aussen item=module_data from=$module_content_site_reviews}
					<div class="item modalReview{$module_data.REVIEWS_ID}">
						<div class="autorBlock">
							<img src="{$module_data.REVIEWS_AVATAR}" alt="Отзыв">
							<p class="nameReview">{$module_data.REVIEWS_NAME}</p>
							<p class="revData">{$module_data.REVIEWS_DATE}</p>
							<a href="{$module_data.REVIEWS_LINK}"><u>Читать отзыв</u></a>
						</div>
						<p>{$module_data.REVIEWS_TEXT|strip_tags|vam_truncate:380:"...":true}</p>
					</div>
{/foreach}

			</div>
				<a href="site_reviews.php" class="show_all">Все отзывы <i class="fa fa-angle-right"></i></a>
		</div>
	</section>
	
	<div class="g-hidden">
{foreach name=aussen item=module_data from=$module_content_site_reviews}
		<div id="modalReview{$module_data.REVIEWS_ID}" class="modal">
			<div class="box-modal_close custom_close arcticmodal-close"><i class="fa fa-times"></i></div>
			<div class="autorBlock">
				<img src="{$module_data.REVIEWS_AVATAR}" alt="Отзыв">
				<p class="nameReview">{$module_data.REVIEWS_NAME}</p>
				<p class="revData">{$module_data.REVIEWS_DATE}</p>
				<a href="{$module_data.REVIEWS_LINK}"><u>Читать отзыв</u></a>
			</div>
			<p>{$module_data.REVIEWS_TEXT}</p>
		</div>
{/foreach}
	</div>
	
	<script type="text/javascript">
		$(document).ready(function(){


{foreach name=aussen item=module_data from=$module_content_site_reviews}
    $(".modalReview{$module_data.REVIEWS_ID}").click(function() {
        $("#modalReview{$module_data.REVIEWS_ID}").arcticmodal({
            afterClose: function() {
                $("body").css("overflow-y", "scroll")
            }
        })
    })
{/foreach}

		});
	</script>
	    