<input type="radio" name="sn_menu" id="sn_menuXX" class="ipXX">
<input type="radio" name="sn_menu" id="sn_menu_0" class="ip00 ip01">
<input type="radio" name="sn_menu" id="sn_menu_1" class="ip01">
<input type="radio" name="sn_menu" id="sn_menu_2" class="ip01">
<input type="radio" name="sn_menu" id="sn_menu_3" class="ip01">
<input type="radio" name="sn_menu" id="sn_menu_4" class="ip01">
<input type="radio" name="sn_menu" id="sn_menu_2_1" class="ip01">
<input type="radio" name="sn_menu" id="sn_menu_2_2" class="ip01">
<input type="radio" name="sn_menu" id="sn_menu_2_3" class="ip01">
<input type="radio" name="sn_menu" id="sn_menu_2_1_1" class="ip01">
<input type="radio" name="sn_menu" id="sn_menu_4_1" class="ip01">
<input type="radio" name="sn_menu" id="sn_menu_4_2" class="ip01">
<input type="radio" name="sn_menu" id="sn_menu_4_1_1" class="ip01">

<div id="sn_menu_panel">

<div id="sn_menu_icon"><label for="sn_menuXX" class="modal-close"></label></div>

	<div id="sn_menu_left">
		<div class="text-center"><img src="{$tpl_path}img/logo-big.png" width="311" height="76" alt="logo"></div>
	</div>


	<div id="sn_menu_right">

		<div class="menubox sn_menu_0">
			<p><a href="index.html">Home</a></p>
			<p><label for="sn_menu_1">Contact Us <i class="fas fa-hand-point-right social"></i></label></p> 
			<p><label for="sn_menu_2">Resort <i class="fas fa-hand-point-right social"></i></label></p>
			<p><label for="sn_menu_3">Surrounding Area <i class="fas fa-hand-point-right social"></i></label></p>
			<p><label for="sn_menu_4">Information <i class="fas fa-hand-point-right social"></i></label></p>
		</div>

			<div class="menubox sn_menu_1">
				<p class="back"><label for="sn_menu_0"><i class="fas fa-hand-point-left social"></i> Contact Us</label></p> 

				<p><a href="index.html">Email</a></p>
				<p><a href="index.html">Telephone</a></p>
				<p><a href="index.html">Online Form</a></p>
				<p><a href="index.html">Snail Mail</a></p>
			</div>

			<div class="menubox sn_menu_2">
				<p class="back"><label for="sn_menu_0"><i class="fas fa-hand-point-left social"></i> Resort</label></p>

				<p><a href="index.html">Ski Hire Facilities</a></p>
				<p><label for="sn_menu_2_1">Main Ski Slopes <i class="fas fa-hand-point-right social"></i></label></p>
				<p><a href="index.html">Night Life</a></p>
				<p><label for="sn_menu_2_2">Restaurants <i class="fas fa-hand-point-right social"></i></label></p>
				<p><label for="sn_menu_2_3">Car Hire <i class="fas fa-hand-point-right social"></i></label></p>
			</div>

				<div class="menubox sn_menu_2_1">
					<p class="back"><label for="sn_menu_0"><i class="fas fa-hand-point-left social"></i> Resort</label></p>
					<p class="back"><label for="sn_menu_2"><i class="fas fa-hand-point-left social"></i> Main Ski Slopes</label></p>

					<p><a href="index.html">Beginners Slopes</a></p>
					<p><a href="index.html">Intermediate Slopes</a></p>
					<p><label for="sn_menu_2_1_1">Advanced Levels <i class="fas fa-hand-point-right social"></i></label></p>
					<p><a href="index.html">Expert</a></p>
				</div>

					<div class="menubox sn_menu_2_1_1">
						<p class="back"><label for="sn_menu_0"><i class="fas fa-hand-point-left social"></i> Resort</label></p>
						<p class="back"><label for="sn_menu_2"><i class="fas fa-hand-point-left social"></i> Main Ski Slopes</label></p>
						<p class="back"><label for="sn_menu_2_1"><i class="fas fa-hand-point-left social"></i> Advanced Levels</label></p>

						<p><a href="index.html">Local</a></p>
						<p><a href="index.html">Nearby</a></p>
						<p><a href="index.html">With instructor</a></p>
						<p><a href="index.html">Snow boarding</a></p>
					</div>

				<div class="menubox sn_menu_2_2">
					<p class="back"><label for="sn_menu_0"><i class="fas fa-hand-point-left social"></i> Resort</label></p>
					<p class="back"><label for="sn_menu_2"><i class="fas fa-hand-point-left social"></i> Restaurants</label></p>

					<p><a href="index.html">Snow Hotel</a></p>
					<p><a href="index.html">The Snowman</a></p>
					<p><a href="index.html">Ice Cavern</a></p>
					<p><a href="index.html">Ski Inn</a></p>
				</div>

				<div class="menubox sn_menu_2_3">
					<p class="back"><label for="sn_menu_0"><i class="fas fa-hand-point-left social"></i> Resort</label></p>
					<p class="back"><label for="sn_menu_2"><i class="fas fa-hand-point-left social"></i> Car Hire</label></p>

					<p><a href="index.html">From Airport</a></p>
					<p><a href="index.html">In Resort</a></p>
					<p><a href="index.html">Mutiple Resorts</a></p>
				</div>

			<div class="menubox sn_menu_3">
				<p class="back"><label for="sn_menu_0"><i class="fas fa-hand-point-left social"></i> Surrounding Area</label></p>

				<p><a href="index.html">Where to go</a></p>
				<p><a href="index.html">What to do</a></p>
				<p><a href="index.html">Places of interest</a></p>
				<p><a href="index.html">Parks &amp; Museums</a></p>
			</div>

			<div class="menubox sn_menu_4">
				<p class="back"><label for="sn_menu_0"><i class="fas fa-hand-point-left social"></i> Information</label></p>

				<p><a href="index.html">Money Exchange</a></p>
				<p><label for="sn_menu_4_1">Resort Information <i class="fas fa-hand-point-right social"></i></label></p>
				<p><label for="sn_menu_4_2">Language <i class="fas fa-hand-point-right social"></i></label></p>
				<p><a href="index.html">Short Breaks</a></p>
			</div>

				<div class="menubox sn_menu_4_1">
					<p class="back"><label for="sn_menu_0"><i class="fas fa-hand-point-left social"></i> Information</label></p>
					<p class="back"><label for="sn_menu_4"><i class="fas fa-hand-point-left social"></i> Resort Information</label></p>

					<p><a href="index.html">Lift Passes</a></p>
					<p><a href="index.html">Insurance</a></p>
					<p><label for="sn_menu_4_1_1">Gear Rental <i class="fas fa-hand-point-right social"></i></label></p>
					<p><a href="index.html">Ski Schools</a></p>
					<p><a href="index.html">Snow Report</a></p>
				</div>

					<div class="menubox sn_menu_4_1_1">
						<p class="back"><label for="sn_menu_0"><i class="fas fa-hand-point-left social"></i> Information</label></p>
						<p class="back"><label for="sn_menu_4"><i class="fas fa-hand-point-left social"></i> Resort Information</label></p>
						<p class="back"><label for="sn_menu_4_1"><i class="fas fa-hand-point-left social"></i> Gear Rental</label></p>

						<p><a href="index.html">Boots</a></p>
						<p><a href="index.html">Skis</a></p>
						<p><a href="index.html">Ski Wear</a></p>
						<p><a href="index.html">Goggles</a></p>
					</div>

				<div class="menubox sn_menu_4_2">
					<p class="back"><label for="sn_menu_0"><i class="fas fa-hand-point-left social"></i> Information</label></p>
					<p class="back"><label for="sn_menu_4"><i class="fas fa-hand-point-left social"></i> Language</label></p>

					<p><a href="index.html">Austrian</a></p>
					<p><a href="index.html">German</a></p>
					<p><a href="index.html">French</a></p>
					<p><a href="index.html">English</a></p>
				</div>
	</div>

</div>
