<input type="radio" name="sn_menu" id="sn_menuXX" class="ipXX">
<input type="radio" name="sn_menu" id="sn_menu00" class="ip00">
<input type="radio" name="sn_menu" id="sn_menu01" class="ip00 ip01">
<input type="radio" name="sn_menu" id="sn_menu02" class="ip00 ip02">
<input type="radio" name="sn_menu" id="sn_menu03" class="ip00 ip02 ip03">
<input type="radio" name="sn_menu" id="sn_menu04" class="ip00 ip02 ip03 ip04">
<input type="radio" name="sn_menu" id="sn_menu05" class="ip00 ip02 ip05">
<input type="radio" name="sn_menu" id="sn_menu06" class="ip00 ip02 ip06">
<input type="radio" name="sn_menu" id="sn_menu07" class="ip00 ip07">
<input type="radio" name="sn_menu" id="sn_menu08" class="ip00 ip08">
<input type="radio" name="sn_menu" id="sn_menu09" class="ip00 ip08 ip09">
<input type="radio" name="sn_menu" id="sn_menu10" class="ip00 ip08 ip09 ip10">
<input type="radio" name="sn_menu" id="sn_menu11" class="ip00 ip08 ip11">








<div id="sn_menu_panel">

<div id="sn_menu_icon"><label for="sn_menuXX" class="sn_menu_close modal-close"><i class="fas fa-times-circle fa-2x"></i></label></div>

	<div id="sn_menu_left">
		<div class="text-center"><img src="{$tpl_path}img/logo-big.png" width="311" height="76" alt="logo"></div>
	</div>

	<div id="sn_menu_right">
		<div id="sn_menu">
			<p><a href="index.html">Home</a></p>
			<p class="sn_menu01"><label for="sn_menu01">Contact Us</label><label for="sn_menu00"></label></p> 
				<div>
					<p><a href="index.html">Email</a></p>
					<p><a href="index.html">Telephone</a></p>
					<p><a href="index.html">Online Form</a></p>
					<p><a href="index.html">Snail Mail</a></p>
				</div>
			<p class="sn_menu02"><label for="sn_menu02">Resort</label><label for="sn_menu00"></label></p>
				<div>
					<p><a href="index.html">Ski Hire Facilities</a></p>
					<p class="sn_menu03"><label for="sn_menu03">Main Ski Slopes</label><label for="sn_menu02"></label></p>
						<div>
							<p><a href="index.html">Beginners Slopes</a></p>
							<p><a href="index.html">Intermediate Slopes</a></p>
							<p class="sn_menu04"><label for="sn_menu04">Advanced Levels</label><label for="sn_menu03"></label></p>
								<div>
									<p><a href="index.html">Local</a></p>
									<p><a href="index.html">Nearby</a></p>
									<p><a href="index.html">With instructor</a></p>
									<p><a href="index.html">Snow boarding</a></p>
								</div>
							<p><a href="index.html">Expert</a></p>
						</div>
					<p><a href="index.html">Night Life</a></p>
					<p class="sn_menu05"><label for="sn_menu05">Restaurants</label><label for="sn_menu02"></label></p>
						<div>
							<p><a href="index.html">Snow Hotel</a></p>
							<p><a href="index.html">The Snowman</a></p>
							<p><a href="index.html">Ice Cavern</a></p>
							<p><a href="index.html">Ski Inn</a></p>
						</div>
					<p class="sn_menu06"><label for="sn_menu06">Car Hire</label><label for="sn_menu02"></label></p>
						<div>
							<p><a href="index.html">From Airport</a></p>
							<p><a href="index.html">In Resort</a></p>
							<p><a href="index.html">Mutiple Resorts</a></p>
						</div>
				</div>
			<p class="sn_menu07"><label for="sn_menu07">Surrounding Area</label><label for="sn_menu00"></label></p>
				<div>
					<p><a href="index.html">Where to go</a></p>
					<p><a href="index.html">What to do</a></p>
					<p><a href="index.html">Places of interest</a></p>
					<p><a href="index.html">Parks &amp; Museums</a></p>
				</div>
			<p class="sn_menu08"><label for="sn_menu08">Information</label><label for="sn_menu00"></label></p>
				<div>
					<p><a href="index.html">Money Exchange</a></p>
					<p class="sn_menu09"><label for="sn_menu09">Resort Information</label><label for="sn_menu08"></label></p>
						<div>
							<p><a href="index.html">Lift Passes</a></p>
							<p><a href="index.html">Insurance</a></p>
							<p class="sn_menu10"><label for="sn_menu10">Gear Rental</label><label for="sn_menu09"></label></p>
								<div>
									<p><a href="index.html">Boots</a></p>
									<p><a href="index.html">Skis</a></p>
									<p><a href="index.html">Ski Wear</a></p>
									<p><a href="index.html">Goggles</a></p>
								</div>
							<p><a href="index.html">Ski Schools</a></p>
							<p><a href="index.html">Snow Report</a></p>
						</div>
					<p class="sn_menu11"><label for="sn_menu11">Language</label><label for="sn_menu08"></label></p>
						<div>
							<p><a href="index.html">Austrian</a></p>
							<p><a href="index.html">German</a></p>
							<p><a href="index.html">French</a></p>
							<p><a href="index.html">English</a></p>
						</div>
					<p><a href="index.html">Short Breaks</a></p>
				</div>
			<p><a href="index.html">Privacy</a></p>
		</div>
	</div>
</div>