<input type="radio" name="sn_menu" id="sn_menuXX" class="ipXX">
<input type="radio" name="sn_menu" id="sn_menu_0" class="ip00 ip01">
<input type="radio" name="sn_menu" id="sn_menu_1" class="ip01">
<input type="radio" name="sn_menu" id="sn_menu_2" class="ip01">
<input type="radio" name="sn_menu" id="sn_menu_3" class="ip01">
<input type="radio" name="sn_menu" id="sn_menu_4" class="ip01">
<input type="radio" name="sn_menu" id="sn_menu_2_1" class="ip01">
<input type="radio" name="sn_menu" id="sn_menu_2_2" class="ip01">
<input type="radio" name="sn_menu" id="sn_menu_2_3" class="ip01">
<input type="radio" name="sn_menu" id="sn_menu_2_1_1" class="ip01">
<input type="radio" name="sn_menu" id="sn_menu_4_1" class="ip01">
<input type="radio" name="sn_menu" id="sn_menu_4_2" class="ip01">
<input type="radio" name="sn_menu" id="sn_menu_4_1_1" class="ip01">

<div id="sn_menu_panel">

<div id="sn_menu_icon"><label for="sn_menuXX" class="modal-close"></label></div>

	<div id="sn_menu_left">
		<div class="text-center"><img src="{$tpl_path}img/logo-big.png" width="311" height="76" alt="logo"></div>
	</div>


	<div id="sn_menu_right">

		<div class="menubox sn_menu_0">
			<p><a href="index.html">Главная</a></p>
			<p><label for="sn_menu_1">Обратная связь <i class="fas fa-hand-point-right social"></i></label></p> 
			<p><label for="sn_menu_2">Категория 1 <i class="fas fa-hand-point-right social"></i></label></p>
			<p><label for="sn_menu_3">Категория 2 <i class="fas fa-hand-point-right social"></i></label></p>
			<p><label for="sn_menu_4">Информация <i class="fas fa-hand-point-right social"></i></label></p>
		</div>

			<div class="menubox sn_menu_1">
				<p class="back"><label for="sn_menu_0"><i class="fas fa-hand-point-left social"></i> Обратная связь</label></p> 

				<p><a href="index.html">Email</a></p>
				<p><a href="index.html">Telephone</a></p>
				<p><a href="index.html">Online Form</a></p>
				<p><a href="index.html">Snail Mail</a></p>
			</div>

			<div class="menubox sn_menu_2">
				<p class="back"><label for="sn_menu_0"><i class="fas fa-hand-point-left social"></i> Категория 1</label></p>

				<p><a href="index.html">Тест 1</a></p>
				<p><label for="sn_menu_2_1">Подкатегория 1 <i class="fas fa-hand-point-right social"></i></label></p>
				<p><a href="index.html">Тест 2</a></p>
				<p><label for="sn_menu_2_2">Тест 33 <i class="fas fa-hand-point-right social"></i></label></p>
				<p><label for="sn_menu_2_3">Тест 44 <i class="fas fa-hand-point-right social"></i></label></p>
			</div>

				<div class="menubox sn_menu_2_1">
					<p class="back"><label for="sn_menu_0"><i class="fas fa-hand-point-left social"></i> Категория 1</label></p>
					<p class="back"><label for="sn_menu_2"><i class="fas fa-hand-point-left social"></i> Подкатегория 1</label></p>

					<p><a href="index.html">Тест 55</a></p>
					<p><a href="index.html">Тест 66</a></p>
					<p><label for="sn_menu_2_1_1">Подподкатегория 1 <i class="fas fa-hand-point-right social"></i></label></p>
					<p><a href="index.html">Тест 77</a></p>
				</div>

					<div class="menubox sn_menu_2_1_1">
						<p class="back"><label for="sn_menu_0"><i class="fas fa-hand-point-left social"></i> Категория 1</label></p>
						<p class="back"><label for="sn_menu_2"><i class="fas fa-hand-point-left social"></i> Подкатегория 1</label></p>
						<p class="back"><label for="sn_menu_2_1"><i class="fas fa-hand-point-left social"></i> Подподкатегория 1</label></p>

						<p><a href="index.html">Тест 888</a></p>
						<p><a href="index.html">Тест 999</a></p>
						<p><a href="index.html">Текст 321</a></p>
						<p><a href="index.html">Текст 123</a></p>
					</div>

				<div class="menubox sn_menu_2_2">
					<p class="back"><label for="sn_menu_0"><i class="fas fa-hand-point-left social"></i> Категория 1</label></p>
					<p class="back"><label for="sn_menu_2"><i class="fas fa-hand-point-left social"></i> Подкатегория 2</label></p>

					<p><a href="index.html">Snow Hotel</a></p>
					<p><a href="index.html">The Snowman</a></p>
					<p><a href="index.html">Ice Cavern</a></p>
					<p><a href="index.html">Ski Inn</a></p>
				</div>

				<div class="menubox sn_menu_2_3">
					<p class="back"><label for="sn_menu_0"><i class="fas fa-hand-point-left social"></i> Категория 1</label></p>
					<p class="back"><label for="sn_menu_2"><i class="fas fa-hand-point-left social"></i> Подкатегория 3</label></p>

					<p><a href="index.html">From Airport</a></p>
					<p><a href="index.html">In Resort</a></p>
					<p><a href="index.html">Mutiple Resorts</a></p>
				</div>

			<div class="menubox sn_menu_3">
				<p class="back"><label for="sn_menu_0"><i class="fas fa-hand-point-left social"></i> Surrounding Area</label></p>

				<p><a href="index.html">Where to go</a></p>
				<p><a href="index.html">What to do</a></p>
				<p><a href="index.html">Places of interest</a></p>
				<p><a href="index.html">Parks &amp; Museums</a></p>
			</div>

			<div class="menubox sn_menu_4">
				<p class="back"><label for="sn_menu_0"><i class="fas fa-hand-point-left social"></i> Information</label></p>

				<p><a href="index.html">Money Exchange</a></p>
				<p><label for="sn_menu_4_1">Resort Information <i class="fas fa-hand-point-right social"></i></label></p>
				<p><label for="sn_menu_4_2">Language <i class="fas fa-hand-point-right social"></i></label></p>
				<p><a href="index.html">Short Breaks</a></p>
			</div>

				<div class="menubox sn_menu_4_1">
					<p class="back"><label for="sn_menu_0"><i class="fas fa-hand-point-left social"></i> Information</label></p>
					<p class="back"><label for="sn_menu_4"><i class="fas fa-hand-point-left social"></i> Resort Information</label></p>

					<p><a href="index.html">Lift Passes</a></p>
					<p><a href="index.html">Insurance</a></p>
					<p><label for="sn_menu_4_1_1">Gear Rental <i class="fas fa-hand-point-right social"></i></label></p>
					<p><a href="index.html">Ski Schools</a></p>
					<p><a href="index.html">Snow Report</a></p>
				</div>

					<div class="menubox sn_menu_4_1_1">
						<p class="back"><label for="sn_menu_0"><i class="fas fa-hand-point-left social"></i> Information</label></p>
						<p class="back"><label for="sn_menu_4"><i class="fas fa-hand-point-left social"></i> Resort Information</label></p>
						<p class="back"><label for="sn_menu_4_1"><i class="fas fa-hand-point-left social"></i> Gear Rental</label></p>

						<p><a href="index.html">Boots</a></p>
						<p><a href="index.html">Skis</a></p>
						<p><a href="index.html">Ski Wear</a></p>
						<p><a href="index.html">Goggles</a></p>
					</div>

				<div class="menubox sn_menu_4_2">
					<p class="back"><label for="sn_menu_0"><i class="fas fa-hand-point-left social"></i> Information</label></p>
					<p class="back"><label for="sn_menu_4"><i class="fas fa-hand-point-left social"></i> Language</label></p>

					<p><a href="index.html">Austrian</a></p>
					<p><a href="index.html">German</a></p>
					<p><a href="index.html">French</a></p>
					<p><a href="index.html">English</a></p>
				</div>
	</div>

</div>
