<!-- Заголовок страницы -->
<h1>[[My password]]</h1>
<!-- /Заголовок страницы -->
{if $error!=''}
{$error}
{/if}
{$FORM_ACTION}
<!-- Скругленные углы -->
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<!-- Содержимое страницы -->
<div class="pagecontent">
<span class="Requirement"> [[* necessary Information]] </span>
<br />
<br />
<!-- форма -->
<fieldset class="form">
<legend>[[My password]]</legend>
<p><label for="password_current" title="{$ENTRY_PASSWORD_CURRENT_ERROR}">[[Current password:]]</label> {$INPUT_ACTUAL}</p>
<p><label for="password_new" title="{$ENTRY_PASSWORD_NEW_ERROR}">[[New password:]]</label> {$INPUT_NEW}</p>
<p><label for="password_confirmation" title="{$ENTRY_PASSWORD_ERROR_NOT_MATCHING}">[[Confirmation:]]</label> {$INPUT_CONFIRM}</p>
</fieldset>
<!-- /форма -->
</div>
<!-- /Содержимое страницы -->
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
<!-- /Скругленные углы -->
<div class="pagecontentfooter">
{$BUTTON_BACK}&nbsp;{$BUTTON_SUBMIT}
</div>
</div>
{$FORM_END}
<p></p>