<h1>[[Your personal information]]</h1>
<!-- Приветствие -->
{$error_message}
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pagecontent">
<p>
[[Welcome!]]
</p>
<p>
[[Here is your personal page, where you get comfortably an overview of your transacted orders as well as a listing of your last visited products.]]
</p>
{if $LINK_LOGIN}
<ul class="accountLinks">
<li class="accountLinks"><a href="{$LINK_LOGIN}">[[Login or create new account]]</a></li>
</ul>
{/if}
</div>
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>
<!-- /Приветствие -->

<!-- Личные данные -->
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pagecontent">
<p>
[[Your account]]
</p>
<ul class="accountLinks">
<li class="accountLinks"><a href="{$LINK_EDIT}">[[Show or change my account Information]]</a></li>
<li class="accountLinks"><a href="{$LINK_ADDRESS}">[[Show or change my address book information]]</a></li>
<li class="accountLinks"><a href="{$LINK_PASSWORD}">[[Change My Password]]</a></li>
</ul>
</div>
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>
<!-- /Личные данные -->

{if $order_content}
<!-- Заказы -->
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pagecontent">
<p>
[[My Orders]]&nbsp;<a href="{$LINK_ALL}">[[(show all orders)]]</a>
</p>
{foreach name=aussen item=order_data from=$order_content} <p>
<a href="{$order_data.ORDER_LINK}">{$order_data.ORDER_DATE}</a>&nbsp;&nbsp;[[Order No.:]] {$order_data.ORDER_ID}
</p><p>
[[Order total:]] {$order_data.ORDER_TOTAL}&nbsp;&nbsp;[[Order status:]] {$order_data.ORDER_STATUS} </p><p>
{$order_data.ORDER_BUTTON}</p>{/foreach} 
</div>
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>
<!-- /Заказы -->
{/if}

<!-- Уведомления -->
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pagecontent">
<p>
[[e-mail notication]]
</p>
<ul class="accountLinks">
<li class="accountLinks"><a href="{$LINK_NEWSLETTER}">[[Subscribing to newsletter or cancelling newsletter.]]</a></li>
</ul>
</div>
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>
<!-- /Уведомления -->

{if $products_history}
<!-- Просмотренные товары -->
<div class="page">
<p>
[[The last visited products:]]
</p>
{foreach name=history_products item=products_history from=$products_history} 
<dl class="itemLastViewed">
<dt class="itemImage">
{if $products_history.PRODUCTS_IMAGE!=''}<a href="{$products_history.PRODUCTS_LINK}"><img src="{$products_history.PRODUCTS_IMAGE}" alt="{$products_history.PRODUCTS_NAME}" border="0" /></a>{/if}
</dt>
<dd class="itemDescription">
<a href="{$products_history.PRODUCTS_LINK}">{$products_history.PRODUCTS_NAME}</a>
</dd>

<dd class="itemDescriptionPrice">
{$products_history.PRODUCTS_PRICE}
</dd>

{if $products_history.PRODUCTS_VPE}
<dd class="itemDescription">
{$products_history.PRODUCTS_VPE}
</dd>
{/if}

<dd class="itemDescription">
{$products_history.PRODUCTS_TAX_INFO}{$products_history.PRODUCTS_SHIPPING_LINK}
</dd>

<dd class="itemDescription">
<a href="{$products_history.PRODUCTS_LINK}"></a><a href="{$products_history.PRODUCTS_CATEGORY_URL}">[[Found in this category]]</a>
</dd>

<dd class="itemDescription">
{$products_history.PRODUCTS_BUTTON_BUY_NOW}
</dd>

</dl>
          {/foreach} 

</div>
<div class="clear"></div>
<!-- /Просмотренные товары -->
{/if}
<p></p>