{if $ACTIVATE_GIFT=='true'}
{$FORM_ACTION}
{if $GV_AMOUNT neq ''}
[[Info]]
<br />
[[Voucher Balance]] <span class="bold">{$GV_AMOUNT}</span>
<br />
[[Send gift voucher to]] <a href="{$GV_SEND_TO_FRIEND_LINK}">[[friend]]</a>
<br />
{/if}
{if $COUPON_AMOUNT2 neq ''}
[[Voucher Redeemed]]
<br />
{$COUPON_AMOUNT2}
<br />
{/if}
{if $COUPON_HELP_LINK neq ''}
[[Coupon:]] {$COUPON_HELP_LINK} [[... more Information]]</a>
<br />
{/if}
{if $C_FLAG == 'true'}
<!-- форма -->
<br />
<fieldset class="form">
<legend>[[You have received a Gift Voucher or a Coupon, just enter the code below]]</legend>
<p>[[Coupon code:]] {$INPUT_CODE}</p>
</fieldset>
<p>{$BUTTON_SUBMIT}</p>
<!-- /форма -->
{else}
<p>
[[Registration]]
</p>
<p>
<a href="{$LINK_ACCOUNT}"><span class="bold">[[Create Account]]</span></a>
</p>
{/if}
{$FORM_END}
{/if}