<h1>[[Send voucher]]</h1>
{if $action eq 'process'}
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pagecontent">
<p>
{$LINK_DEFAULT}
</p>
{elseif $action eq 'send'}
{$FORM_ACTION}
<p>
{$MAIN_MESSAGE}
</p>
{if $POST_MESSAGE neq ''}
<p>
{$PERSONAL_MESSAGE}
</p>
<p>
{$POST_MESSAGE}
</p>
{/if}
{$HIDDEN_FIELDS}
</div>
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>
<div class="clear"></div>
<div class="navigation">
<span class="right">{$LINK_SUBMIT}</span>
{$LINK_BACK}
</div>
<div class="clear"></div>
{$FORM_END}
{elseif $action eq ''}
{$FORM_ACTION}
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pagecontent">

[[Please fill in your personal details for the voucher.]]
<br />
<br />
<!-- форма -->
<fieldset class="form">
<legend>[[Send voucher]]</legend>
<p>[[Recipient Name:]] {$INPUT_TO_NAME}</p>
<p>[[Recipient e-mail address:]] {$INPUT_EMAIL} {if $error_email neq ''}{$ERROR_EMAIL}{/if}</p>
<p>[[Value of the voucher:]] {$INPUT_AMOUNT} {if $error_amount neq ''}{$ERROR_AMOUNT}{/if}</p>
<p>[[Your message for the recipient:]] {$TEXTAREA_MESSAGE}</p>
</fieldset>
<!-- /форма -->

</div>
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>

<div class="pagecontentfooter">
{$LINK_SUBMIT}
</div>
{$FORM_END}
<p></p>
{/if}