<h1>[[Create a new account or login]]</h1>
{$FORM_ACTION}
{if $info_message!=''}<div class="contacterror">{$info_message}</div>
{/if}<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pagecontent">
{if $account_option=='account' or $account_option=='both'} <dl class="Login">
<dt class="Login">
</dt>

<dd class="Login">
<span class="bold">[[New Customer]]</span>
</dd>

<dd>
[[Through your registration at our shop you are able to shop faster, know at any time the status of your orders and have always a current survey of your previous orders.]]
</dd>

<dd>
{$BUTTON_NEW_ACCOUNT}
</dd>

</dl>
<dl class="Login">
<dt class="Login">
</dt>

<dd>
<!-- форма -->
<fieldset class="form">
<legend>[[I am a customer]]</legend>
{if $VVIMG !=''}<p>{$VVIMG} {$INPUT_CODE}</p>{/if}
<p>[[E-Mail address:]] {$INPUT_MAIL}</p>
<p>[[Password:]] {$INPUT_PASSWORD}</p>
</fieldset>
<!-- /форма -->

<p>
<a href="{$LINK_LOST_PASSWORD}">[[Password forgotten?]]</a>
</p>
<p>
{$BUTTON_LOGIN}
</p>

</dd>

</dl>
<div class="clear"></div>
{/if}
{if $account_option=='both' or $account_option=='guest'}<br /><dl class="Login">
<dt class="Login">
</dt>

<dd class="Login">
<span class="bold">[[Visitor orderer]]</span>
</dd>

<dd>
[[I would like to order only as visitor<br /><br />Through your order as visitor at our shop your dates are not stored and you do not have an account. With a further order you must enter however all dates again.]]
</dd>

<dd>
{$BUTTON_GUEST}
</dd>

</dl>

<div class="clear"></div>
{/if}
</div>
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>
{$FORM_END}
<p></p>