<h1>[[Customer reviews:]] {$PRODUCTS_NAME}</h1>
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pagecontent">

<p>
<span class="bold">[[Nr.]]</span>&nbsp;&nbsp;&nbsp;<span class="bold">[[Author]]</span>&nbsp;&nbsp;&nbsp;<span class="bold">[[Evaluation]]</span>&nbsp;&nbsp;&nbsp;<span class="bold">[[Date]]</span>
</p>

{foreach name=aussen item=module_data from=$module_content} 
<p>
{$module_data.ID}&nbsp;&nbsp;&nbsp;{$module_data.AUTHOR}&nbsp;&nbsp;&nbsp;{$module_data.RATING}&nbsp;&nbsp;&nbsp;{$module_data.DATE}
</p>
{/foreach} 

</div>
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>
<p></p>