<h1>[[What do you think?]]</h1>
{if $captcha_error}
<div class="contacterror">{$captcha_error}</div>
{/if}
{if $error}
<div class="contacterror">{$error}</div>
{else}
{$FORM_ACTION}
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pagecontent">

<span class="bold">[[Product:]]</span> {$PRODUCTS_NAME}
<br />
<span class="bold">[[Author:]]</span> {$AUTHOR}
<br />
<br />

<!-- форма -->
<fieldset class="form">
<legend>[[Your opinion:]]</legend>
	<p>[[Your opinion:]] {$INPUT_TEXT}</p>
	<p>[[<span class="bold">Caution:</span> HTML is not supported!]]</p>
	<p>[[Evaluation:]] <span class="bold">[[BAD]]</span>{$INPUT_RATING}<span class="bold">[[VERY GOOD]]</span></p>
   <p>[[Captcha:]] {$VVIMG}</p>
   <p>[[Type captcha code here (case sensitive):]] {$INPUT_CODE}</p>
</fieldset>
<!-- /форма -->

</div>
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>

<div class="clear"></div>
<div class="navigation">
<span class="right">{$BUTTON_SUBMIT}</span>
{$BUTTON_BACK}
</div>
<div class="clear"></div>
{$FORM_END}
<p></p>
{/if}