<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head><title>[[Schet]] {$oID}</title><meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
<link rel="stylesheet" type="text/css" href="{$tpl_path}/stylesheet.css" /></head><body onload="window.print()">
<div class="page">

<p><b>[[Postavschik]]</b> {$1}</p>
<p><b>[[Address]]</b> {$2}</p>
<p><b>[[Telephone]]</b>&nbsp;{$3} <b>[[Fax]]</b> {$4}</p>
<p><b>[[R/s]]</b> 
{$5} <b>[[v banke]]</b> {$6}</p>
<p><b>[[K/s]]</b> 
{$7} <b>[[BIK]]</b> {$8}</p>
<p><b>[[INN]]</b> {$9}&nbsp; <b>[[KPP]]</b> {$10}&nbsp; <b>[[OGRN]]</b> {$11} <b>[[Kod po OKPO]]</b> {$12}</p>
<p><b>[[Pokupatel]]</b> {$address_label_customer}</p>
<hr>
<p><b><font size="5">[[Invoice no.]] {$oID} [[ot]] {$DATE}</font></b></p>
<p>&nbsp;</p>
<table border="0" width="92%" id="table1" cellspacing="0">
	<tr>
		<td width="5%" style="border-style: solid; border-width: 1px" align="center"><b>[[No.]]</b></td>
		<td width="17%" style="border-style: solid; border-width: 1px" align="center">
		[[Number]]</td>
		<td width="48%" style="border-style: solid; border-width: 1px" align="center"><b>[[Product]]</b></td>
		<td width="12%" style="border-style: solid; border-width: 1px" align="center"><b>[[Qty]]</b></td>
		<td style="border-style: solid; border-width: 1px" width="6%" align="center"><b>[[Price]]</b></td>
		<td width="9%" style="border-style: solid; border-width: 1px" align="center"><b>[[Total]]</b></td>
	</tr>
	
        {foreach name=aussen item=order_values from=$order_data} 
        <tr> 
		<td width="5%" style="border-style: solid; border-width: 1px">{counter}.</td>
		<td width="17%" style="border-style: solid; border-width: 1px">{$order_values.PRODUCTS_MODEL} {$order_values.PRODUCTS_ATTRIBUTES_MODEL}</td>
		<td width="48%" style="border-style: solid; border-width: 1px">{$order_values.PRODUCTS_NAME} {$order_values.PRODUCTS_ATTRIBUTES}</td>
		<td width="12%" style="border-style: solid; border-width: 1px">{$order_values.PRODUCTS_QTY}</td>
		<td style="border-style: solid; border-width: 1px" width="6%">{$order_values.PRODUCTS_SINGLE_PRICE|string_format:"%01.2f"}</td>
		<td width="9%" style="border-style: solid; border-width: 1px">{$order_values.PRODUCTS_PRICE|string_format:"%01.2f"}</td>
        </tr>
        {/foreach}
	
  {foreach name=aussen item=order_total_values from=$order_total}
	<tr>
		<td colspan="5" style="border-style: solid; border-width: 1px">
		<p align="right"><b>{$order_total_values.TITLE}</b></td>
		<td width="9%" style="border-style: solid; border-width: 1px">{$order_total_values.VALUE|string_format:"%01.2f"}</td>
	</tr>
  {/foreach} 

</table>
<p><b>[[Vsego k oplate:]] {$summa}</b></p>
<p>&nbsp;</p>
<p><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
[[Director]] ______________________ /[[Last name]]/</b></p>
<p><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [[MP]]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
[[Glav. buh.]] __________________/[[Last name]]/</b></p>
<p>&nbsp;</p>
<p><b>[[Warning]]</b></p>
<p><b>[[Srok oplaty - 3 bankovskih dnia. V sluchae narushenia ukazannogo sroka postavshik imeet pravo]]</b></p>
<p><b>[[v odnostoronnem poryadke izmenit uslovia postavki (sroki, tsena)]]</b></p>
<p><b>[[Oplata dannogo scheta oznachaet soglasie s usloviami postavki tovara. Uvedomlenie ob oplate]]</b></p>
<p><b>[[obyazatelno, v protivnom sluchae ne garantiruetsia nalichie tovara na sklade.]]</b></p>
<p><b>[[Srok postavki - v techenie 5 dnei c momenta oplaty. Faktom oplaty schitaetsia zachislenie]]</b></p>
<p><b>[[denegnyh sredstv na r/s postavschika.]]</b></p>
<p><b>[[Dlya oformlenia nakladnoi i s/f neobhodimo imet sleduyschie dokumenty:]]</b></p>
<p><b>[[1. Doverennost. 2. pasport. 3. Kopiu plategnogo poruchenia. (Esli tovar poluchaetsia lichno.)]]</b></p>
<p><b>[[Pri otpravke tovara drugimi sredstvami dostavki soprovoditelnye dokumenty prilagautsia.]]</b></p>
<p>&nbsp;</p>

</div>
</body></html>