{config_load file="$language/lang_$language.conf" section="boxes"} {config_load file="$language/lang_$language.conf" section="reviews"} <h1><a href="{$REVIEWS_ALL_LINK}">{$smarty.const.NAVBAR_TITLE_SITE_REVIEWS}</a></h1>
<div class="page">
<div class="pageItem">
  {foreach name=aussen item=module_data from=$module_content}<dl class="itemNewProductsDefault">
{if $module_data.RATING > 0}<dd class="itemDescription"><span class="rating">{$smarty.const.TEXT_REVIEWS_RATING}: {$module_data.RATING|number_format:2}</span></dd>{/if}

<dd class="itemDescription">
{$module_data.TEXT|vam_truncate:$smarty.const.MAX_DISPLAY_SHORT_DESCRIPTION:"...":true}
</dd>

<dd class="itemDescription">
<a class="" href="{$module_data.LINK}"><i class="fa fa-comment"></i> {#text_read#}</a>
</dd>

</dl>
          {/foreach} 

<div class="clear"></div>
</div>

</div>