<h1>[[Note on safety]]</h1>
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pagecontent">
<p>
[[Our Safety inspection has shown that your browser has changed the SSL-Session-Id while your visit.<br /><br />For safety reasons we ask you to announce yourself again.<br /><br />Different browsers, e.g. Konqueror 3.1,are not able to generate the Secure SSL Session-Id on their own - but this is a requirement. If you use such a browser, update it to the latest version or install another browser. For example  <a href="http://www.microsoft.com/ie/" target="_blank">Microsoft Internet Explorer</a>, <a href="http://channels.netscape.com/ns/browsers/download_other.jsp" target="_blank">Netscape</a>, or <a href="http://www.mozilla.org/releases/" target="_blank">Mozilla</a>. After updating to one of this browsers you should be able to use our shop without any problems, with the certainty o be on the safe side.br><br />This security measure is used for your safety. Should there still be problems, please accept our apology for any inconveniences.]]
</p>
<p>
[[Privacy and safety]]
</p>
<p>
[[The simulator scenario language session ID made from your browser is checked for a secure page by us at every grip.<br /><br />This inspection guarantees that in fact the grip occurs from your browser and does not come from another browser.]]
</p>
</div>
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
<div class="pagecontentfooter">
{$BUTTON_CONTINUE}
</div>
</div>
<p></p>