<h1 class="contentBoxHeading">[[Newsletter]]</h1>
<br />
<strong>[[My Newsletter]]</strong>
{$FORM_ACTION}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="border-top: 1px solid; border-color: #cccccc;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr class="moduleRow" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)" onclick="checkBox('newsletter_general')">
          <td class="main">{$CHECKBOX} <strong>[[General newsletter]]</strong><br />
            <table width="98%" border="0" align="right" cellpadding="0" cellspacing="0">
              <tr>
                <td class="main">[[Includes general news about our shop, information about new products, special offers and other information of general interest.]]</td>
              </tr>
            </table> </td>
        </tr>
      </table></td>
  </tr>
</table>
<br />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>{$BUTTON_BACK}</td>
    <td align="right">{$BUTTON_CONTINUE}</td>
  </tr>
</table>
{$FORM_END}