<h1 class="contentBoxHeading">[[Advanced Search]]</h1>
{$FORM_ACTION}
{if $error!=''}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>{$error}</td>
  </tr>
</table>
{/if}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td class="main"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td class="main" align="right"><a href="{$HELP_LINK}">[[Help for the advanced search (?)]]</a></td>
        </tr>
      </table>
      
    </td>
  </tr>
</table>
<table width="100%" border="0" class="formArea">
  <tr> 
    <td width="250"><strong>[[Enter your Search Keys:]]</strong></td>
    <td>{$INPUT_KEYWORDS}</td>
  </tr>
  <tr> 
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr> 
    <td valign="top"><strong>[[Categories:]]</strong></td>
    <td>{$SELECT_CATEGORIES}<br />
      {$ENTRY_SUBCAT}[[Include sub-categories]]</td>
  </tr>
  <tr> 
    <td valign="top"><strong>[[Manufacturer:]]</strong></td>
    <td>{$SELECT_MANUFACTURERS}</td>
  </tr>
  <tr> 
    <td valign="top"><strong>[[Price over:]]</strong></td>
    <td>{$SELECT_PFROM}</td>
  </tr>
  <tr>
    <td valign="top"><strong>[[Price up to:]]</strong></td>
    <td>{$SELECT_PTO}</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="right"><br />{$BUTTON_SUBMIT}</td>
  </tr>
</table>
{$FORM_END}