<h1 class="contentBoxHeading">{$ARTICLE_NAME}</h1>

{if $no_article=='true'}
<p>
[[Article not found.]]
</p>
{else}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="main">
    
{if $ARTICLE_DESCRIPTION}
<p>
{$ARTICLE_DESCRIPTION}
</p>
{/if}

{if $AUTHOR_NAME}
<p>
[[Author:]] <a href="{$AUTHOR_LINK}">{$AUTHOR_NAME}</a>
</p>
{/if}

{if $ARTICLE_DATE}
<p>
[[Date:]] {$ARTICLE_DATE}
</p>
{/if}

{if $ARTICLE_URL}
<p>
[[URL:]] <a href="http://{$ARTICLE_URL}" target="_blank">http://{$ARTICLE_URL}</a>
</p>
{/if}
    
    </td>
  </tr>
</table>
{/if}