<h1 class="contentBoxHeading">[[Make an order:]]</h1>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr valign="top">
	  <td class="main">

[[Before you confirm your order on this site, you can change your address and products by editing them. (Click on <em>(Edit)</em> links to your data).<br />You can cancel your order by closing your browser, or confirm your order by pressing the <span class="bold">Confirm Order</span> Button at the end of your product list.]]	  
	  
	  </td>
  </tr>
</table>
{if $IP_LOG=='true'} 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="main">&nbsp;</td>
  </tr>
  <tr>
    <td><strong>[[Your IP-Address:]]</strong></td>
    <td class="inputRequirement"><strong>{$CUSTOMERS_IP}</strong></td>
  </tr>
</table>
{/if}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="main">&nbsp;</td>
  </tr>
{if $SHIPPING_ADDRESS=='true'} 
  <tr> 
    <td valign="top" class="main" style="border-top: 1px solid; border-color: #cccccc;"><strong>[[Mailing address]]</strong><em><a href="{$SHIPPING_ADDRESS_EDIT}"><font color="#009933">[[(Edit)]]</font></a></em><br />{$DELIVERY_LABEL}</td>
    <td valign="top" class="main" style="border-top: 1px solid; border-color: #cccccc;">{if $BILLING_LABEL}<strong>[[Bill postal address]]:</strong><em><a href="{$BILLING_ADDRESS_EDIT}"><font color="#009933">[[(Edit)]]</font></a></em><br />{$BILLING_LABEL}{/if}</td>
  </tr>
{/if}
  <tr>
    <td class="main">&nbsp;</td>
  </tr>
</table>
{if $SHIPPING_METHOD}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="main"><strong>[[Delivery method:]]</strong>&nbsp;{$SHIPPING_METHOD}&nbsp;<a href="{$SHIPPING_EDIT}" class="confirmationEdit">[[(Edit)]]</a></td>
  </tr>
</table> 
{/if}

{if $PAYMENT_METHOD!=''}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="main"><strong>[[Payment Method:]]</strong>&nbsp;{$PAYMENT_METHOD}&nbsp;<a href="{$PAYMENT_EDIT}" class="confirmationEdit">[[(Edit)]]</a></td>
  </tr>
</table> 
{/if}
{if $ORDER_COMMENTS!=''}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="main">&nbsp;</td>
  </tr>
  <tr>
    <td class="main"><strong>[[Your comments:]]</strong>&nbsp;<a href="{$PAYMENT_EDIT}" class="confirmationEdit">[[(Edit)]]</a></td>
  </tr>
</table> 
<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tr> 
    <td style="border: 1px solid; border-color: #cccccc;" class="main">{$ORDER_COMMENTS}</td>
  </tr>
</table>
{/if} 
{if $PAYMENT_INFORMATION!=''}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="main">&nbsp;</td>
  </tr>
  <tr>
    <td class="main"><strong>[[Payment information]]</strong></td>
  </tr>
</table> 
<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tr> 
    <td style="border: 1px solid; border-color: #cccccc;" class="main">{$PAYMENT_INFORMATION}</td>
  </tr>
</table>
{/if} 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="main">&nbsp;</td>
  </tr>
  <tr>
    <td class="main"><strong>[[Products:]]</strong>&nbsp;<a href="{$PRODUCTS_EDIT}" class="confirmationEdit">[[(Edit)]]</a></td>
  </tr>
</table> 
<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tr> 
    <td style="border: 1px solid; border-color: #cccccc;" class="main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="main">{$PRODUCTS_BLOCK}</td>
        </tr>
        <tr>
          <td class="main" style="border-top: 1px solid; border-color: #cccccc;" align="right">{$TOTAL_BLOCK}</td>
        </tr>
      </table></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="right">{$CHECKOUT_FORM} {if $MODULE_BUTTONS!=''} {$MODULE_BUTTONS}<br />{/if} {$CHECKOUT_BUTTON}<br /><br />
	<table width="100%"  border="0" cellpadding="4">
        <tr>
          <td class="mainText">{if $REVOCATION}
		  <b>{$REVOCATION_TITLE}</b><br />
		  
		  {$REVOCATION}<br />
		  <table width="100%" border="0" cellspacing="0" cellpadding="3">
            <tr>
              <td class="main"><img src="{$tpl_path}img/arrow_green.gif" alt="arrow" />{$REVOCATION_TITLE}&nbsp;{$REVOCATION_LINK}</td>
            </tr>
            <tr>
              <td class="main"><img src="{$tpl_path}img/arrow_green.gif" alt="arrow" />{$AGB_TITLE}&nbsp;{$AGB_LINK}</td>
            </tr>
          </table>
		  {/if}</td>
        </tr>
      </table></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="main">&nbsp;</td>
	</tr>
	<tr>
		<td>
			<table border="0" width="100%" cellspacing="0" cellpadding="0">
				<tr>
					<td>
						<table border="0" width="100%" cellspacing="0" cellpadding="0">
							<tr>
								<td align="right"><img src="{$tpl_path}img/pixel_silver.gif" width="1" height="5" alt="" /></td>
								<td><img src="{$tpl_path}img/pixel_silver.gif" width="100%" height="1" alt="" /></td>
							</tr>
						</table>
					</td>
					<td><img src="{$tpl_path}img/pixel_silver.gif" width="100%" height="1" alt="" /></td>
					<td>
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><img src="{$tpl_path}img/pixel_silver.gif" width="100%" height="1" alt="" /></td>
								<td class="onepxwidth"><img src="{$tpl_path}img/checkout_bullet.gif" alt="" /></td>
								<td><img src="{$tpl_path}img/pixel_silver.gif" width="100%" height="1" alt="" /></td>
							</tr>
						</table>
					</td>
					<td>
						<table border="0" width="100%" cellspacing="0" cellpadding="0">
							<tr>
								<td><img src="{$tpl_path}img/pixel_silver.gif" width="100%" height="1" alt="" /></td>
								<td><img src="{$tpl_path}img/pixel_silver.gif" width="1" height="5" alt="" /></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>