<h1 class="contentBoxHeading">[[Usage of Cookies]]</h1>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="main">[[Your browser does not allows any Cookies.<br /><br />To continue your purchase, you should change the rights to make the page able to set cookies.<br /><br />If you use <span class="bold">Internet Explorer</span> follow this instructions:<br /><br />At menu; <span class="bold">Extras</span> choose <span class="bold">Internet Options</span><br />accrete at <span class="bold">adapting Safety-stage</span><br />At the lower field you will find a Drop-Down-box. There use <span class="bold">Average</span>.<br />Accrete now onto <span class="bold">Rollback</span><br /><br />This measure is used for your safety. Should there still be problems, please accept our apology for any inconveniences.]]</td>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="infoboxheading" width="250">[[Cookies and your privacy and safety]]</td>
        </tr>
        <tr>
          <td class="main" >[[Through the commitment of Cookies the safety is lifted and  the protection of  your privacy is much better.<br /><br />There are no personal informations stored within the cookies.]]</td>
        </tr>
      </table></td>
  </tr>
</table>
<p align="right">{$BUTTON_CONTINUE}</p>
