{if $dl neq ''}
<h1 class="contentBoxHeading">[[Downloads]]</h1>
<table width="100%" border="0" cellpadding="2" cellspacing="0">
{if $dl_prevented eq 'true'}
<tr>
  <td class="main"><b>[[Your downloads are not approved yet.]]</b></td>
</tr>
{/if}
{foreach name=aussen item=dl_data from=$dl}
  <tr>
    <td bgcolor="FFFEC2" style="border: 2px solid; border-right: 0px solid; border-color: #ff0000;" class="main"><table width="100%"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="1">{if $dl_data.pic_link}<a href="{$dl_data.pic_link}"><img src="{$tpl_path}img/img_download.jpg" alt="" border="0" /></a>{else}<img src="{$tpl_path}img/img_download_locked.jpg" alt="" />{/if}</td>
        <td align="left" valign="middle" class="main">{$dl_data.download_link}</td>
      </tr>
    </table></td>
    <td bgcolor="FFFEC2" style="border: 2px solid; border-left: 0px solid; border-right: 0px solid; border-color: #ff0000;" class="main">[[Download expires:]]&nbsp;{$dl_data.date}</td>
    <td bgcolor="FFFEC2" style="border: 2px solid; border-left: 0px solid; border-color: #ff0000;" class="main" align="right"><strong>{$dl_data.count}</strong>&nbsp;[[times to download]]</td>
  </tr>
{/foreach}
</table>
{/if}
