{if $ACTIVATE_GIFT=='true'}
{$FORM_ACTION}
<table width="80%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="main">&nbsp;</td>
	</tr>
</table>
<table width="80%"  border="0" style="border: 1px solid; border-color:#000000;" class="boxTextBGII">
	<tr>
		<td class="main" align="center"><strong>[[Info]]</strong></td>
	</tr>
{if $GV_AMOUNT neq ''}
	<tr>
		<td class="main" align="center">[[Voucher Balance]] <strong>{$GV_AMOUNT}</strong></td>
	</tr>
	<tr>
		<td class="main" align="center">[[Send gift voucher to]] <a href="{$GV_SEND_TO_FRIEND_LINK}">[[friend]]</a></td>
	</tr>	
{/if}
{if $COUPON_AMOUNT2 neq ''}
	<tr>
		<td class="main" align="center">[[Voucher Redeemed]]</td>
	</tr>
	<tr>
		<td class="main" align="center">{$COUPON_AMOUNT2}</td>
	</tr>
	<tr>
		<td class="main">&nbsp;</td>
	</tr>
	<tr>
		<td class="main">&nbsp;</td>
	</tr>
{/if}
{if $COUPON_HELP_LINK neq ''}
	<tr>
		<td class="main">
			<table width="100%" border="0">
				<tr class="headerMessage">
					<td class="main" align="center">[[Coupon:]] {$COUPON_HELP_LINK} [[... more Information]]</a></td>
				</tr>
			</table>
		</td>
	</tr>
{/if}
{if $C_FLAG == 'true'}
  <tr>
	<td class="main" align="center">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="main" align="center">[[You have received a Gift Voucher or a Coupon, just enter the code below]]</td>
				</tr>
				<tr>
					<td class="main">&nbsp;</td>
				</tr>
			</table>
			<table border="0" cellpadding="2" cellspacing="0">
				<tr valign="middle">
					<td class="main">[[Coupon code:]]</td>
					<td class="main">{$INPUT_CODE}</td>
					<td class="main">{$BUTTON_SUBMIT}</td>
				</tr>
			</table>
		</td>
	</tr>
{else}
	<tr>
		<td class="main" align="center">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr valign="middle">
					<td class="main" align="center">[[Registration]]</td>
				</tr>
				<tr valign="middle">
					<td class="main" align="center"><a href="{$LINK_ACCOUNT}"><strong>[[Create Account]]</strong></a></td>
				</tr>
			</table>
		</td>
	</tr>
{/if}
	<tr>
		<td class="main">&nbsp;</td>
	</tr>
</table>
{$FORM_END}
{/if}