<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td style="border-bottom: 1px solid; border-color: #cccccc;" class="main"><strong>[[Help for advanced search]]</strong></td>
  </tr>
  <tr> 
    <td class="main">[[The Search function makes the search possible for Product descriptions, manufacturers and article number.<br /><br />You can use logical operators as "AND" and "OR" br><br />For example you could write: <span class="underline">Microsoft AND Mouse</span>.<br /><br />Furthermore you can use brackets around the search interleave, i.e.:<br /><br /><span class="underline">Microsoft AND (Maus OR Tastatur OR "Visual Basic")</span>.<br /><br />You can combine several words with quotation marks into a search key.]]</td>
  </tr>
  <tr>
    <td class="main" align="right"><br />
        <a href="{$link_close}">[[Close window (x)]]</a></td>
  </tr>
</table>
</body>
</html>