{config_load file="$language/lang_$language.conf" section="product_compare"}
<h1 class="contentBoxHeading">Сравнение товаров</h1>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td>&nbsp;</td>
        {foreach name=aussen item=module_data from=$module_content}
        <td><a href="{$module_data.PRODUCTS_LINK}">{$module_data.PRODUCTS_NAME}</a> {$module_data.PRODUCTS_PRICE}</td>{/foreach}
    </tr>

    {foreach name=aussen item=parameters_data from=$parameters}
    <tr>
        <td {if $parameters_data.is_group}colspan="3" style="font-weight: bold; text-align: center;"{/if}>{$parameters_data.parameters_name}</td>
        {if $parameters_data.parameters_values}
        {foreach name=aussen item=values from=$parameters_data.parameters_values}
        <td>{if $values.value}{$values.value}{else}&nbsp;{/if}</td>{/foreach}
        {/if}
    </tr>{/foreach}
</table>