<h1 class="contentBoxHeading">[[Reviews]]</h1>
{foreach name=aussen item=module_data from=$module_content} 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr> 
        
    <td class="main"><b>[[Author:]]</b>{$module_data.AUTHOR} {$module_data.DATE}<br />
      <strong>[[Evaluation:]]</strong>{$module_data.RATING} </td>
      </tr>
      <tr> 
        <td style="border-bottom: 1px solid; border-color: #cccccc;" class="main" ><br />
      {$module_data.TEXT}</td>
      </tr>
</table><br />
{/foreach}<br />

{if $TEXT_FIRST_REVIEW != ''}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
    <td>{$TEXT_FIRST_REVIEW}</td>
  </tr>
</table>
{/if}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
    <td><div align="right">{$BUTTON_WRITE}</div></td>
  </tr>
</table>
