<table  border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td width="1"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">{if $FIRST!=''}&nbsp;<a href="{$FIRST}">[[[&lt;&lt;First]]]</a>&nbsp;{/if}</font></td>
    <td width="1"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">{if $PREVIOUS!=''}&nbsp;<a href="{$PREVIOUS}">[[[&lt;Back]]]</a>&nbsp;{/if}</font></td>
    <td width="1"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">{if $NEXT!=''}&nbsp;<a href="{$NEXT}">[[[Next&gt;]]]</a>&nbsp;{/if}</font></td>
    <td width="1"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">{if $LAST!=''}&nbsp;<a href="{$LAST}">[[[last&gt;&gt;]]]</a>&nbsp;{/if}</font></td>
   </tr>
   <tr>
    <td colspan="4" align="center"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">[[Products in this categorie:]]&nbsp;<strong>{$PRODUCTS_COUNT}</strong></font></td>
  </tr>
</table>
 