<h1 class="contentBoxHeading">[[What do you think?]]</h1>
{if $captcha_error}
<div class="contacterror">{$captcha_error}</div>
{/if}
{if $error}
{$error}
{else}
{$FORM_ACTION}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="main"><p><strong>[[Product:]]</strong> {$PRODUCTS_NAME}<br />
        <strong>[[Author:]]</strong> {$AUTHOR}</p>
      <p><strong>[[Your opinion:]]</strong><br />
        {$INPUT_TEXT}<br />
        <font size="1" face="Verdana, Arial, Helvetica, sans-serif">[[<span class="bold">Caution:</span> HTML is not supported!]]</font><br />
        <br />
        <strong>[[Evaluation:]]&nbsp;<font color="#FF0000" size="1" face="Verdana, Arial, Helvetica, sans-serif">[[BAD]]</font></strong>{$INPUT_RATING}<font color="#FF0000" size="1" face="Verdana, Arial, Helvetica, sans-serif"><strong>[[VERY GOOD]]</strong></font></p>
		  <p>[[Captcha:]] {$VVIMG}</p>
		  <p>[[Type captcha code here (case sensitive):]] {$INPUT_CODE}</p>
        </td>
  </tr>
</table>
<br />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>{$BUTTON_BACK}</td>
    <td><div align="right">{$BUTTON_SUBMIT}</div></td>
  </tr>
</table>
{$FORM_END}

{/if}