{config_load file="$language/lang_$language.conf" section="account"}<div class="page">
<h1>{#heading_account#}</h1>
<div class="pageContent">
<!-- Приветствие -->
{$error_message}

<p>
{#title_welcome#}
</p>
<p>
{#text_welcome#}
</p>
{if $LINK_LOGIN}
<ul class="accountLinks">
<li class="accountLinks"><a class="btn btn-primary" href="{$LINK_LOGIN}"><i class="fas fa-user"></i> {#text_login#}</a></li>
</ul>
{/if}
{if $LINK_LOGIN}
{if {$smarty.const.SOCIAL_LOGIN} == "true"}
<br />
<ul class="list-inline">
<li class="list-inline-item">{$smarty.const.TEXT_SOCIAL_LOGIN}:</li>
<li class="list-inline-item"><a href="https://oauth.vk.com/authorize?client_id={$smarty.const.VK_OAUTH_CLIENT_ID}&redirect_uri={$smarty.const.HTTP_SERVER}{$smarty.const.DIR_WS_CATALOG}{$smarty.const.FILENAME_CREATE_ACCOUNT}?social_login=vk&response_type=code&display=page&scope=email"><i class="fab fa-vk" title="{$smarty.const.TEXT_SOCIAL_LOGIN_VK}"></i> {$smarty.const.TEXT_SOCIAL_LOGIN_VK}</a></li>
<li class="list-inline-item"><a href="{$smarty.const.HTTP_SERVER}{$smarty.const.DIR_WS_CATALOG}{$smarty.const.FILENAME_CREATE_ACCOUNT}?social_login=google"><i class="fab fa-google" title="{$smarty.const.TEXT_SOCIAL_LOGIN_GOOGLE}"></i> {$smarty.const.TEXT_SOCIAL_LOGIN_GOOGLE}</a></li>
<li class="list-inline-item"><a href="https://www.facebook.com/dialog/oauth?client_id={$smarty.const.FACEBOOK_OAUTH_CLIENT_ID}&redirect_uri={$smarty.const.HTTP_SERVER}{$smarty.const.DIR_WS_CATALOG}{$smarty.const.FILENAME_CREATE_ACCOUNT}?social_login=fb&response_type=code&display=page&scope=public_profile,email"><i class="fab fa-facebook" title="{$smarty.const.TEXT_SOCIAL_LOGIN_FACEBOOK}"></i> {$smarty.const.TEXT_SOCIAL_LOGIN_FACEBOOK}</a></li>
</ul>
<br />
{/if}
{/if}
<!-- /Приветствие -->

<!-- Личные данные -->
<div class="module">
<div class="moduleContent">
<p>
{#title_account#}
</p>
<ul class="accountLinks">
<li class="accountLinks"><a href="{$LINK_EDIT}">{#text_edit#}</a></li>
<li class="accountLinks"><a href="{$LINK_ADDRESS}">{#text_address#}</a></li>
<li class="accountLinks"><a href="{$LINK_PASSWORD}">{#text_password#}</a></li>
</ul>
</div>
</div>
<!-- /Личные данные -->

{if $order_content}
<!-- Заказы -->
<div class="module">
<div class="moduleContent">
<p>
{#title_orders#}&nbsp;<a href="{$LINK_ALL}">{#text_all#}</a>
</p>
{foreach name=aussen item=order_data from=$order_content} <div class="p-2 {cycle values="bg-white,bg-transparent"}">
<p>
<a href="{$order_data.ORDER_LINK}">{$order_data.ORDER_DATE}</a>&nbsp;&nbsp;{#order_nr#} {$order_data.ORDER_ID}
</p><p>
{#order_total#} {$order_data.ORDER_TOTAL}&nbsp;&nbsp;{#order_status#} {$order_data.ORDER_STATUS} </p><p>
{$order_data.ORDER_BUTTON}</p>
</div>{/foreach} 
</div>
</div>
<!-- /Заказы -->
{/if}

<!-- Уведомления -->
<div class="module">
<div class="moduleContent">
<p>
{#title_notification#}
</p>
<ul class="accountLinks">
<li class="accountLinks"><a href="{$LINK_NEWSLETTER}">{#text_newsletter#}</a></li>
</ul>
</div>
</div>
<!-- /Уведомления -->

{if $products_history}
<!-- Просмотренные товары -->
<div class="page">
<p>
{#title_viewed_products#}
</p>
<div class="card-deck">
{foreach name=history_products item=module_data from=$products_history} 
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
{include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/product-card/product-card-details.html"}
</div>
{/foreach} 
</div>
</div>
<div class="clear"></div>
<!-- /Просмотренные товары -->
{/if}
</div>
</div>
