{config_load file="$language/lang_$language.conf" section="index"}

<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>
<!-- шапка -->        
          <table width="100%"  border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="200" align="left">
              <img src="{$tpl_path}img/logo.png" alt="{$store_name}" />
              </td>
              <td width="470" align="center">
              </td>
              <td width="200">
              &nbsp;
              </td>
            </tr>

            <tr>
              <td width="200" align="left">
              &nbsp;
              </td>
              <td width="470" align="center">
<!-- кнопки -->
          <table width="100%"  border="0" cellspacing="0" cellpadding="0">
            <tr class="button">
              <td width="5" align="center" valign="top" class="button1">&nbsp;</td>
              <td align="center" valign="top"><img src="{$tpl_path}img/corners/corner_top_left.gif" align="left" hspace="0" alt="" /></td>
              <td width="89" align="center" valign="top">
              <div class="button"><a class="shippingInfo" href="{$mainpage}">{#text_mainpage#}</a></div>              
              </td>
{if $account}{if $smarty.session.customer_id}
              <td align="center" valign="top"><img src="{$tpl_path}img/corners/corner_top_right.gif" align="right" hspace="0" alt="" /></td>
              <td width="5" align="center" valign="top" class="button1">&nbsp;</td>
              <td align="center" valign="top"><img src="{$tpl_path}img/corners/corner_top_left.gif" align="left" hspace="0" alt="" /></td>
              <td width="89" align="center" valign="top">
              <div class="button"><a class="shippingInfo" href="{$account}">{#link_account#}</a></div>              
              </td>
{/if}{/if}              
              <td align="center" valign="top"><img src="{$tpl_path}img/corners/corner_top_right.gif" align="right" hspace="0" alt="" /></td>
              <td width="5" align="center" valign="top" class="button1">&nbsp;</td>
              <td align="center" valign="top"><img src="{$tpl_path}img/corners/corner_top_left.gif" align="left" hspace="0" alt="" /></td>
              <td width="84" align="center" valign="top">
              <div class="button"><a class="shippingInfo" href="{$cart}">{#link_cart#}</a></div>              
              </td>
              <td align="center" valign="top"><img src="{$tpl_path}img/corners/corner_top_right.gif" align="right" hspace="0" alt="" /></td>
              <td width="5" align="center" valign="top" class="button1">&nbsp;</td>
              <td align="center" valign="top"><img src="{$tpl_path}img/corners/corner_top_left.gif" align="left" hspace="0" alt="" /></td>
              <td width="98" align="center" valign="top">
              <div class="button"><a class="shippingInfo" href="{$checkout}">{#link_checkout#}</a></div>              
              </td>
              <td align="center" valign="top"><img src="{$tpl_path}img/corners/corner_top_right.gif" align="right" hspace="0" alt="" /></td>
{if $smarty.session.customer_id}
              <td width="5" align="center" valign="top" class="button1">&nbsp;</td>
              <td align="center" valign="top"><img src="{$tpl_path}img/corners/corner_top_left.gif" align="left" hspace="0" alt="" /></td>
              <td width="85" align="center" valign="top">
              <div class="button"><a class="shippingInfo" href="{$logoff}">{#link_logoff#}</a></div>              
              </td>
              <td align="center" valign="top"><img src="{$tpl_path}img/corners/corner_top_right.gif" align="right" hspace="0" alt="" /></td>
{else}
              <td width="5" align="center" valign="top" class="button1">&nbsp;</td>
              <td align="center" valign="top"><img src="{$tpl_path}img/corners/corner_top_left.gif" align="left" hspace="0" alt="" /></td>
              <td width="85" align="center" valign="top">
              <div class="button"><a class="shippingInfo" href="{$login}">{#link_login#}</a></div>              
              </td>
              <td align="center" valign="top"><img src="{$tpl_path}img/corners/corner_top_right.gif" align="right" hspace="0" alt="" /></td>
{/if}              
            </tr>
          </table>
<!-- /кнопки -->

              </td>
              <td width="200">
              &nbsp;
              </td>
            </tr>
<tr>
<td colspan="3" valign="top" align="center" class="button"><img src="{$tpl_path}img/pixel_trans.gif" border="0" alt="" width="0" height="3" /></td>
</tr>

<tr>
<td colspan="3" valign="top" align="center" class="navigationTop"><img src="{$tpl_path}img/pixel_trans.gif" border="0" alt="" width="0" height="1" /></td>
</tr>

<tr>
<td colspan="3" valign="top" align="center" class="navigation"><img src="{$tpl_path}img/pixel_trans.gif" border="0" alt="" width="0" height="4" /></td>
</tr>

<tr>
<td colspan="3" class="navigation" align="left">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{$tpl_path}img/navigation.gif" align="absmiddle" alt="" />&nbsp;&nbsp;{$navtrail}
</td>
</tr>

<tr>
<td colspan="3" valign="top" align="center" class="navigation"><img src="{$tpl_path}img/pixel_trans.gif" border="0" alt="" width="0" height="4" /></td>
</tr>

<tr>
<td colspan="3" valign="top" align="center" class="navigationTop"><img src="{$tpl_path}img/pixel_trans.gif" border="0" alt="" width="0" height="1" /></td>
</tr>

<tr>
<td colspan="3" valign="top" align="center"><img src="{$tpl_path}img/pixel_trans.gif" border="0" alt="" width="0" height="10" /></td>
</tr>

          </table>
<!-- /шапка -->        
        </td>
      </tr>
      <tr>
        <td><table width="100%"  border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td class="navLeft" valign="top"><table width="184"  border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td></td>
              </tr>
            </table>&nbsp;</td>
            <td valign="top"><table width="100%"  border="0" cellspacing="4" cellpadding="0">
              <tr>
                <td><table width="98%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="main">{$main_content}</td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
            <td valign="top" class="navRight"><table width="184"  border="0" cellspacing="0" cellpadding="0">
              <tr>
                      <td>{$box_ADMIN}</td>
              </tr>
            </table>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="3" valign="top"><table width="100%"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="2" class="loginBoxHeader"><img src="{$tpl_path}img/pixel_trans.gif" border="0" alt="" width="1" height="4" /></td>
      </tr>
    </table></td>
            </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>