    <div class="col-md-3 col-sm-4 col-6">
    <a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="{$module_data.CATEGORIES_LINK}">
    {if {$module_data.CATEGORIES_IMAGE} && {$module_data.CATEGORIES_IMAGE} != "images/categories/"}
    <img class="d-block mx-auto" src="{$module_data.CATEGORIES_IMAGE}" style="width: 150px;" alt="{$module_data.CATEGORIES_NAME}">
    {else}
    <img class="d-block mx-auto" src="images/product_images/noimage.png" style="width: 150px;" alt="{$module_data.CATEGORIES_NAME}">
    {/if}
    <h3 class="nav-link fs-base pt-1 mb-0 text-center text-truncate">{$module_data.CATEGORIES_NAME}</h3>
    </a>
    </div>