{config_load file="$language/lang_$language.conf" section="latest_news"} 


<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="contentBoxHeading1" bgcolor="#FFFFFF"><img src="{$tpl_path}img/heading1.gif" border="0" alt="" /></td>
    <td height="14" class="contentBoxHeading1" width="100%">{#heading_text#}</td>
  </tr>
  <tr>
    <td bgcolor="#990000" width="100%" colspan="2"><img src="{$tpl_path}img/pixel_trans.gif" border="0" alt="" width="1" height="2" /></td>
  </tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
{if $ONE eq 1}
  {assign var="module_data" value=$module_content[0]}
  <tr>
    <td class="main"><dl>
      <dt><strong>{$module_data.NEWS_HEADING}</strong> // {$module_data.NEWS_DATA}<br />
      <dd>{$module_data.NEWS_CONTENT}
    </dl></td>
  </tr>
  <tr><td class="main" align="right"><a href="{$NEWS_LINK}">{#other_news#}</a></td></tr>
{else}
  <tr>
    <td class="main"><dl>
  {foreach name=aussen item=module_data from=$module_content}
      <dt><strong><a href="news.php?news_id={$module_data.NEWS_ID}">{$module_data.NEWS_HEADING}</a></strong> // {$module_data.NEWS_DATA}<br />
      <dd>{$module_data.NEWS_CONTENT|truncate:$smarty.const.MAX_DISPLAY_LATEST_NEWS_CONTENT:" ..."}
  {/foreach}
    </dl></td>
  </tr>
  <tr><td class="main">{$NAVIGATION_BAR}</td></tr>
{/if}
</table>
<br />