{config_load file="$language/lang_$language.conf" section="faq"}
<section class="widget inner categories-widget">
	<h3 class="widget-title">{#heading_text#}</h3>
		<ul class="icons clearfix">
			{foreach name=aussen item=module_data from=$module_content}
			<li>{$module_data.FAQ_DATA} - <a href="{$module_data.FAQ_LINK_MORE}">{$module_data.FAQ_QUESTION}</a><br />
			{$module_data.FAQ_ANSWER|vam_truncate:$smarty.const.MAX_DISPLAY_FAQ_ANSWER:" ..."}
			</li>
			 {/foreach}
		</ul>
</section>