.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
cache
images
import
export
media
pub
tmp
templates/vamshop/cache
templates/vamshop1/cache
templates/vamshop2/cache
templates/vamshop3/cache
templates/vamshop4/cache
admin/*.log
admin/backups
admin/contributions
admin/sxd/
admin/contributions
*.log
.htaccess
