<div class="card card-product card-sm h-100">
	<div class="category card-body">
	{if {$module_data.CATEGORIES_IMAGE} && {$module_data.CATEGORIES_IMAGE} != "images/product_images/noimage.gif"}
	<div class="img-wrap">
	<a href="{$module_data.CATEGORIES_LINK}" title="{$module_data.CATEGORIES_NAME}">
	<img class="lazy" data-src="{$module_data.CATEGORIES_IMAGE}" {if $module_data.CATEGORIES_IMAGE_WIDTH > 0} width="{$module_data.CATEGORIES_IMAGE_WIDTH}"{/if} {if $module_data.CATEGORIES_IMAGE_HEIGHT > 0} height="{$module_data.CATEGORIES_IMAGE_HEIGHT}"{/if} alt="{$module_data.CATEGORIES_NAME}" title="{$module_data.CATEGORIES_NAME}" />
	</a>
	</div>
	{/if}
	</div>
	<div class="category card-footer text-center">
	<div class="title"><a href="{$module_data.CATEGORIES_LINK}" title="{$module_data.CATEGORIES_NAME}">{$module_data.CATEGORIES_NAME}</a></div>
	</div>
</div>