<!-- admin box //-->
<table border="0" width="100%" cellspacing="0" cellpadding="1" class="infoBox">
  <tr>
    <td><table border="0" width="100%" cellspacing="0" cellpadding="3" class="infoBoxContents">
  <tr>

    <td align="center" class="boxText"><table border="0" width="100%" cellspacing="0" cellpadding="0" align="center" class="adminBox">
            <tr>
              <td class="loginBoxHeader">
                <img src="{$tpl_path}img/corners/corner_top_left.gif" align="left" hspace="0" alt="" />
                <img src="{$tpl_path}img/corners/corner_top_right.gif" align="right" hspace="0" alt="" />&nbsp;&raquo;&nbsp;[[Admin Info]]
              </td>
            </tr>
            <tr class="adminBox">
              <td><table border="0" width="100%" cellspacing="5" cellpadding="0" align="center">
              <tr>
                <td align="left" class="adminBox">
                  {$BOX_CONTENT}
                </td>
              </tr>
            </table>
            <tr class="adminBox">
              <td>
                <img src="{$tpl_path}img/corners/corner_bottom_left.gif" align="left" hspace="0" alt="" />
                <img src="{$tpl_path}img/corners/corner_bottom_right.gif" align="right" hspace="0" alt="" />
              </td>
            </tr>
            </table>
              </td>
  </tr>
  <tr>

    <td><img src="{$tpl_path}img/pixel_trans.gif" border="0" alt="" width="100%" height="1" /></td>
  </tr>
</table>
</td>
  </tr>
</table>
<!-- admin box_eof //-->