 {$FORM_ACTION}
<table width="100%" border="0" cellpadding="2" cellspacing="0">
  <tr>
    <td class="infoBoxHeading"><table width="100%"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="14" class="infoBoxHeading"><img src="{$tpl_path}img/infobox/corner_right_left.gif" border="0" alt="" /></td>
    <td width="100%" height="14" class="infoBoxHeading"><span class="addaquickieBox">[[Quick purchase]]</span></td>
    <td height="14" class="infoBoxHeading"><img src="{$tpl_path}img/pixel_trans.gif" border="0" alt="" width="11" height="14" /></td>
  </tr>
      </table></td>
  </tr>
  <tr>
    <td class="infoBox" align="left"><table width="95%"  border="0" cellpadding="2" cellspacing="0">
        <tr>
          <td class="blockTitle">        
    [[Please enter the article number from our catalogue.]]
    <table width="100%"  border="0" cellpadding="2" cellspacing="0">
      <tr valign="middle">
        <td>{$INPUT_FIELD}</td>
        <td align="left" width="100%">{$SUBMIT_BUTTON}</td>
      </tr>
     <tr>
       <td colspan="2"><div class="ajaxAddQuickie" id="ajaxAddQuickie" style="text-align: left;"></div></td>
     </tr>
    </table></td>
        </tr>
    </table></td>
  </tr>
</table>
{$FORM_END}
{literal}
<script language="javascript" type="text/javascript">
	function ajaxAddQuickie(elt) {
//		if(ajaxAddQuickieUpForm.quickie.value.length > 2)
			loadXMLDoc('ajaxAddQuickie', hashFormFields(ajaxAddQuickieUpForm), true);
	}
	var timeout = null;
	var ajaxAddQuickieUpForm = null;
	function ajaxAddQuickieUp(elt) {
		ajaxAddQuickieUpForm = elt.form;
	  if (timeout) clearTimeout(timeout);
	  timeout = setTimeout('ajaxAddQuickie()', 500);
	}
</script>
{/literal}
