div.tabsheets { background: #ffffff; padding: 0.5em; }
.tabsheets dt, .tabsheets dd {
        margin: 0;
        padding: 0;
        width: auto;
        border: none;
}
.tabsheets dt, .tabsheets dd {
        background-color: #ffffff;
        border: 1px solid #7a7a7a;
        border-top-color: #7a7a7a;
        border-right-color: #7a7a7a;
        border-bottom-color: #7a7a7a;
        border-left-color: #7a7a7a;
        margin: 2;
        padding: 0;
}
.tabsheets dd {
        background-color: #fbfbfb;
}
.tabsheets dl {
        position: relative;
        padding: 0;
        height: 99px;
        margin-bottom: 10px;
}
.tabsheets dt {
        float: left;
        padding: 0.2em 0.5em;
        cursor: default;
        white-space: nowrap;
        margin-top: 0.1em;
        margin-bottom: -0.2em;
}
.tabsheets dt.active {
        background-color: #dddddd;
        color: ButtonText;
        margin-top: 0;
        padding-bottom: 0.5em;
}
.tabsheets dd {
        position: absolute;
        width: 100%;
        display: block;
        left: 0;
        margin: 1.6em 0 1em 0;
        padding: 0;
}
.tabsheets dd.inactive {
        display: none;
}
.tabsheets dd.inactive iframe, .tabsheets dd.inactive select, .tabsheets dd.inactive textarea, .tabsheets dd.inactive input {
        display: none ! important;
}
.tabsheets dd.active {
        display: block;
}
.tabsheets .reducer {
        margin: 1.5em;
}
