{config_load file="$language/lang_$language.conf" section="index"}
{config_load file="$language/lang_$language.conf" section="boxes"}
<!-- Sign in / sign up modal-->
{include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/modals/sign-in-modal.html"}
<!-- Quick View Modal-->
{include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/modals/quick-view-modal.html"}
<!-- Navbar 3 Level (Light)-->
{include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/header/header.html"}
<!-- Hero slider-->
{include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/slider/hero-slider.html"}
<!-- Shop by categories-->
{include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/categories/categories.html"}
<!-- Products grid (Trending products)-->
{include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/trending-products/trending-products.html"}
<!-- Banners-->
{include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/banners/banners.html"}
<!-- Featured category (Hoodie)-->
{include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/featured-category/featured-category.html"}
<!-- Shop by brand-->
{include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/brands/brands.html"}
<!-- Product widgets-->
{include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/widgets/mainpage-widgets.html"}
<!-- Blog + Instagram info cards-->
{include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/widgets/instagram.html"}
<!-- Footer-->
{include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/footer/footer.html"}
<!-- Toolbar for handheld devices (Default)-->
{include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/navbar/handheld-toolbar.html"}
<!-- Back To Top Button-->
{include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/other/back-to-top-button.html"}