{config_load file="$language/lang_$language.conf" section="boxes"}
{if $deny_cart neq 'true'}
<!-- shopping_cart //-->
<table border="0" width="100%" cellspacing="0" cellpadding="1" class="infoBox">
  <tr>
    <td><table border="0" width="100%" cellspacing="0" cellpadding="3" class="infoBoxContents">
  <tr>
    <td class="boxText">
    <!-- table -->
    <table border="0" width="100%" cellspacing="0" cellpadding="0" class="cartBox">
        <tr class="cartBox">
          <td colspan="2" class="cartHeader">
            <img src="{$tpl_path}img/corners/corner_top_left.gif" align="left" hspace="0" alt="" />
            <img src="{$tpl_path}img/corners/corner_top_right.gif" align="right" hspace="0" alt="" />&nbsp;&raquo;&nbsp;{#heading_cart#}
          </td>
        </tr>
{if $empty=='false'}
    <tr class="cartBox">
      <td width="100%" class="cartBoxContents" align="left">
<!-- содержимое корзины -->
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
				{foreach name=aussen item=products_data from=$products}
				  <tr>
					<td class="main" align="left">&nbsp;{$products_data.QTY}&nbsp;x&nbsp;</td>
					<td class="main" width="100%" align="left"><a href="{$products_data.LINK}">{$products_data.NAME|truncate:15:"...":true}</a></td>
				  </tr>
				{/foreach}
				</table>
<!-- /содержимое корзины -->
      </td>
      <td align="center">
        <img src="{$tpl_path}img/cart_big_full.gif" alt="" hspace="0" vspace="3" />
      </td>
    </tr>

            {if $DISCOUNT}
			<tr class="cartBox">
              <td colspan="2" align="right" class="productDiscountPrice">{#text_discount#}&nbsp;{$DISCOUNT}</td>
            </tr>{/if}

{else} <!-- cart has no content --> 
    <tr class="cartBox">
      <td width="100%" class="cartBoxContents" align="right">
      {#text_empty_cart#}
      </td>
      <td align="center">
        <img src="{$tpl_path}img/cart_big_empty.gif" alt="" hspace="0" vspace="3" />
      </td>
    </tr>
{/if}


{if $coupon_valid == 'true'}
    <tr class="cartBox">
      <td width="100%" class="cartBoxContents" align="right">
<table class="infoBoxContents" width="100%"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="infoBox_right"><img src="{$tpl_path}img/img_gift.gif" alt="" /></td>
    <td valign="middle" class="infoBox_right">
	<table width="95%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="{$tpl_path}img/pixel_trans.gif" alt="" width="100%" height="1" /></td>
      </tr>
      <tr>
        <td align="center" class="smalltext">{#cart_coupon#}</td>
      </tr>
      <tr>
        <td align="center" class="gvBox" valign="bottom">{$coupon_amount}</td>
      </tr>
    </table>
	</td>
  </tr>
</table>

<table cellpadding="0" width="100%" cellspacing="0" border="0">
  <tr>
    <td class="infoBox_right"><img src="{$tpl_path}img/pixel_trans.gif" alt="" width="100%" height="1" /></td>
  </tr>
</table>

</tr>
</td>
{/if}

{if $empty=='false'}    
    <tr class="cartBox">
      <td colspan="2">
        <img src="{$tpl_path}img/corners/corner_bottom_left.gif" align="left" hspace="0" alt="" />
      </td>
    </tr>
    <tr class="cartBox1">
      <td colspan="2" class="cartBox1">
        <table width="100%" cellspacing="0" cellpadding="0" class="cartBox1">
           <tr>
             <td width="100%" class="cartBoxContents" align="right"></td>
             <td class="price"><nobr>&nbsp;{$UST}<strong>{#text_total#}</strong> {$TOTAL}&nbsp;</nobr></td>
           </tr>
           <tr>
             <td width="100%"></td>
             <td class="price">
               <img src="{$tpl_path}img/corners/corner_bottom_left.gif" align="left" hspace="0" alt="" />
               <img src="{$tpl_path}img/corners/corner_bottom_right.gif" align="right" hspace="0" alt="" />
             </td>
           </tr>
        </table>
      </td>
    </tr>
{else} <!-- cart has no content -->     
    <tr class="cartBox">
      <td colspan="2">
        <img src="{$tpl_path}img/corners/corner_bottom_left.gif" align="left" hspace="0" alt="" />
        <img src="{$tpl_path}img/corners/corner_bottom_right.gif" align="right" hspace="0" alt="" />
      </td>
    </tr>
{/if}
    </table>
    <!-- /table -->
   </td>
  </tr>

  <tr>
    <td><img src="{$tpl_path}img/pixel_trans.gif" border="0" alt="" width="100%" height="1" /></td>
  </tr>
</table>
</td>
  </tr>
</table>
<!-- shopping_cart_eof //-->
{/if}