body {
  background: #fff;
  font-family: "Roboto",Helvetica,Arial,sans-serif;
  font-weight: 500;
}

.title,
.title a,
.title a:hover {
  font-size: 15px;
}

h1,
h1 a,
h1 a:hover {
  font-size: 1.6rem;
}

h2,
h2 a,
h2 a:hover {
  font-size: 1.5rem;
}

h3,
h3 a,
h3 a:hover {
  font-size: 1.4rem;
}

header {
  background: transparent;
}

a {
  color: #0654A7;
}

a:hover {
  color: #004A99;
}

p {
  margin-bottom: .7rem;
}

/* Remove outline */
button:focus, button:active, a, a:hover {
   outline: none;
}
/* /Remove outline */

/* Owl Nav */
.owl-prev, .owl-next,
.owl-prev.disabled, .owl-next.disabled {
  z-index: 9;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute; }

.owl-prev, .owl-prev.disabled {
  left: 0px;
  }

.owl-next, .owl-next.disabled {
  right: 0px;
  }

.owl-theme .owl-nav {
  margin-top: 0;
}

.owl-carousel .owl-nav button.owl-prev {
    border-radius: 15% 0 0 15%;
}

.owl-carousel .owl-nav button.owl-next {
    border-radius: 0 15% 15% 0;
}
  
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next.disabled, .owl-carousel .owl-nav button.owl-prev.disabled {
    padding: 20px 5px !important;
    margin: -0em -21px 0 -21px;
    border: 1px solid #dadada;
    color: #1e1e1e;
    /*box-shadow: -1px 0px 3px #dadada;*/
    background: #eee;
}
/* /Owl Nav */

/* preloading images */
.owl-item.loading{
	background: #fff url('../img/ajax-loader.gif') center center no-repeat; 
}

/* Owl Slides Equal Height */
.owl-stage {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 1em;
}

.owl-carousel .owl-stage-outer {
}

.owl-item img {
  margin: 0 auto !important;
  width: auto !important;
}	

.card-product {
  width: 100%;
  margin-bottom: 1em;
}

.card-product .bottom-wrap {
    border-top: 0;
}
/* /Owl Slides Equal Height */

/* Slick Slider */
.slick-track {
  margin-left: 0;
}
/* /Slick Slider */

/* Lazy Load */
/*
.lazy.loading { 
  background: #fff url('../img/ajax-loader.gif') center center no-repeat; 
}
*/
.lazy {
 /*opacity: 0;*/
 transition: opacity 400ms ease-in; 
}

.lazy[src^=""], .lazy:not([src]) {
  max-height: 0; 
}
 
.lazy {
  transform-style: preserve-3d; 
}

img.lazy:not([src]) {
  visibility: hidden;
}

/* /Lazy Load */

/* Main */
.mainWrapper {
    padding-bottom: 1rem; 
    padding-left: 0px;
    padding-right: 0px;
    display: block;
    background: transparent;
    border-radius: 0;
}

.card-deck .card {
  margin-left: 0;
}

.card-footer {
  background: #fff;
  border-top: 0px;
  padding: .5em;
}

.category.card-body {
  padding-bottom: 0;
}

.card-body {
  padding: .5em;
}

.card.card-product .card-footer {
  padding-top: 0;
}

.category.card-footer {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0 .5em 1em .5em;
}

.card-deck {
  padding-left: 0px;
  padding-right: 0px;
}

.card-deck .col-12,
.card-deck .col-sm-6,
.card-deck .col-md-4,
.card-deck .col-lg-4,
.card-deck .col.xl-3 {
  padding-bottom: 20px;
}

@media (max-width: 576px) {
.card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
}
}

.card-product {
    -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
    -webkit-transition: .5s;
    transition: .5s;
}

.card-product:hover {
    -webkit-box-shadow: 0 0 0 1px rgba(13,35,67,.07), 0 5px 15px -4px rgba(13,35,67,.4);
    box-shadow: 0 0 0 1px rgba(13,35,67,.07), 0 5px 15px -4px rgba(13,35,67,.4);
    -webkit-transition: .5s;
    transition: .5s;
}

.card.card-product:hover .img-wrap img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;  
}

.card.card-product .img-wrap img {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.card.card-product .info-wrap {
  padding: 0;
}

.card-product {
  width: 100%;
  margin-bottom: 1em;
}

.card-product .bottom-wrap {
    border-top: 0;
}
/* /Main */


/* Star Rating */
.rating {
  background-color: transparent;
  color: orange;
  right: 0;
  padding: 0 1px 0 0;
  font-size: 14px;
  text-align: center;
}
/* /Star Rating */


/* Scroll To Top */
a#scrollup {
  bottom: 50px;
  right: 30px;
  padding: 5px 10px;
  background: #dd2c00;
  color: #fff;
}

a#scrollup i{
  font-size: 16px;
}

a#scrollup:hover {
  background: #d50000;
}	

/* /Scroll To Top */

.dropdown-menu.cart {
  min-width: 300px; 
  margin: 1em 0 0 0;
  position: absolute; 
  right: 0; /* Открывать корзину вправо */ 
  left: auto; /* Открывать корзину влево */   
}

@media (max-width: 992px) {
.dropdown-menu.cart {
  min-width: 300px; 
  margin: 1em 0 0 0;
  position: absolute; 
  right: auto; /* Открывать корзину вправо */ 
  left: 0; /* Открывать корзину влево */   
}
}

.btn-group-xs > .btn, .btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .5;
    border-radius : .75rem;
}

/* Products Gallery */
.gallery-wrap .img-small-wrap .item-gallery {
  border: 0px !important;
}

.card-product .img-wrap {
  height: auto;
  /*min-height: 30vh;*/
}
/* /Products Gallery */


/* Products Filter Collapse On Mobile */
@media (min-width: 1200px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}
/* /Products Filter Collapse On Mobile */


/* Nav Buttons Margin On Mobile */
@media (max-width: 992px) {
.nav-item .btn {
    margin: 7px 0 !important;
}
}
/* /Nav Buttons Margin On Mobile */

/* Tabs */

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #0056B3;
    border: 2px solid #0056B3;
    background: #fff;
}
.nav-tabs .nav-link {
    color: #575757;
    border: 2px solid #dee2e6;
    border-radius: 50rem;
}
.nav-item {
    padding-right: .5em;
    padding-bottom: .5em;
}

.nav-tabs .nav-item.active .nav-link, 
.nav-tabs .nav-link:hover, 
.nav-tabs .nav-link:focus {
    color: #0056B3;
    border-color: #0056B3;
    cursor: pointer;
    background: #fff;
}

.tab-pane {
  border-top: 0;	
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  background: #fff;
  padding: .5em;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
}
.tab-content {
  margin-bottom: 1em;
}
/* /Tabs */

/*.list-group-item {
  border: 0;
}
*/
li.level2 {
  padding: .5rem 0 0 0;
}
li.level3 {
  padding: .75rem 0 0 0;
}

.container {
}

@media (min-width: 768px) {
.container {
    max-width: 100%;
}
}
@media (min-width: 576px) {
.container {
    max-width: 100%;
}
}

@media (min-width: 992px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1360px;
  }
}

.header-logo {
  background: #f8f8f8;
}

.header-logo a {
  color: #575757;
}

.input-group.product-info .input-group-append .btn {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.label-rating {
  display: block;
  padding-left: 0em;
}

.rating-wrap {
  padding-bottom: 0em; 
}

.card.card-product .carousel-control-prev span,
.card.card-product .carousel-control-next span {
    padding: 9px 10px !important;
    margin: 0;
    border-radius: 50%;
    border: 1px solid #dadada;
    color: #000;
    box-shadow: -1px 0px 3px #dadada;
    background: #eee;	
}

.card.card-product .carousel-control-prev span:hover,
.card.card-product .carousel-control-next span:hover {
    outline: none;
    color: #494f4d;
    background: #e0e0e0;
}

.card.card-product .carousel-indicators li {
    background-color: #575757;
}

.text-muted,
.address {
    color: #575757 !important;
}

.btn-outline-primary {
    color: #0051A8;
    border-color: #0051A8;
}

.btn-secondary,
.badge-secondary,
.bg-secondary {
    background-color: #575757 !important;
    border-color: #575757;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #6c757d !important;
    border-color: #545b62 !important;
}

.btn-group .btn-secondary.active {
    color: #fff;
    background-color: #6c757d !important;
    border-color: #545b62 !important;
}

.module,
.mainContent {
  padding: 0;
  margin: 0 0 .5em 0;
  background-color: transprent;
  border: 0px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  /*box-shadow: 0 4px 15px rgba(153,153,153,.3);*/
  transition: .5s;
}

.cookie-alert{
    position: fixed;
    z-index: 9999999;
    bottom: 0px;
    left:2%;
    width: 96%;
    opacity: 0.9;
}

.inner {
	padding: .4em 0 0 0;
}

.progress-bar {
  background: #0051A8;
}

.progress-label {
  float: left;
  margin-right: 1em;
}

.shipping-methods .shipping-method .shipping-fields,
.payment-methods .payment-method .payment-fields {
    display: none;
}

.shipping-method.card.card-product .card-footer,
.payment-method.card.card-product .card-footer {
  padding: 0;
  margin: 0;
  background: #fff;
}

.shipping-methods .shipping-method.card,
.payment-methods .payment-method.card {
	border-radius: 0;
}

.shipping-methods .shipping-method.card .card-footer,
.payment-methods .payment-method.card .card-footer {
  border-top: 0px;
}

.shipping-method.selected .shipping-fields,
.shipping-method:hover .shipping-fields,
.payment-method.selected .payment-fields,
.payment-method:hover .payment-fields {
  display: block;
  width: calc(100% + 2px);
  position: absolute;
  overflow: hidden;
  padding: 0 .5em;
  z-index: 100;
  margin-left: -1px;
  background: #fff;
  border-left: 1px solid rgba(0,0,0,.125);
  border-right: 1px solid rgba(0,0,0,.125);
  border-top: 0px solid rgba(0,0,0,.125);
  border-bottom: 1px solid rgba(0,0,0,.125);
  webkit-box-shadow: 0 14px 15px rgba(153,153,153,.3);
  box-shadow: 0 14px 15px rgba(153,153,153,.3);
  -webkit-transition: .5s;
  transition: .5s;
}

.shipping-method.selected,
.payment-method.selected {
  webkit-box-shadow: 0 14px 15px rgba(153,153,153,.3);
  box-shadow: 0 14px 15px rgba(153,153,153,.3);
  -webkit-transition: .5s;
  transition: .5s;
}

.shipping-method:hover,
.payment-method:hover {
  border-top: 1px solid #dd2c00;
  border-left: 1px solid #dd2c00;
  border-right: 1px solid #dd2c00;
  border-bottom: 1px solid #dd2c00;
  border-radius: 0px;
  -webkit-transition: .2s;
  transition: .2s;
}

.shipping-method:hover .shipping-fields,
.payment-method:hover .payment-fields {
  border-top: 0px solid #dd2c00;
  border-left: 1px solid #dd2c00;
  border-right: 1px solid #dd2c00;
  border-bottom: 1px solid #dd2c00;
  border-radius: 0px;
  -webkit-transition: .5s;
  transition: .5s;
}

.selected {
  border-top: 1px solid #dd2c00;
  border-left: 1px solid #dd2c00;
  border-right: 1px solid #dd2c00;
  border-bottom: 1px solid #dd2c00;
  border-radius: 0px;
}

.shipping-method.selected .shipping-fields,
.payment-method.selected .payment-fields {
  border-top: 0px;
  border-left: 1px solid #dd2c00;
  border-right: 1px solid #dd2c00;
  border-bottom: 1px solid #dd2c00;
  border-radius: 0px;
}

#searchPreview table {
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
  background: #fff; 
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#footer [class^="fa fa-"],
#footer [class*=" icon-"] {
  color: #fff
}
#footer .widget-title {
  font-weight: bold;
  margin-top: 0;
  color: #ffffff;
}
#footer .widget-title .text-info {
  color: #fff;
}
#footer .widget-title.do {
  cursor: pointer;
  position: relative;
}
#footer .widget-title.do:after {
  font-family: "Font Awesome 5 Free";
  color: #fff;
  content: "\f0c9";
  position: absolute;
  right: 0px;
  top: 0px;
}
#footer .widget-title.do:hover:after {
  color: #fff;
}
#footer .widget-title.do:hover .text-info {
  color: #fff;
}
#footer .widget-inner {

}

.pulse-button {
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  cursor: pointer;
  -webkit-animation: pulse 4.1s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 4.1s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 4.1s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 4.1s infinite cubic-bezier(0.66, 0, 0, 1);
  animation-delay: 0s;
}
.pulse-button:hover 
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

.chip {
    display: inline-block;
    height: 32px;
    padding: 0 12px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 32px;
    cursor: pointer;
    border-radius: 16px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.chip.chip-md {
    height: 42px;
    line-height: 42px;
    border-radius: 21px;
}

.chip.chip-lg {
    height: 52px;
    line-height: 52px;
    border-radius: 26px;
}

.chip.chip-md img {
    height: 42px;
    width: 42px;
}

.chip.chip-lg img {
    height: 52px;
    width: 52px;
}

.chip img {
    float: left;
    width: 32px;
    height: 32px;
    margin: 0 8px 0 -12px;
    border-radius: 50%;
}

.waves-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.orange {
  cursor: pointer;
  background: transparent;
  color: #007bff;
}

.orange:hover {
  cursor: pointer;
  background: transparent;
  color: #333;
}

.bg-orange {
  background: #dd2c00;
}

.mainpage-tabs .tab-pane,
.mainpage-tabs .tab-content {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  -webkit-box-shadow: 0 0px 0px 0 transparent;
  box-shadow: 0 0px 0px 0 transparent;
}

.mainpage-tabs .nav-tabs {
  border-bottom: 0;
}

.mainpage-tabs .carousel-indicators {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    list-style: none;
}

.mainpage-tabs .carousel-indicators li {
  width: auto;
  height: auto;
  margin-right: 0;
  margin-left: 0;
  text-indent: initial;
  cursor: pointer;
  background-color: transparent;
  background-clip: padding-box;
  border-top: 0;
  border-bottom: 0;
  opacity: 1;
}

.mainpage-tabs .carousel-indicators h3 {
    display: inline;
    width: auto;
}


.wsmobileheader .wscart {
    background-color: transparent;
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 44px;
    padding: 18px 22px;
    cursor: pointer;
}

.wsmobileheader .wscart i {
    font-size: 18px;
    color: #9196a0;
}

.wscart .wsmegamenu.halfdiv,
.wscart .hidetxt {
  display: none;
}

.wscart em.roundpoint {
  position: absolute;
  top: 14px;
  /*right: 21px;*/
  left: 12px;
  right: auto;
  width: 17px;
  height: 17px;
  background-color: #DA4B38;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 9px;
  text-align: center;
  font-style: normal;
  line-height: 16px;
  color: #fff;
}

.duplicate-order .active, .accordion:hover {
  background-color: #ccc;
}

.duplicate-order .panel {
  padding: 0px 18px 20px;
  background-color: white;
}

.duplicate-order .accordion .buttons:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
    font-size: 13px;
  color: #777;
  margin-left: 5px;
}

.duplicate-order .accordion.collapsed .buttons:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  margin-left: 5px;
}

@media(max-width: 991px) {
	.duplicate-order .product-image {
		max-height: 150px;
		width: auto !important;
	}
}

.text-primary {
  color: #0654a7 !important;
}

#checkout .form-check-input {
    position: relative;
    margin-top: 0;
    margin-left: 0;
}

#create_account_form span.Requirement, 
#checkout span.Requirement {
  display: none;
}


#checkout .form-check {
  padding-left: 0;
}

.sticky-top {
		position: static;
}

@media(min-width: 1200px) {
	.sticky-top {
		position: fixed;
		z-index: 9999;
		/*top: 110px;*/
	}
}

.checkout-cart-scroll {
  max-height: 270px;
  overflow-y: auto;
  overflow-x: hidden;
}

#footer {
  z-index: 99999;
}

.card-header {
  padding: .75em .65em;
}

.login-form {
  max-width: 330px;
  margin: 0 auto;
}

.social-login span {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-login span:before,
.social-login span:after {
    content: '';
    border-top: 2px solid #a6a6a6;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

.social-login span:after {
    margin: 0 0 0 20px;
}

.wsmain .input-group>.form-control, .input-group>.form-control-plaintext, .input-group>.custom-select, .input-group>.custom-file,
.CartContentLeft .input-group>.form-control, .input-group>.form-control-plaintext, .input-group>.custom-select, .input-group>.custom-file {
    position: relative;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 90px;
    margin-bottom: 0;
}
