<div class="handheld-toolbar">
  <div class="d-table table-layout-fixed w-100">

 {if !$wishlist_current}
 {if $smarty.const.ENABLE_WISHLIST == 'true'}
 <div id="divWishlistHeader">
   {$box_WISHLIST}
 </div>
 {/if}
 {/if}  

  <a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)">
  <span class="handheld-toolbar-icon"><i class="fas fa-bars"></i></span><span class="handheld-toolbar-label">{$smarty.const.TEXT_MENU}</span>
  </a>
  
 {if !$cart_current}
   <div id="divShoppingCartHeader">
     {$box_CART}
   </div>
 {/if}  
  
  </div>
</div>
