<div class="handheld-toolbar">
  <div class="d-table table-layout-fixed w-100">

 {if {$current_category_id} > 0 && {$box_FILTERS} && !{$smarty.get.products_id} or {$current_category_id} > 0 && {$box_CATEGORIES2} && !{$smarty.get.products_id}}
 <a class="d-table-cell handheld-toolbar-item" href="#" data-bs-toggle="offcanvas" data-bs-target="#shop-sidebar">
     <span class="handheld-toolbar-icon"><i class="fas fa-sliders-h"></i></span><span class="handheld-toolbar-label">{$smarty.const.BOX_HEADING_PRODUCTS_FILTER}</span>
 </a>
 {/if}

 {if !$wishlist_current}
 {if $smarty.const.ENABLE_WISHLIST == 'true'}
 <div id="divWishlistHeader">
   {$box_WISHLIST}
 </div>
 {/if}
 {/if}  

  <a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)">
  <span class="handheld-toolbar-icon"><i class="fas fa-bars"></i></span><span class="handheld-toolbar-label">{$smarty.const.TEXT_MENU}</span>
  </a>
  
 {if !$cart_current}
   <div id="divShoppingCartHeader">
     {$box_CART}
   </div>
 {/if}  
  
  </div>
</div>