            <!-- Review-->
            <div class="product-review pb-4 mb-4 border-bottom">
              <div class="d-flex mb-3">
                <div class="d-flex align-items-center me-4 pe-2"><i class="fas fa-user fa-2x rounded-circle text-secondary"></i>
                  <div class="ps-3">
                    <h6 class="fs-sm mb-0">{$module_data.AUTHOR}</h6><span class="fs-ms text-muted">{$module_data.DATE_LONG}</span>
                  </div>
                </div>
                <div>
                  <div class="star-rating">
                  {$module_data.STAR_RATING}
                  </div>
                </div>
              </div>
              <div class="fs-md mb-2">

					<div class="desc" itemprop="reviewBody">
					{$module_data.TEXT}
					</div>
					{if {$module_data.REVIEWS_IMAGES}}
					<div class="owl-carousel owl-theme">
					{foreach name=aussen item=reviews_images from=$module_data.REVIEWS_IMAGES}
					<div class="card card-product card-sm h-100">
						<div class="card-body">
						{if {$reviews_images.IMAGE} != ''}
						<div class="img-wrap">
						<a class="lightbox" href="{$smarty.const.DIR_WS_CATALOG}{$smarty.const.DIR_WS_IMAGES}reviews/{$reviews_images.IMAGE}" title="{$PRODUCTS_NAME}"><img {if $smarty.const.ENABLE_LAZY_LOAD == 'true'}class="lazy" src="{$smarty.const.DIR_WS_IMAGES}pixel_trans.gif" data-src="{$smarty.const.DIR_WS_CATALOG}{$smarty.const.DIR_WS_IMAGES}reviews/{$reviews_images.IMAGE}"{else}src="{$reviews_images.IMAGE}"{/if} height="150" alt="{$PRODUCTS_NAME}"></a>
						</div>
						{/if}
						</div>
					</div>
					{/foreach}
					</div>
					{/if}
					{if {$module_data.ANSWER} != ''}
					<span class="font-weight-bold text-primary">{$smarty.const.TEXT_STORE_ANSWER}</span>
					<div class="desc" itemprop="reviewBody">
					{$module_data.ANSWER}
					</div>
					<br />
					{/if}
              
              </div>

              <div class="text-nowrap">

					{if $module_data.CUSTOMER}<span class="btn btn-rounded btn-sm"><i class="fas fa-user-check"></i> {$smarty.const.TEXT_BADGE_CUSTOMER}</span>{/if}

              </div>
            </div>
