    <div class="d-flex align-items-center pb-2 mb-2 border-bottom"><a class="d-block flex-shrink-0" href="{$module_data.PRODUCTS_LINK}"><img src="{$module_data.PRODUCTS_IMAGE}" width="64" alt="{$module_data.PRODUCTS_NAME}"></a>
      <div class="ps-2">
        <h6 class="widget-product-title"><a href="{$module_data.PRODUCTS_LINK}">{$module_data.PRODUCTS_NAME}</a></h6>
			{if $module_data.ATTRIBUTES!=''}
			{foreach key=key_data item=item_data from=$module_data.ATTRIBUTES} 
	       <div class="fs-sm"><span class="text-muted me-2">{$item_data.NAME}:</span>{$item_data.VALUE_NAME}</div>
			{/foreach}
			{/if}
        <div class="widget-product-meta"><span class="text-accent me-2">{$module_data.PRODUCTS_PRICE}</span><span class="text-muted">x {$module_data.PRODUCTS_QUANTITY}</span></div>
      </div>
    </div>