
/*#################### Right navigation Style Start Here ##################################*/
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] .menu-left-header,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] .menu-left-header {
  right: 0;
}

body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] .menu-right-header,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] .menu-right-header  {
  margin-left: 0;
  margin-right: 230px;
}
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"].left-navbar,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"].left-navbar {
  float: right;
}
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] .right-navbar,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] .right-navbar {
  float: left;
}
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] .menu-sidebar-toggle a:after,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] .menu-sidebar-toggle a:after {
  right: 0;
}
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] .left-navbar li:last-child,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] .left-navbar li:last-child {
  padding-right: 50px;
}
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] .left-navbar li:first-child,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] .left-navbar li:first-child {
  padding-right: 0px;
}

body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] #menu-left-panel,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] #menu-left-panel {
  right: 0;
}
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] #main-content,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] #main-content {
  margin-left: 0;
  margin-right: 230px;
}
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] #styleSelector,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] #styleSelector {
  left: -230px;
}
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] .selector-toggle > a,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] .selector-toggle > a {
  border-radius: 0 4px 4px 0;
  left: 228px;
}
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] #styleSelector.open,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] #styleSelector.open {
  right: 0;
  left: 0;
}
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] .selector-toggle > a:before,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] .selector-toggle > a:before {
    content: "\f101";
    font-weight: 900;
}
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] .open .selector-toggle > a:before,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] .open .selector-toggle > a:before {
    content: "\f100";
    font-weight: 900;
}
 
 
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] #menu-left-panel .panel-list > li.menu-has-menu > ul > li.menu-has-menu > ul > li > a span.menu-text,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] #menu-left-panel .panel-list > li.menu-has-menu > ul > li.menu-has-menu > ul > li > a span.menu-text {
    padding-left: auto;
    padding-right: 25px;
}
 
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] #menu-left-panel .panel-list > li.menu-has-menu > ul > li.menu-has-menu > ul > li > ul > li > a span.menu-text,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] #menu-left-panel .panel-list > li.menu-has-menu > ul > li.menu-has-menu > ul > li > ul > li > a span.menu-text {
  padding-left: auto;
  padding-right: 35px;
 
}
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] #menu-header.menu-minimized-lpanel > .menu-right-header,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] #menu-header.menu-minimized-lpanel > .menu-right-header {
  margin-left: 0px;
  margin-right: 50px;
}
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] .menu-minimized-lpanel #main-content,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] .menu-minimized-lpanel #main-content  {
  margin-left: 0px;
  margin-right: 50px;
}
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] .menu-minimized-lpanel #menu-left-panel,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] .menu-minimized-lpanel #menu-left-panel {
  direction: rtl;
}
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] .menu-minimized-lpanel #menu-left-panel .panel-list > li:hover > a span.menu-text, 
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] .menu-minimized-lpanel #menu-left-panel .panel-list > li:focus > a span.menu-text,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] .menu-minimized-lpanel #menu-left-panel .panel-list > li:hover > a span.menu-text, 
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] .menu-minimized-lpanel #menu-left-panel .panel-list > li:focus > a span.menu-text {
  right: 52px;
  left:auto;
}
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] .menu-minimized-lpanel #menu-left-panel .panel-list li:hover a .label,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] .menu-minimized-lpanel #menu-left-panel .panel-list li:hover a .label {
  left: 5px;
  right: auto;
}
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] .menu-minimized-lpanel #menu-left-panel .panel-list > li:hover > a, 
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] .menu-minimized-lpanel #menu-left-panel .panel-list > li:focus > a,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] .menu-minimized-lpanel #menu-left-panel .panel-list > li:hover > a, 
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] .menu-minimized-lpanel #menu-left-panel .panel-list > li:focus > a {
  border-radius: 4px 0px 0px 4px;
}
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] .menu-minimized-lpanel #menu-left-panel .panel-list > li.menu-has-menu:hover > ul.menu-sub-menu, 
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] .menu-minimized-lpanel #menu-left-panel .panel-list > li.menu-has-menu:focus > ul.menu-sub-menu,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] .menu-minimized-lpanel #menu-left-panel .panel-list > li.menu-has-menu:hover > ul.menu-sub-menu, 
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] .menu-minimized-lpanel #menu-left-panel .panel-list > li.menu-has-menu:focus > ul.menu-sub-menu  {
  left: auto;
  right: 50px;
}
 
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] .menu-minimized-lpanel #menu-left-panel .panel-list > li.menu-has-menu li.menu-has-menu > a:after,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] .menu-minimized-lpanel #menu-left-panel .panel-list > li.menu-has-menu li.menu-has-menu > a:after {
    float: left;
}
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] .menu-minimized-lpanel #menu-left-panel .panel-list > li.menu-has-menu li.menu-has-menu:hover > a:after,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] .menu-minimized-lpanel #menu-left-panel .panel-list > li.menu-has-menu li.menu-has-menu:focus > a:after,body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] .menu-minimized-lpanel #menu-left-panel .panel-list > li.menu-has-menu li.menu-has-menu:hover > a:after,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] .menu-minimized-lpanel #menu-left-panel .panel-list > li.menu-has-menu li.menu-has-menu:focus > a:after  {
    float: left;
}
 
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] .menu-minimized-lpanel #menu-left-panel .panel-list > li.menu-has-menu > ul.menu-sub-menu > li > a span.menu-text:before,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] .menu-minimized-lpanel #menu-left-panel .panel-list > li.menu-has-menu > ul.menu-sub-menu > li > a span.menu-text:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0d9";
    font-size: 14px;
    position: relative;
    float: right;
    left: 4px;
}
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] .menu-minimized-lpanel #menu-left-panel .panel-list > li.menu-has-menu > ul.menu-sub-menu > li.menu-has-menu > ul.menu-sub-menu > li > a span.menu-text:before,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] .menu-minimized-lpanel #menu-left-panel .panel-list > li.menu-has-menu > ul.menu-sub-menu > li.menu-has-menu > ul.menu-sub-menu > li > a span.menu-text:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0d9";
    font-size: 14px;
    position: relative;
    float: right;
    left: 4px;
}
 
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] .menu-minimized-lpanel #menu-left-panel .panel-list > li.menu-has-menu > ul > li.menu-has-menu > ul > li > a span.menu-text,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] .menu-minimized-lpanel #menu-left-panel .panel-list > li.menu-has-menu > ul > li.menu-has-menu > ul > li > a span.menu-text {
  padding-left: auto;
  padding-right: 0px;
}
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] .menu-minimized-lpanel #menu-left-panel .panel-list > li.menu-has-menu > ul.menu-sub-menu > li.menu-has-menu > ul.menu-sub-menu > li.menu-has-menu > ul.menu-sub-menu > li > a span.menu-text:before,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] .menu-minimized-lpanel #menu-left-panel .panel-list > li.menu-has-menu > ul.menu-sub-menu > li.menu-has-menu > ul.menu-sub-menu > li.menu-has-menu > ul.menu-sub-menu > li > a span.menu-text:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d9";
  font-size: 14px;
  position: relative;
  float: right;
  left: 4px;
}
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="desktop"] .menu-minimized-lpanel #menu-left-panel .panel-list > li.menu-has-menu > ul > li.menu-has-menu > ul > li > ul > li > a span.menu-text,
body[menu-nav-placement="right"] #menuapp-wrapper[menu-device-type="tablet"] .menu-minimized-lpanel #menu-left-panel .panel-list > li.menu-has-menu > ul > li.menu-has-menu > ul > li > ul > li > a span.menu-text {
  padding-left: auto;
  padding-right: 0px;
}
/*#################### Right Sidebar Style Close Here ##################################*/