			<div class="reviews_content">
			
				<div class="review_items reviews">
				
{foreach name=aussen item=module_data from=$module_content}
					<div class="item">
						<div class="autorBlock">
							<img src="{$module_data.REVIEWS_AVATAR}" alt="Отзыв">
							<p class="nameReview">{$module_data.REVIEWS_NAME}</p>
							<p class="revData">{$module_data.REVIEWS_DATE}</p>
							<div class="autorBlock_Rating">
								<p>Оценка <br> пользователя</p>
								<input class="input-3" name="input-3" value="{$module_data.REVIEWS_RATING}" class="rating-loading" data-size="xs">
							</div>
						</div>
						<p>{$module_data.REVIEWS_TEXT|strip_tags|vam_truncate:300:"...":true}</p>
					</div>
{/foreach}

				</div>

				<div class="searching">
				<div class="page page_review">
					<div class="page_select">
						<div>
							<!--<a href="{$smarty.const.FILENAME_COMPANY_REVIEWS_WRITE}?manufacturers_id={$MANUFACTURERS_ID}">Оставить отзыв о компании<i class="fa fa-commenting-o"></i></a>-->
							<a href="{$smarty.const.FILENAME_COMPANY_REVIEWS_WRITE}?manufacturers_id={$MANUFACTURERS_ID}" class="goToReview">Оставить отзыв о компании<i class="fa fa-commenting-o"></i></a>
						</div>
						<!--<div>
							<a href="{$smarty.const.FILENAME_COMPANY_REVIEWS}?manufacturers_id={$MANUFACTURERS_ID}">Читать отзывы о компании<i class="fa fa-commenting-o"></i></a>
							<a href="{$smarty.const.FILENAME_COMPANY_REVIEWS}?manufacturers_id={$MANUFACTURERS_ID}" class="goToReview">Читать отзывы о компании<i class="fa fa-commenting-o"></i></a>
						</div>-->
					</div>
					<div class="next_pages pagination_blog category_pages">
						{$NAVBAR}
					</div>
				</div>
			</div>
			</div>

