{config_load file="$language/lang_$language.conf" section="reviews"}
		<div class="company_tabs">
			<div class="reviews_content">
			
				<div class="review_items reviews">
{foreach name=aussen item=module_data from=$module_content} 
<p itemprop="review" itemscope itemtype="http://schema.org/Review">
<meta itemprop="itemReviewed" content="{$content_name}">
{$module_data.ID}&nbsp;&nbsp;&nbsp;<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{$module_data.AUTHOR}</span></span>&nbsp;&nbsp;&nbsp;<span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating"><span itemprop="ratingValue" content="{$module_data.RATING_TXT}">{$module_data.RATING}</span></span>&nbsp;&nbsp;&nbsp;<span content="{$module_data.DATE|date_format:"%Y-%m-%d"}" itemprop="datePublished">{$module_data.DATE|date_format:"%Y-%m-%d"}</span>&nbsp;&nbsp;&nbsp;<span itemprop="reviewBody">{$module_data.TEXT}</span>
</p>
<a href="{$module_data.LINK}"><u>Читать отзыв</u></a>
{/foreach} 

				</div>

			</div>

<div>
<br />
{$ADD_REVIEW}
</div>

	</div>
	
<div class="clear"></div>
<div class="navigation">
<span class="right">{$NAVBAR}</span>{$NAVBAR_PAGES}
</div>
<div class="clear"></div>	