#  -----------------------------------------------------------------------------------------
#  $Id: .htaccess,v 1.2 2007/02/06 21:33:56 VaM Exp $
#
#  VaM Shop - open source ecommerce solution
#  http://vamshop.ru
#
#  Copyright (c) 2007 VaM Shop
#  -----------------------------------------------------------------------------------------
#  based on: 
#  (c) 2000-2001 The Exchange Project 
#  (c) 2002-2003 osCommerce (.htaccess,v 1.1 2002/07/21); www.oscommerce.com
#  (c) 2003      nextcommerce (.htaccess,v 1.1 2003/09/06); www.nextcommerce.org
#  (c) 2004      xt:Commerce (.htaccess,v 1.1 2003/09/06); xt-commerce.com
#
#  Released under the GNU General Public License 
#  -----------------------------------------------------------------------------------------
# This is used with Apache WebServers
#
# The following makes adjustments to the SSL protocol for Internet
# Explorer browsers
#
# For this to work, you must include the parameter 'Limit' to the
# AllowOverride configuration
#
# Example:
#
#<Directory "/usr/local/apache/htdocs">
#  AllowOverride Limit
#</Directory>
#
# 'All' with also work. (This configuration is in your
# apache/conf/httpd.conf file)www
#php_flag register_globals off
<IfModule mod_setenvif.c>
  <IfDefine SSL>
    SetEnvIf User-Agent ".*MSIE.*" \
             nokeepalive ssl-unclean-shutdown \
             downgrade-1.0 force-response-1.0
  </IfDefine>
</IfModule>

# PHP 5, Apache 1 and 2.
<IfModule mod_php5.c>
php_value magic_quotes_gpc                0
php_value register_globals                0
php_value session.auto_start              0
php_value mbstring.http_input             pass
php_value mbstring.http_output            pass
php_value mbstring.encoding_translation   0
php_value default_charset UTF-8
php_value mbstring.internal_encoding UTF-8
php_value mbstring.language Russian
</IfModule>