{config_load file="$language/lang_$language.conf" section="boxes"}
{if $params_list}
<table width="100%" border="0" cellpadding="2" cellspacing="0">
  <tr>
    <td class="infoBoxHeading"><table width="100%"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="14" class="infoBoxHeading"><img src="{$tpl_path}img/infobox/corner_right_left.gif" border="0" alt="" /></td>
    <td width="100%" height="14" class="infoBoxHeading"><span class="categoriesBox">{#heading_filters#}</span></td>
    <td height="14" class="infoBoxHeading"><img src="{$tpl_path}img/pixel_trans.gif" border="0" alt="" width="11" height="14" /></td>
  </tr>
      </table></td>
  </tr>
  <tr>
    <td class="infoBox" align="left"><table width="95%"  border="0" cellpadding="2" cellspacing="0">
        <tr>
          <td class="blockTitle">
          
          
{literal}
<script language="JavaScript">
<!--
function open_hide_values(obj, a)
{
    obj = document.getElementById(obj);
    if (obj.style.display == '')
    {
        obj.style.display = 'none';
        a.innerHTML = '{/literal}{#text_filters_show#}{literal}'
    }
    else
    {
        obj.style.display = '';
        a.innerHTML = '{/literal}{#text_filters_hide#}{literal}'
    }
}
//-->
</script>
{/literal}

{foreach name=aussen item=parameter from=$params_list}
    {if $parameter.unhidden_count > 0}
    <div><strong> {$parameter.products_parameters_title}</strong></div>
    {foreach name=aussen1 item=parameter_data from=$parameter.values_list}
    {if $parameter_data.count > 0}
        {if !$parameter_data.is_hidden}
            {if !$parameter_data.is_selected}
                <a href="{$parameter.products_parameters_base_url}{$parameter_data.value_url_part}{if $price_min}&price_min={$price_min}{/if}{if $price_max}&price_max={$price_max}{/if}&c={$parameter.products_parameters_id}">{$parameter_data.value} ({$parameter_data.count})</a><br />
            {/if}
        {/if}
    {/if}
    {/foreach}

    {if $parameter.hidden_count > 0}
        <div id="hidden_values_{$parameter.products_parameters_id}" style="display: none; text-align: left;">
        {foreach name=aussen1 item=parameter_data from=$parameter.values_list}
        {if $parameter_data.count > 0}
            {if $parameter_data.is_hidden}
                {if !$parameter_data.is_selected}
                    <a href="{$parameter.products_parameters_base_url}{$parameter_data.value_url_part}{if $price_min}&price_min={$price_min}{/if}{if $price_max}&price_max={$price_max}{/if}&c={$parameter.products_parameters_id}">{$parameter_data.value} ({$parameter_data.count})</a><br />
                {/if}
            {/if}
        {/if}
        {/foreach}
        </div>
        <a href="javascript:void(0);" onclick="open_hide_values('hidden_values_{$parameter.products_parameters_id}', this);">{#text_filters_show#}</a>
    {/if}
    {/if}
{/foreach}

<br />

  <form action="{$smarty.const.FILENAME_DEFAULT}">
  <input type="hidden" name="cat" value="{$categories_id}" />
  {foreach name=aussen2 item=params_filter from=$current_filters}
  <input type="hidden" name="{$params_filter.name}" value="{$params_filter.value}" />
  {/foreach}
  {#text_filters_price#}:
  {#text_filters_price_from#}: <input type="text" size="3" name="price_min" /> {#text_filters_price_to#}: <input type="text" size="3" name="price_max" /> {$BUTTON_FILTER}
  </form>
          
          
          
          </td>
        </tr>

    </table></td>
  </tr>
</table>
{/if}