{config_load file="$language/lang_$language.conf" section="contact_us"}
<script type="text/javascript" src="jscript/jquery/jquery.js"></script>
<script type="text/javascript" src="jscript/modified.js"></script>
<script type="text/javascript">
{literal}
$(function () {
  $(window).load(function () {
    $('#contact_us :input:text:visible:enabled:first').focus();
  });
})
{/literal}
</script>
<h1 class="contentBoxHeading">{$CONTACT_HEADING}</h1>
{if $error_message!=''}
<div class="contacterror">{$error_message}</div>
{/if}
{if $success!='1'}
{$FORM_ACTION}
{$CONTACT_CONTENT}
<br />
<br />
{#text_name#}
<br />
{$INPUT_NAME}
<br />
<br />
{#text_email#}
<br />
{$INPUT_EMAIL}
<br />
<br />
{#text_message#}
<br />
{$INPUT_TEXT}
<br />
{$BUTTON_SUBMIT}
{$FORM_END}
{else}
{#text_success#}
<br />
{$BUTTON_CONTINUE}
{/if}