<h1 class="contentBoxHeading">[[Redeem Voucher]]</h1>
<table>
  <tr>
    <td class="main">[[Questions and answers regarding voucher you find under]]</td>
  </tr>
  {if $error eq 'true'}
  <tr>
    <td class="main">[[The entered voucher code is invalid or the voucher has been redeemed already. Please check your details again or contact us via the contact page]]</td>
  </tr>
  {else}
  <tr>
	<td class="main">[[Congartulations, have redeemed your voucher for]] {$coupon_amount} [[successfully]]</td>
  </tr>
  {/if}
  <tr>
    <td align="right"><br />
    {$LINK_DEFAULT}</td>
  </tr>
</table>