{config_load file="$language/lang_$language.conf" section="latest_news"} 
<h1 class="contentBoxHeading">{#heading_text#}</h1>
<table width="100%" border="0" cellpadding="0" cellspacing="4">
{if $ONE eq 1}
  {assign var="module_data" value=$module_content[0]}
  <tr>
    <td class="main" width="100%" valign="top">        <table  width="100%" border="0" cellpadding="0" cellspacing="0">

  <tr class="boxText">
    <td class="boxText" width="100%" colspan="2"><img src="{$tpl_path}img/pixel_trans.gif" border="0" alt="" width="1" height="5" /></td>
  </tr>
  <tr class="contentBoxContents1">
    <td class="contentBoxContents1">
    <img src="{$tpl_path}img/corners/corner_top_left.gif" border="0" alt="" align="left" hspace="0" />
    <img src="{$tpl_path}img/corners/corner_top_right.gif" border="0" alt="" align="right" hspace="0" />
  </td>
  </tr>
  <tr height="90" class="contentBoxContents1" valign="top">
    <td height="90" class="contentBoxContents1" valign="top">
      <table border="0" width="100%" cellspacing="5" cellpadding="0">
        <tr>
                <td class="contents">
                
                <span class="date">{$module_data.NEWS_DATA}</span><br /><strong><a href="{$module_data.NEWS_LINK_MORE}">{$module_data.NEWS_HEADING}</a></strong>
                
                </td>

                <td class="contents" align="right"></td>
                
        </tr>
        <tr>
                <td class="contents" valign="top" width="100%" colspan="2">


<table border="0" width="100%" cellspacing="0" cellpadding="0">

<tr>
        <td class="contents">

		<div style="padding-left:1em">
		{$module_data.NEWS_CONTENT}
		</div>

</td>
</tr>

</table>

                </td>

        </tr>
</table>
</td>
  </tr>
  <tr class="contentBoxContents1">

    <td class="contentBoxContents1">
    <img src="{$tpl_path}img/corners/corner_bottom_left.gif" border="0" alt="" align="left" hspace="0" />
    <img src="{$tpl_path}img/corners/corner_bottom_right.gif" border="0" alt="" align="right" hspace="0" />
    </td>

  </tr>

        </table></td>    
    
  </tr>
  <tr><td class="main" align="right"><a href="{$NEWS_LINK}">{#other_news#}</a></td></tr>
{else}
  <tr>

  {foreach name=aussen item=module_data from=$module_content}  {php} $col++;   {/php}

    <td class="main" width="100%" valign="top">        <table  width="100%" border="0" cellpadding="0" cellspacing="0">

  <tr class="boxText">
    <td class="boxText" width="100%" colspan="2"><img src="{$tpl_path}img/pixel_trans.gif" border="0" alt="" width="1" height="5" /></td>
  </tr>
  <tr class="contentBoxContents1">
    <td class="contentBoxContents1">
    <img src="{$tpl_path}img/corners/corner_top_left.gif" border="0" alt="" align="left" hspace="0" />
    <img src="{$tpl_path}img/corners/corner_top_right.gif" border="0" alt="" align="right" hspace="0" />
  </td>
  </tr>
  <tr height="90" class="contentBoxContents1" valign="top">
    <td height="90" class="contentBoxContents1" valign="top">
      <table border="0" width="100%" cellspacing="5" cellpadding="0">
        <tr>
                <td class="contents">
                
                <span class="date">{$module_data.NEWS_DATA}</span><br /><strong><a href="{$module_data.NEWS_LINK_MORE}">{$module_data.NEWS_HEADING}</a></strong>
                
                </td>

                <td class="contents" align="right"></td>
                
        </tr>
        <tr>
                <td class="contents" valign="top" width="100%" colspan="2">


<table border="0" width="100%" cellspacing="0" cellpadding="0">

<tr>
        <td class="contents">

		<div style="padding-left:1em">
		{$module_data.NEWS_CONTENT|truncate:$smarty.const.MAX_DISPLAY_LATEST_NEWS_CONTENT:" ..."}
		</div>

</td>
</tr>

</table>

                </td>

        </tr>
</table>
</td>
  </tr>
  <tr class="contentBoxContents1">

    <td class="contentBoxContents1">
    <img src="{$tpl_path}img/corners/corner_bottom_left.gif" border="0" alt="" align="left" hspace="0" />
    <img src="{$tpl_path}img/corners/corner_bottom_right.gif" border="0" alt="" align="right" hspace="0" />
    </td>

  </tr>

        </table></td>  {php}   if ($col>=1) {  $col=0;  echo '</tr><tr>';  }  {/php}  {/foreach}  
  </tr>
<div class="clear"></div>
<div class="navigation">
{$NAVIGATION_BAR}
</div>
<div class="clear"></div>
{/if}
</table>
<br />