<h1 class="contentBoxHeading"><a class="contentBoxHeading1" href="{$NEW_PRODUCTS_LINK}">[[New Products]]</a></h1>
<table width="100%" border="0" cellspacing="0" cellpadding="4">  <tr>  {foreach name=aussen item=module_data from=$module_content}  {php} $col++;   {/php}    <td class="main" width="50%" valign="top">        <table  width="100%" border="0" cellpadding="0" cellspacing="0">

  <tr class="boxText">
    <td class="boxText" width="100%" colspan="2"><img src="{$tpl_path}img/pixel_trans.gif" border="0" alt="" width="1" height="5" /></td>
  </tr>
  <tr class="contentBoxContents1">
    <td class="contentBoxContents1">
    <img src="{$tpl_path}img/corners/corner_top_left.gif" border="0" alt="" align="left" hspace="0" />
    <img src="{$tpl_path}img/corners/corner_top_right.gif" border="0" alt="" align="right" hspace="0" />
  </td>
  </tr>
  <tr height="90" class="contentBoxContents1" valign="top">
    <td height="90" class="contentBoxContents1" valign="top">
      <table border="0" width="100%" cellspacing="5" cellpadding="0">
        <tr>
                <td colspan="2" class="contents" align="center">
                <strong><a href="{$module_data.PRODUCTS_LINK}">{$module_data.PRODUCTS_NAME}</a></strong>
                </td>
        </tr>
        <tr>
                <td class="contents" width="100%">
                
        {if $module_data.PRODUCTS_IMAGE}<a href="{$module_data.PRODUCTS_LINK}"><img src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_NAME}" /></a>{/if}
                
                </td>

                <td class="contents" align="right">
                
             {$module_data.PRODUCTS_BUTTON_BUY_NOW_NEW}

                </td>
                
        </tr>
        <tr>
                <td class="contents" valign="top" width="100%" colspan="2">


<table border="0" width="100%" cellspacing="0" cellpadding="0">

        <tr>
                <td colspan="2" class="contents" align="left">

            <strong>{$module_data.PRODUCTS_PRICE}</strong><br /> 			{if $module_data.PRODUCTS_VPE}{$module_data.PRODUCTS_VPE}<br />{/if}			{$module_data.PRODUCTS_TAX_INFO}{$module_data.PRODUCTS_SHIPPING_LINK}<br />

                </td>
        </tr>

</table>

                </td>

        </tr>
</table>
</td>
  </tr>
  <tr class="contentBoxContents1">

    <td class="contentBoxContents1">
    <img src="{$tpl_path}img/corners/corner_bottom_left.gif" border="0" alt="" align="left" hspace="0" />
    <img src="{$tpl_path}img/corners/corner_bottom_right.gif" border="0" alt="" align="right" hspace="0" />
    </td>

  </tr>

        </table></td>  {php}   if ($col>=2) {  $col=0;  echo '</tr><tr>';  }  {/php}  {/foreach}    </tr></table>