<font size="3" face="Verdana, Arial, Helvetica, sans-serif"><strong>[[Customer reviews:]]</strong></font><font color="#666666" size="3" face="Verdana, Arial, Helvetica, sans-serif"><strong> 
 {$PRODUCTS_NAME}</strong></font><br />
<br />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td width="1" class="main" style="border-bottom: 1px solid; border-color: #cccccc;"><strong>[[Nr.]]</strong></td>
    <td style="border-bottom: 1px solid; border-color: #cccccc;" class="main"><strong>[[Author]]</strong></td>
    <td style="border-bottom: 1px solid; border-color: #cccccc;" class="main"><strong>[[Evaluation]]</strong></td>
    <td style="border-bottom: 1px solid; border-color: #cccccc;" class="main"><div align="right"><strong>[[Date]]</strong></div></td>
  </tr>
  {foreach name=aussen item=module_data from=$module_content} 
  <tr> 
    <td class="main">{$module_data.ID}</td>
    <td class="main">{$module_data.AUTHOR}</td>
    <td class="main"><div align="left">{$module_data.RATING}</div></td>
    <td class="main"><div align="right">{$module_data.DATE}</div></td>
  </tr>
  {/foreach} 
</table>
