	<div class="box h-100">
			<div class="itemside">
				<div class="aside align-top">
					<span class="icon-wrap icon-md round bg-warning">
						<i class="fa fa-lightbulb white"></i>
					</span>
				</div>
				<div class="text-wrap" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
					<h5 class="title">{$module_data.FAQ_DATA} - <a href="{$module_data.FAQ_LINK_MORE}"><span itemprop="name">{$module_data.FAQ_QUESTION}</span></a></h5>
					<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
					<div itemprop="text">
					{$module_data.FAQ_ANSWER|vam_truncate:$smarty.const.MAX_DISPLAY_FAQ_ANSWER:" ..."}
					</div>
					</div>
				</div>
			</div>
	</div>