<!-- Product Card Simple -->
		<div class="card card-product card-sm h-100">
      <div class="card-body">
		<span class="badge-offer pt-2">{$module_data.BOX_DELETE}</span>
			<div class="img-wrap"><a href="{$module_data.PRODUCTS_LINK}" title="{$module_data.IMAGE_ALT}"><img class="img-md" src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.IMAGE_ALT}"></a></div>
			<div class="info-wrap text-center">
				<div class="title"><a href="{$module_data.PRODUCTS_LINK}" title="{$module_data.IMAGE_ALT}">{$module_data.PRODUCTS_NAME}</a></div>
				<div class="price-wrap font-weight-bold small text-muted">
					<strong>{$module_data.PRODUCTS_PRICE}</strong>
				</div>
				{if $module_data.PRODUCTS_SHIPPING_TIME neq ""}<p><span class="text-muted small">{#text_shippingtime#}&nbsp;{$module_data.PRODUCTS_SHIPPING_TIME}</span></p>{/if}
				<div class="small attributes">
				{if $module_data.ATTRIBUTES!=''}
				{foreach key=key_data item=item_data from=$module_data.ATTRIBUTES} 
				<p>{$item_data.NAME}: {$item_data.VALUE_NAME}</p>
				{/foreach}
				{/if}
				</div> 					
			</div>
      </div>
      <div class="card-footer text-left">
      {#text_qty#}:
         <div class="input-group">
         <div class="input-group-prepend">
	       {$module_data.MINUS}
         </div>
         {$module_data.PRODUCTS_QTY}
         <div class="input-group-append">
	       {$module_data.PLUS}
         </div>
         </div>
      </div>
    			
		</div>
<!-- /Product Card Simple -->
			