  <div class="card card-product">
	<div class="card-body">
	<div class="row">
		{if $module_data.PRODUCTS_LABEL}{$module_data.PRODUCTS_LABEL}{/if}
		<div class="col-md-3">
			<div class="img-wrap"><a href="{$module_data.PRODUCTS_LINK}" title="{$module_data.IMAGE_ALT}"><img class="img-sm" src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.IMAGE_ALT}"></a></div>
		</div>
		<div class="col-md-9">
				<span class="title"><a href="{$module_data.PRODUCTS_LINK}" title="{$module_data.IMAGE_ALT}">{$module_data.PRODUCTS_NAME}</a></h6>
				{if $module_data.PRODUCTS_SHIPPING_TIME neq ""}<p><span class="text-muted small">{#text_shippingtime#}&nbsp;{$module_data.PRODUCTS_SHIPPING_TIME}</span></p>{/if}
				<div class="attributes">
				{if $module_data.ATTRIBUTES!=''}
				{foreach key=key_data item=item_data from=$module_data.ATTRIBUTES} 
				<p class="small">{$item_data.NAME}: {$item_data.VALUE_NAME}</p>
				{/foreach}
				{/if}
				</div>
				<div class="price-wrap font-weight-bold small text-muted">
					<div><strong>{$module_data.PRODUCTS_PRICE}</strong></div>
					{if $module_data.PRODUCTS_QUANTITY > 1}<div><span class="text-muted small">{$module_data.PRODUCTS_SINGLE_PRICE} / {$smarty.const.TEXT_PIECE}</span></div>{/if}
					{if $module_data.PRODUCTS_QUANTITY > 1}<div><span class="text-muted small">{$module_data.PRODUCTS_QUANTITY} {$smarty.const.TEXT_PIECE}</span></div>{/if}
				</div>
		</div>
	</div>
	</div>
</div>