  <div class="card card-product">
	<div class="card-body">
	<div class="row">
		{if $module_data.PRODUCTS_LABEL}{$module_data.PRODUCTS_LABEL}{/if}
		<span class="badge-offer pt-2">{$module_data.BOX_DELETE}</span>
		<div class="col-md-2">
			<div class="img-wrap"><a href="{$module_data.PRODUCTS_LINK}" title="{$module_data.IMAGE_ALT}"><img class="img-sm" src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.IMAGE_ALT}"></a></div>
		</div>
		<div class="col-md-5">
				<div class="title"><a href="{$module_data.PRODUCTS_LINK}" title="{$module_data.IMAGE_ALT}">{$module_data.PRODUCTS_NAME}</a></div>
				{if $module_data.PRODUCTS_SHIPPING_TIME neq ""}<p><span class="small text-muted">{#text_shippingtime#}&nbsp;{$module_data.PRODUCTS_SHIPPING_TIME}</span></p>{/if}
				<div class="small attributes">
				{if $module_data.ATTRIBUTES!=''}
				{foreach key=key_data item=item_data from=$module_data.ATTRIBUTES} 
				<p>{$item_data.NAME}: {$item_data.VALUE_NAME}</p>
				{/foreach}
				{/if}
				</div> 					
		</div>
		<div class="col-md-2">
				<div class="price-wrap h6 font-weight-bold">
					<div><strong>{$module_data.PRODUCTS_PRICE}</strong></div>
					{if $module_data.PRODUCTS_QUANTITY > 1}<div><span class="text-muted small">{$module_data.PRODUCTS_SINGLE_PRICE} / {$smarty.const.TEXT_PIECE}</span></div>{/if}
				</div>
		</div>
		<div class="col-md-2">
			<div class="action-wrap text-center">
         <div class="input-group">
         <div class="input-group-prepend">
	       {$module_data.MINUS}
         </div>
         {$module_data.PRODUCTS_QTY}
         <div class="input-group-append">
	       {$module_data.PLUS}
         </div>
         </div>
			</div>
		</div>
	</div>
	</div>
</div>