  <div class="card card-product h-100">
	<div class="card-body">
	<div class="row">
		<div class="col-md-3 my-auto">
			<div class="img-wrap">
			<span class="icon-wrap icon-md round bg-warning">
				<i class="fa fa-lightbulb white"></i>
			</span>
			</div>
		</div>
		<div class="col-md-6">
			
				<div class="rating-wrap small">
					<div class="label-rating"><span class="bold">{#text_rating#}</span> <span><span>{$module_data.STAR_RATING}</span></span></div>
					<div class="label-rating"><span class="bold">{#text_date#}</span> <span>{$module_data.DATE|date_format:"%Y-%m-%d"}</span></div>
					<div class="desc"><span class="bold">{#text_author#}</span> <span><span>{$module_data.AUTHOR}</span></span></div>
				</div>
				{if {$module_data.TEXT}}
				<div class="desc">
				<br />
				{$module_data.TEXT|strip_tags|vam_truncate:$smarty.const.MAX_DISPLAY_SHORT_DESCRIPTION:"...":true}
				</div>
				<br />
				{/if}

		</div>
		<div class="col-md-3 my-auto text-center my-auto">
			<div class="action-wrap">
				<div>
					<a class="btn btn-add-to-cart btn-block" href="{$module_data.LINK}">{$smarty.const.TEXT_READ_REVIEW}</a>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
