<table width="100%" border="0" cellpadding="0" cellspacing="0">  <tr>
    <td class="contentBoxHeading1"><img src="{$tpl_path}img/heading1.gif" border="0" alt="" /></td>
    <td height="14" class="contentBoxHeading1" width="100%">{$CONTENT_HEADING}</td>
  </tr>
  <tr>
    <td class="line" width="100%" colspan="2"><img src="{$tpl_path}img/pixel_trans.gif" border="0" alt="" width="1" height="2" /></td>
  </tr>
  <tr>
    <td width="100%" colspan="2"><img src="{$tpl_path}img/pixel_trans.gif" border="0" alt="" width="1" height="10" /></td>
  </tr>
</table><br />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="main">
	{if $file}
	 {$file}
	{else}
	{$CONTENT_BODY}
	{/if}
	</td>
  </tr>
  <tr>
    <td align="right"><br />
        {$BUTTON_CONTINUE}</td>
  </tr>
</table>

