{config_load file="$language/lang_$language.conf" section="index"}

<!-- Контейнер -->
<div id="container">

<!-- Шапка -->
<div id="header">
<div class="header-left">
<a href="{$mainpage}"><img src="{$tpl_path}img/logo.png" alt="{$store_name}" /></a>
</div>
<div class="header-center">
<h4><a href="tel:{$smarty.const.STORE_TELEPHONE}">{$smarty.const.STORE_TELEPHONE}</a>, <a href="contact_us.html">{#text_contact_us#}</a></h4>
</div>
<div class="header-right">
&nbsp;
</div>
<div class="clear"></div>
</div>
<!-- /Шапка -->

<!-- Меню -->
<div id="menu">
</div>
<!-- /Меню -->

<!-- Навигация -->
<div id="navigation">
</div>
<!-- /Навигация -->

<!-- Обёртка для центра, левой и правой колонки -->
<div id="wrapper">
<!-- Центр -->
<div id="content">
{$main_content}
</div>
<!-- /Центр -->

<!-- Левая колонка -->
<div id="left">
</div>
<!-- /Левая колонка -->

<!-- Правая колонка -->
<div id="right">
</div>
<!-- /Правая колонка -->
</div>
<!-- /Обёртка для центра, левой и правой колонки -->

<!-- Низ -->
<div id="footer">
</div>
<!-- /Низ -->

</div>
<!-- /Контейнер -->