{config_load file="$language/lang_$language.conf" section="boxes"}
<section class="widget inner darken search">
	{$FORM_ACTION}
		<input class="span4" id="quick_find_keyword" name="keywords" type="text" placeholder="{#heading_search#}" />
		<input class="btn search-bt" type="submit" value="" />
	{$FORM_END}
	<div class="ajaxQuickFind" id="ajaxQuickFind" style="text-align: left;"></div>
	<div><a href="{$LINK_ADVANCED}">{#text_advanced_search#}</a></div>
</section>
			
<script type="text/javascript">
// <![CDATA[
{literal}
$(document).ready(function(){

  $("#quick_find_keyword").keyup(function(){
      var searchString = $("#quick_find_keyword").val(); 
      $.ajax({
      	url: "index_ajax.php",             
      	dataType : "html",
      	type: "POST",
      	data: "q=includes/modules/ajax/ajaxQuickFind.php&keywords="+searchString,
      	success: function(msg){$("#ajaxQuickFind").html(msg);}            
 });     
                           
                           
   });


})

{/literal}
// ]]>
</script>
