{config_load file="$language/lang_$language.conf" section="index"}
{config_load file="$language/lang_$language.conf" section="boxes"}
<div id="contentWrapper">

    <div id="menuapp-wrapper" class="menu-hide-lpanel" menu-device-type="desktop">
        <header id="menu-header" menu-lpanel-effect="shrink" class="menu-minimized-lpanel">
            <div class="menu-left-header" menu-position-type="fixed">
                <a href="{$mainpage}"><i class="fa fa-shopping-basket"></i> <span>{if $smarty.const.STORE_TELEPHONE}{$smarty.const.STORE_TELEPHONE}{else}{$smarty.const.STORE_NAME}{/if}</span></a>
                <span class="menu-sidebar-toggle"><a href="javascript:void(0)"></a></span>
            </div>

            <div class="menu-right-header" menu-position-type="fixed">
                <span class="menu-sidebar-toggle"><a href="javascript:void(0)"></a></span>
                <ul class="left-navbar">
                    <li>
                        <form method="post" class="menu-searchbar">
                            <input type="text" placeholder="Search..." name="keyword" class="form-control">
                            <span class="search-icon"><i class="fa fa-search"></i></span>
                        </form>
                    </li>
                </ul>
                <ul class="right-navbar">
                    <li class="dropdown menu-rheader-submenu message-notification">
                        <a href="javascript:void(0)" class="dropdown-toggle icon-circle" data-toggle="dropdown">
                            <i class="fa fa-envelope"></i>
                            <span class="badge badge-danger">5</span>
                        </a>
                        <ul class="dropdown-menu ">
                            <li class="menu-submenu-label">
                                <h3>You have <span class="bold">5</span> New Messages <a href="#">view all</a></h3>
                            </li>
                            <li>
                                <a href="#" class="clearfix">
                                    <img src="{$tpl_path}img/avatar.jpg" class="rounded notification-avatar" alt="Avatar">
                                    <span class="notification-title">Nanterey Reslaba</span>
                                    <span class="notification-ago  ">3 min ago</span>
                                    <p class="notification-message">Hi James, Don't go anywhere, i will be coming soon. </p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="clearfix">
                                    <img src="{$tpl_path}img/avatar.jpg" class="rounded notification-avatar" alt="Avatar">
                                    <span class="notification-title">Polly Paton</span>
                                    <span class="notification-ago  ">5 min ago</span>
                                    <p class="notification-message">Hi James, Everything is working just fine here. </p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="clearfix">
                                    <img src="{$tpl_path}img/avatar.jpg" class="rounded notification-avatar" alt="Avatar">
                                    <span class="notification-title">Smith Doe</span>
                                    <span class="notification-ago  ">8 min ago</span>
                                    <p class="notification-message">Please mail me the all files when you complete your task.</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="clearfix">
                                    <img src="{$tpl_path}img/avatar.jpg" class="rounded notification-avatar" alt="Avatar">
                                    <span class="notification-title">Zoey Lombardo</span>
                                    <span class="notification-ago  ">15 min ago</span>
                                    <p class="notification-message">Hi James, How are you?</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="clearfix">
                                    <img src="{$tpl_path}img/avatar.jpg" class="rounded notification-avatar" alt="Avatar">
                                    <span class="notification-title">Alan Doyle</span>
                                    <span class="notification-ago  ">30 min ago</span>
                                    <p class="notification-message">Call me when you complete your work.</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown menu-rheader-submenu menu-header-profile">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span><img class="rounded" src="{$tpl_path}img/avatar.jpg"></span>
                        </a>
                        <ul class="dropdown-menu ">
                            <li><a href="#"><i class="fa fa-user"></i>My Profile</a></li>
                            <li><a href="#"><i class="fa fa-calendar"></i>My Calendar</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i>My Inbox  <span class="badge badge-danger">
							3 </span></a></li>
                            <li><a href="#"><i class="fa fa-rocket"></i>My Tasks <span class="badge badge-success">
							7 </span></a></li>
                            <li><a href="#"><i class="fa fa-lock"></i>Lock Screen</a></li>
                            <li><a href="#"><i class="fa fa-power-off"></i>Logout</a></li>
                        </ul>
                    </li>
                    <!-- <li class="dropdown menu-rheader-submenu">
                        <a href="#" class="dropdown-toggle icon-circle" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                    </li> -->
                </ul>

            </div>
        </header>
        <div id="menuapp-container" menu-color-type="lpanel-bg8" menu-lpanel-effect="shrink" class="menu-minimized-lpanel">
            <aside id="menu-left-panel" menu-position-type="fixed">
                <ul class="nav panel-list">
                    <li>
                        <a href="{$smarty.const.FILENAME_SPECIALS}">
                            <i class="fas fa-percentage"></i>
                            <span class="menu-text">
                            {$smarty.const.TITLE_SPECIALS_DEFAULT}
                            </span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li>
                        <a href="{$smarty.const.FILENAME_MANUFACTURERS}">
                            <i class="fas fa-tag"></i>
                            <span class="menu-text">
                            {$smarty.const.TITLE_MANUFACTURERS_DEFAULT}
                            </span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="{$smarty.const.FILENAME_PRODUCTS_NEW}">
                            <i class="fas fa-lightbulb"></i>
                            <span class="menu-text">
                            {$smarty.const.TITLE_NEW_PRODUCTS_DEFAULT}
                            </span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li>
                        <a href="{$smarty.const.FILENAME_FEATURED}">
                            <i class="fas fa-exclamation-circle"></i>
                            <span class="menu-text">
                            {$smarty.const.TITLE_FEATURED_DEFAULT_SHORT}
                            </span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li>
                        <a href="{$smarty.const.FILENAME_REVIEWS}">
                            <i class="fas fa-comments"></i>
                            <span class="menu-text">
                            {$smarty.const.TEXT_PRODUCT_REVIEWS}
                            </span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-tachometer"></i>
                            <span class="menu-text">Dashboard</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-bar-chart"></i>
                            <span class="menu-text">Graphs</span>
                            <span class="label sul">New</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li class="menu-has-menu">
                        <a href="javascript:void(0)">
                            <i class="fa fa-files"></i>
                            <span class="menu-text">Other Pages</span>
                            <span class="selected"></span>
                        </a>
                        <ul class="menu-sub-menu">
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Blank Page</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Login</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">User Profile</span>
                                    <span class="label sul">Updated</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Team Member</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Time Line</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-has-menu">
                        <a href="javascript:void(0)">
                            <i class="fa fa-envelope-o"></i>
                            <span class="menu-text">Email Templates</span>
                            <span class="selected"></span>
                        </a>
                        <ul class="menu-sub-menu">

                            <li class="menu-has-menu">
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Inbox </span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="menu-sub-menu">
                                    <li>
                                        <a href="javascript:void(0)">
                                            <span class="menu-text">Inbox v1</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <span class="menu-text">Inbox v2</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Detail</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Compose</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Send</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Draft</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-level">Components</li>
                    <li class="menu-has-menu">
                        <a href="javascript:void(0)">
                            <i class="fa fa-pencil-square-o"></i>
                            <span class="menu-text">UI Elements</span>
                            <span class="selected"></span>
                        </a>
                        <ul class="menu-sub-menu">
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Icon</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Buttons</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Tabs & Panel</span>
                                    <span class="label sul">Updated</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Notification</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Typography</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-table"></i>
                            <span class="menu-text">Table</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li class="nav-level">Menu Lavel</li>
                    <li class="menu-has-menu">
                        <a href="javascript:void(0)">
                            <i class="fa fa-sitemap"></i>
                            <span class="menu-text">Menu Lavel 1</span>
                            <span class="selected"></span>
                        </a>
                        <ul class="menu-sub-menu">
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">level 2</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">level 2</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li class="menu-has-menu">
                                <a href="javascript:void(0)">
                                    <span class="menu-text">level 2</span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="menu-sub-menu">
                                    <li class="menu-has-menu">
                                        <a href="javascript:void(0)">
                                            <span class="menu-text">level 3</span>
                                            <span class="selected"></span>
                                        </a>
                                        <ul class="menu-sub-menu">
                                            <li>
                                                <a href="javascript:void(0)">
                                                    <span class="menu-text">level 4</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">
                                                    <span class="menu-text">level 4</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <span class="menu-text">level 3</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <span class="menu-text">level 3</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <span class="menu-text">level 3</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </aside>
            <div id="main-content">

					{if $navtrail}
					<div class="content-title">
					<div id="navigation" class="text-muted" itemscope itemtype="http://schema.org/BreadcrumbList">
					{$navtrail}
					</div>
					</div>
					{/if}

                <div class="mainWrapper">

{$box_DOWNLOADS}

{if $smarty.SERVER.REQUEST_URI == '/'}
{include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/slider/{$smarty.const.DEFAULT_SLIDER}.html"}
{/if}

<div class="mainContent">
{$main_content}
</div>                

    
                </div>

    {include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/footer/footer.html"}    

            </div>

            {include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/theme-selector/index.html"}    

        </div>
    </div>
    
    
    
    </div>    