{config_load file="$language/lang_$language.conf" section="index"}
{config_load file="$language/lang_$language.conf" section="boxes"}
<div id="contentWrapper">

    <div id="menuapp-wrapper" class="menu-hide-lpanel" menu-device-type="desktop">
        <header id="menu-header" menu-lpanel-effect="shrink" class="menu-minimized-lpanel">
            <div class="menu-left-header" menu-position-type="fixed">
                <a href="{$mainpage}"><i class="fa fa-shopping-basket"></i> <span>{if $smarty.const.STORE_TELEPHONE}{$smarty.const.STORE_TELEPHONE}{else}{$smarty.const.STORE_NAME}{/if}</span></a>
                <span class="menu-sidebar-toggle"><a href="javascript:void(0)"><i class="fas fa-bars"></i></a></span>
            </div>

            <div class="menu-right-header" menu-position-type="fixed">

<div class="d-flex">
<div class="d-none d-md-block">
<ul class="nav">
  <li class="nav-item menu-sidebar-toggle">
    <a class="nav-link" href="javascript:void(0)"><i class="fas fa-bars"></i> {#text_catalog#}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Информация</a>
  </li>
</ul>
</div>
<div class="my-auto">
{$box_SEARCH}
</div>
<div class="ml-auto">
<ul class="nav">
  <li class="nav-item"><a class="nav-link" href="{$smarty.const.FILENAME_ACCOUNT}" title="{$smarty.const.TEXT_MY_ORDERS}"><i class="fa fa-user"></i></a></li>
  {if !$cart_current}<li class="nav-item dropdown" id="divShoppingCart">{$box_CART}</li>{/if}
  {if $smarty.session.customers_status.customers_status_id == 0}
  <li class="nav-item"><a class="nav-link" href="{$admin_area_link}" title="{#text_admin#}"><i class="fa fa-cog"></i></a></li>
  {/if}  
  {if $smarty.session.customer_id}
  <li class="nav-item"><a class="nav-link" href="{$logoff}" title="{#link_logoff#}"><i class="fa fa-power-off"></i></a></li>
  {/if}  
</ul>
</div>
</div>
            </div>
        </header>
        <div id="menuapp-container" menu-color-type="lpanel-bg8" menu-lpanel-effect="shrink" class="menu-minimized-lpanel">
            <aside id="menu-left-panel" menu-position-type="fixed">
                <ul class="nav panel-list">
                    <li>
                        <a href="{$smarty.const.FILENAME_SPECIALS}">
                            <i class="fas fa-percentage"></i>
                            <span class="menu-text">
                            {$smarty.const.TITLE_SPECIALS_DEFAULT}
                            </span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li>
                        <a href="{$smarty.const.FILENAME_MANUFACTURERS}">
                            <i class="fas fa-tag"></i>
                            <span class="menu-text">
                            {$smarty.const.TITLE_MANUFACTURERS_DEFAULT}
                            </span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="{$smarty.const.FILENAME_PRODUCTS_NEW}">
                            <i class="fas fa-lightbulb"></i>
                            <span class="menu-text">
                            {$smarty.const.TITLE_NEW_PRODUCTS_DEFAULT}
                            </span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li>
                        <a href="{$smarty.const.FILENAME_FEATURED}">
                            <i class="fas fa-exclamation-circle"></i>
                            <span class="menu-text">
                            {$smarty.const.TITLE_FEATURED_DEFAULT_SHORT}
                            </span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li>
                        <a href="{$smarty.const.FILENAME_REVIEWS}">
                            <i class="fas fa-comments"></i>
                            <span class="menu-text">
                            {$smarty.const.TEXT_PRODUCT_REVIEWS}
                            </span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-tachometer"></i>
                            <span class="menu-text">Dashboard</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-bar-chart"></i>
                            <span class="menu-text">Graphs</span>
                            <span class="label sul">New</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li class="menu-has-menu">
                        <a href="javascript:void(0)">
                            <i class="fa fa-files"></i>
                            <span class="menu-text">Other Pages</span>
                            <span class="selected"></span>
                        </a>
                        <ul class="menu-sub-menu">
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Blank Page</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Login</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">User Profile</span>
                                    <span class="label sul">Updated</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Team Member</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Time Line</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-has-menu">
                        <a href="javascript:void(0)">
                            <i class="fa fa-envelope-o"></i>
                            <span class="menu-text">Email Templates</span>
                            <span class="selected"></span>
                        </a>
                        <ul class="menu-sub-menu">

                            <li class="menu-has-menu">
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Inbox </span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="menu-sub-menu">
                                    <li>
                                        <a href="javascript:void(0)">
                                            <span class="menu-text">Inbox v1</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <span class="menu-text">Inbox v2</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Detail</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Compose</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Send</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Draft</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-level">Components</li>
                    <li class="menu-has-menu">
                        <a href="javascript:void(0)">
                            <i class="fa fa-pencil-square-o"></i>
                            <span class="menu-text">UI Elements</span>
                            <span class="selected"></span>
                        </a>
                        <ul class="menu-sub-menu">
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Icon</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Buttons</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Tabs & Panel</span>
                                    <span class="label sul">Updated</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Notification</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">Typography</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-table"></i>
                            <span class="menu-text">Table</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li class="nav-level">Menu Lavel</li>
                    <li class="menu-has-menu">
                        <a href="javascript:void(0)">
                            <i class="fa fa-sitemap"></i>
                            <span class="menu-text">Menu Lavel 1</span>
                            <span class="selected"></span>
                        </a>
                        <ul class="menu-sub-menu">
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">level 2</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-text">level 2</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                            <li class="menu-has-menu">
                                <a href="javascript:void(0)">
                                    <span class="menu-text">level 2</span>
                                    <span class="selected"></span>
                                </a>
                                <ul class="menu-sub-menu">
                                    <li class="menu-has-menu">
                                        <a href="javascript:void(0)">
                                            <span class="menu-text">level 3</span>
                                            <span class="selected"></span>
                                        </a>
                                        <ul class="menu-sub-menu">
                                            <li>
                                                <a href="javascript:void(0)">
                                                    <span class="menu-text">level 4</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">
                                                    <span class="menu-text">level 4</span>
                                                    <span class="selected"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <span class="menu-text">level 3</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <span class="menu-text">level 3</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <span class="menu-text">level 3</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </aside>
            <div id="main-content">

					{if $navtrail}
					<div class="content-title">
					<div id="navigation" class="text-muted" itemscope itemtype="http://schema.org/BreadcrumbList">
					{$navtrail}
					</div>
					</div>
					{/if}

                <div class="mainWrapper">

{$box_DOWNLOADS}

{if $smarty.SERVER.REQUEST_URI == '/'}
{include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/slider/{$smarty.const.DEFAULT_SLIDER}.html"}
{/if}

<div class="mainContent">
{$main_content}
</div>                

    
                </div>

    {include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/footer/footer.html"}    

            </div>

            {include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/theme-selector/index.html"}    

        </div>
    </div>
    
    
    
    </div>    