<h1>[[Advanced Search]]</h1>
{if $error!=''}
{$error}
{/if}
{$FORM_ACTION}
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pagecontent">
<a href="{$HELP_LINK}">[[Help for the advanced search (?)]]</a>
<br />
<br />
<!-- форма -->
<fieldset class="form">
<legend>[[Advanced Search]]</legend>
<p>[[Enter your Search Keys:]] {$INPUT_KEYWORDS}</p>
<p>[[Categories:]] {$SELECT_CATEGORIES}</p>
<p>{$ENTRY_SUBCAT} [[Include sub-categories]]</p>
<p>[[Manufacturer:]] {$SELECT_MANUFACTURERS}</p>
<p>[[Price over:]] {$SELECT_PFROM}</p>
<p>[[Price up to:]] {$SELECT_PTO}</p>
</fieldset>
<!-- /форма -->
</div>
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>

<div class="pagecontentfooter">
{$BUTTON_SUBMIT}
</div>
{$FORM_END}
<p></p>