{config_load file="$language/lang_$language.conf" section="articles"} 
<h1>{#heading_text#}</h1>

{if $no_new_articles=='true'}
<p>
{#text_no_new_articles#}
</p>
{else}

{foreach name=aussen item=module_data from=$module_content} 
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pageItem">

<dl class="itemNewProducts">

<dd class="itemDescription">
<a href="{$module_data.ARTICLE_LINK}">{$module_data.ARTICLE_NAME}</a
</dd>

{if $module_data.AUTHOR_NAME}
<dd class="itemDescription">
{#text_author#} <a href="{$module_data.AUTHOR_LINK}">{$module_data.AUTHOR_NAME}</a>
</dd>
{/if}
 
{if $module_data.ARTICLE_CATEGORY_NAME}
<dd class="itemDescription">
{#text_category#} <a href="{$module_data.ARTICLE_CATEGORY_LINK}">{$module_data.ARTICLE_CATEGORY_NAME}</a>
</dd>
{/if}

{if $module_data.ARTICLE_SHORT_DESCRIPTION}
<dd class="itemDescription">
<p>
{$module_data.ARTICLE_SHORT_DESCRIPTION}
</p>
</dd>
{/if}

{if $module_data.ARTICLE_DATE}
<dd class="itemDescription">
{#text_date#} {$module_data.ARTICLE_DATE}
</dd>
{/if}

</dl>

<div class="clear"></div>
</div>

<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>
          {/foreach} 

<div class="clear"></div>
<div class="navigation">
{$NAVIGATION_BAR}
</div>
<div class="clear"></div>
<p></p>

{/if}