{config_load file="$language/lang_$language.conf" section="checkout_new_address"}
<script type="text/javascript" src="jscript/modified.js"></script>
<script type="text/javascript">
{literal}
jQuery.noConflict();
jQuery(document).ready(function(){

jQuery(function () {
    jQuery('#checkout_address :input:text:visible:enabled:first').focus();
})

  jQuery("#country").change(function(){
      var searchString = jQuery(this).val();
      jQuery.ajax({
                     url: "index_ajax1.php",             
                     dataType : "html",                       
                     data: "q=includes/modules/ajax/loadStateXML.php&country_id="+searchString,
                     type: "POST",   
                     success: function(msg){jQuery("#stateXML").html(msg);}            
                   });                     
                           
                           
   });


})

{/literal}
</script>
<span class="Requirement">{#text_must#}</span>
<br />
<br />
<!-- форма -->
<fieldset class="form">
<legend>{#title_new_address#}</legend>
{if $gender=='1'}<p><label for="gender" title="{$ENTRY_GENDER_ERROR}">{#text_gender#}</label> {$INPUT_MALE}&nbsp;{$INPUT_FEMALE}</p>{/if} 
<p><label for="firstname" title="{$ENTRY_FIRST_NAME_ERROR}">{#text_firstname#}</label> {$INPUT_FIRSTNAME}</p>
{if $secondname=='1'}<p>{#text_secondname#} {$INPUT_SECONDNAME}</p>
{/if}
<p><label for="lastname" title="{$ENTRY_LAST_NAME_ERROR}">{#text_lastname#}</label> {$INPUT_LASTNAME}</p>
{if $company=='1'}<p>{#text_company#} {$INPUT_COMPANY}</p>{/if}
{if $street_address=='1'}<p><label for="address" title="{$ENTRY_STREET_ADDRESS_ERROR}">{#text_street#}</label> {$INPUT_STREET}</p>{/if}
{if $suburb=='1'}<p>{#text_suburb#} {$INPUT_SUBURB}</p>{/if}
{if $postcode=='1'}<p><label for="postcode" title="{$ENTRY_POST_CODE_ERROR}">{#text_code#}</label> {$INPUT_CODE}</p>{/if}
{if $city=='1'}<p><label for="city" title="{$ENTRY_CITY_ERROR}">{#text_city#}</label> {$INPUT_CITY}</p>{/if}
{if $country=='1'}<p><label for="country" title="{$ENTRY_COUNTRY_ERROR}">{#text_country#}</label> {$SELECT_COUNTRY}{$SELECT_COUNTRY_NOSCRIPT}</p>{/if}
{if $state=='1'}<p><label for="state" title="{$ENTRY_STATE_ERROR_SELECT}">{#text_state#}</label> <span id="stateXML">{$INPUT_STATE}</span></p>{/if}
{if $new=='1'}<p>{$CHECKBOX_PRIMARY} {#text_standard#}</p>{/if}
</fieldset>
<!-- /форма -->