<h1>[[Shipping Method]]</h1>
{$FORM_ACTION}<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pagecontent">

{if $SHIPPING_ADDRESS=='true'} 
<span class="bold">[[Mailing address:]]</span>
{/if}

{if $SHIPPING_ADDRESS=='true'} 
<!-- Адрес -->
<dl class="AddressBook">
<dt class="AddressBook">
</dt>

<dd class="AddressBook">
[[Please choose from your address book the desired mailing address for your order.]]
</dd>

<dd class="AddressBook">
{$BUTTON_ADDRESS}
</dd>

</dl>
<!-- /Адрес -->

<!-- Адрес по умолчанию -->
<dl class="AddressBook">
<dt class="AddressBook">
<span class="bold">[[Default Address]]</span>
<br />
<img src="{$tpl_path}img/arrow_south_east.gif" alt="" />
</dt>

<dd class="AddressBook">
{$ADDRESS_LABEL}
</dd>

</dl>
<!-- /Адрес по умолчанию -->
<div class="clear"></div>
{/if}

<span class="bold">[[Shipping Method:]]</span>
<br />
<br />
<fieldset class="form">
<legend>[[Please choose the desired mode of delivery for your order.]]</legend>
{$SHIPPING_BLOCK}
</fieldset>

<p>
<span class="bold">[[Continuation the ordering procedure]]</span>
</p>

<p>
[[to the selection of the desired mode of payment.]]
</p>
</div>
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>

<div class="pagecontentfooter">
{$BUTON_CONTINUE}
</div>
{$FORM_END}
<p></p>