<h1>[[Usage of Cookies]]</h1>
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pagecontent">
<p>
[[Your browser does not allows any Cookies.<br /><br />To continue your purchase, you should change the rights to make the page able to set cookies.<br /><br />If you use <span class="bold">Internet Explorer</span> follow this instructions:<br /><br />At menu; <span class="bold">Extras</span> choose <span class="bold">Internet Options</span><br />accrete at <span class="bold">adapting Safety-stage</span><br />At the lower field you will find a Drop-Down-box. There use <span class="bold">Average</span>.<br />Accrete now onto <span class="bold">Rollback</span><br /><br />This measure is used for your safety. Should there still be problems, please accept our apology for any inconveniences.]]
</p>
<p>
[[Cookies and your privacy and safety]]
</p>
<p>
[[Through the commitment of Cookies the safety is lifted and  the protection of  your privacy is much better.<br /><br />There are no personal informations stored within the cookies.]]
</p>
</div>
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
<div class="pagecontentfooter">
{$BUTTON_CONTINUE}
</div>
</div>
<p></p>