<h1>[[Redeem Voucher]]</h1>
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pagecontent">
<p>
[[Questions and answers regarding voucher you find under]]
</p>
{if $error eq 'true'}
<p>
[[The entered voucher code is invalid or the voucher has been redeemed already. Please check your details again or contact us via the contact page]]
</p>
{else}
<p>
[[Congartulations, have redeemed your voucher for]] {$coupon_amount} [[successfully]]
</p>
{/if}
<p>
{$LINK_DEFAULT}
</p>
</div>
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>
<p></p>