<h1>[[Newsletter]]</h1>

{if $info_message!=''} <div class="contacterror">{$info_message}</div>{/if}

{$FORM_ACTION} 
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pagecontent">

<fieldset class="form">
<legend>[[Our Newsletter]]</legend>
<p><span class="bold">[[Security code]]</span> {$VVIMG}</p>
<p><span class="bold">[[Security code]]</span> {$INPUT_CODE}</p>
<p><span class="bold">[[Your E-Mail:]]</span> {$INPUT_EMAIL}</p>
<p><span class="bold">{$CHECK_INP}</span> [[receive]]</p>
<p><span class="bold">{$CHECK_DEL}</span> [[don't receive either]]</p>
</fieldset>
</div>

<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>

<div class="pagecontentfooter">
{$BUTTON_SEND}
</div>
{$FORM_END}
<p></p>