<h1>[[How has been my password?]]</h1>

{if $info_message!=''} <div class="contacterror">{$info_message}</div>{/if}

{$FORM_ACTION} 
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="pagecontent">

<span class="bold">[[Step 1:]]</span>
<br />
[[Please give us the e-mail address, which you used to create your account at]] {$SHOP_NAME}[[!]]
<br />
[[Click Continue and we send an e-Mail with your personal Confirmation Code to you!]]
<br />
<br />
<fieldset class="form">
<legend>{$message}</legend>
<p><span class="bold">[[Security-Code:]]</span> {$VVIMG}</p>
<p><span class="bold">[[Security-Code:]]</span> {$INPUT_CODE}</p>
<p><span class="bold">[[eMail-Address:]]</span> {$INPUT_EMAIL}</p>
</fieldset>
</div>

<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
</div>

<div class="pagecontentfooter">
{$BUTTON_SEND}
</div>
{$FORM_END}
<p></p>