{config_load file="$language/lang_$language.conf" section="index"}
{config_load file="$language/lang_$language.conf" section="boxes"}

<!-- start: Header -->
<div id="header">
	<div class="container">
		<div class="row-fluid">
			<div class="span3 logo">
				<a href="{$mainpage}"><img src="{$tpl_path}img/logo.png" alt="{$smarty.const.STORE_NAME}" title="{$smarty.const.STORE_NAME}" /></a>
			</div>
			<div class="span6 text-center">
           <br />
           <h4>{$smarty.const.STORE_TELEPHONE}</h4>
           <h4><a href="contact_us.html">{#text_contact_us#}</a></h4>			
			</div>
		</div>
	</div>
</div>
<!-- end: Header -->

<!-- start: Main Menu -->
<div id="navigation" class="default">
	<div class="container">
		<div class="login">
			<a href="{$smarty.const.FILENAME_ACCOUNT}" class="account" title="{#link_login#}"><i class="fa fa-user"></i></a>
		</div>
		<div class="navbar navbar-static-top">
			<div class="navbar-inner">

				<ul class="nav pull-left">
					<li{$1}><a href="{$mainpage}">{#text_mainpage#}</a></li>
					{$box_CATEGORIES2}
					<li class="dropdown">
						<a data-toggle="dropdown" class="dropdown-toggle" href="">{#heading_infobox#} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							{$box_CONTENT_PULL}
						</ul>
					</li>
					{if $smarty.session.customers_status.customers_status_id == 0}
					<li><a href="{$admin_area_link}">{#text_admin#}</a></li>
					{/if}  
					{if $smarty.session.customer_id}
					<li><a href="{$logoff}"><span>{#link_logoff#}</span></a></li>
					{/if}  
				</ul>

				{$box_CART_PULL}

			</div>
		</div>
	</div>
</div>
<!-- end: Main Menu -->

<!-- start: Container -->
<div id="container">
	<div class="container">

		<div class="row-fluid">

			<!-- start: Page section -->
			<section class="span12 page-sidebar pull-right">
	
			{$main_content}

			</section>
			<!-- end: Page section -->

		</div>

	</div>
</div>
<!-- end: Container -->
