{config_load file="$language/lang_$language.conf" section="index"}

<!-- start: TOP BAR -->
<div class="topbar clearfix">
	<div class="container">
		<ul class="nav nav-pills top-contacts pull-left">
			<li><a href=""><i class="icon-phone"></i> {$smarty.const.STORE_TELEPHONE}</a></li>
		</ul>
		<ul class="nav nav-pills top-menu pull-right">
			<li><a href="{$mainpage}">{#text_mainpage#}</a></li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="">News <b class="caret"></b></a>
					<ul class="dropdown-menu">
						{foreach from=$content_list item=node}
							<li{if $node.alias == $content_alias} class="active"{/if}><a href="{$node.url}">{$node.name}</a></li>
						{/foreach}
					</ul>
			</li>			<li><a href="{$tpl_path}page/contact-us.html">Contact Us</a></li>
		</ul>
	</div>
</div>
<!-- end: TOP BAR -->

<!-- start: Header -->
<div id="header">
	<div class="container">
		<div class="row-fluid">
			<div class="span3 logo">
				<a href="{$mainpage}"><img src="{$tpl_path}img/logo.png" alt="{$smarty.const.STORE_NAME}" title="{$smarty.const.STORE_NAME}" /></a>
			</div>
			<div class="span6 search">
					<form class="form-search" action="{$tpl_path}page/search-result.html" method="get">
						<input type="text" name="keyword" class="input-medium" placeholder="Search">
						<button type="submit" class="btn hidden">Search</button>
					</form>
			</div>
		</div>
	</div>
</div>
<!-- end: Header -->

<!-- start: Main Menu -->
<div id="navigation" class="default">
	<div class="container">
		<div class="login">
			<a href="{$tpl_path}page/account.html" class="account-avatar" data-toggle="tooltip" data-placement="top" title="My Account"><img src="{$tpl_path}img/account.png" alt=""/></a>
			<a href="{$tpl_path}page/account.html" class="account" data-toggle="tooltip" data-placement="top" title="Login"><i class="icon-lightbulb"></i></a>
		</div>
		<div class="navbar navbar-static-top">
			<div class="navbar-inner">

				<ul class="nav pull-left">
					<li{if $content_alias == 'home-page'} class="active"{/if}><a href="{$mainpage}">Home</a></li>
					<li class="dropdown">
						<a data-toggle="dropdown" class="dropdown-toggle" href="">Information <b class="caret"></b></a>
							<ul class="dropdown-menu">
								{foreach from=$content_list item=node}
									<li{if $node.alias == $content_alias} class="active"{/if}><a href="{$node.url}">{$node.name}</a></li>
								{/foreach}
							</ul>
					</li>
					<li><a href="{$mainpage}">Админка</a></li>
				</ul>

				{if $order_items}
				<div class="shopping-cart pull-right">
					<a href="{$cart_link}" class="cart">
						<span class="quantity">{$total_quantity}</span>
						<span class="amount"><i class="icon-shopping-cart"></i>{$order_total}</span>
					</a>
					<div class="cart-dropdown">
						<h2 class="title">Cart</h2>
							<div class="content">
								<div class="products">
									{foreach from=$order_items item=product}
										<div class="media">
											<a class="pull-right" href="{$product.url}">
												<img class="media-object" src="{$product.image.image_thumb}" alt="" title="" />
											</a>
											<div class="media-body">
												<h4 class="media-heading"><a href="{$product.url}">{$product.name}</a> <a href="{$tpl_path}cart/remove_product/{$product.id}/1" class="remove" title="Remove"><i class="icon-trash"></i></a></h4>
												{$product.qty} x {$product.price}
											</div>
										</div>
									{/foreach}
								</div>
								<p class="subtotal">
									<strong>Total:</strong>
									<span class="amount">{$order_total}</span>
								</p>
								<p class="buttons">
									<a class="btn btn-inverse viewcart" href="{$cart_link}"><i class="icon-shopping-cart"></i> View Cart</a>
									<a class="btn btn-inverse viewcart" href="{$checkout_link}"><i class="icon-ok"></i> Checkout &rarr;</a>
								</p>
							</div>
					</div>
				</div>
				{/if}

			</div>
		</div>
	</div>
</div>
<!-- end: Main Menu -->

<!-- start: Container -->
<div id="container">
	<div class="container">

		<div class="row-fluid">

			{$main_content}

		<!-- start: Sidebar -->
		<aside class="span3 sidebar pull-left">

			<div id="shopping-cart-box">
			{if $order_items}
			<section class="widget inner shopping-cart-widget">
				<h3 class="widget-title">Shopping Cart</h3>
					<div class="products">
						{foreach from=$order_items item=product}
							<div class="media">
								<a class="pull-right" href="{$product.url}">
									<img class="media-object" src="{$product.image.image_thumb}" alt="" title="" />
								</a>
							<div class="media-body">
			                  <h4 class="media-heading"><a href="{$product.url}">{$product.name}</a> <a href="{$tpl_path}cart/remove_product/{$product.id}/1" class="remove" title="Remove"><i class="icon-trash"></i></a></h4>
								{$product.qty} x {$product.price}
							</div>
							</div>
						{/foreach}
					</div>
					<p class="subtotal">
						<strong>Total:</strong>
						<span class="amount">{$order_total}</span>
					</p>
					<p class="buttons">
						<a class="btn btn-inverse viewcart" href="{$cart_link}"><i class="icon-shopping-cart"></i> View Cart</a>
						<a class="btn btn-inverse checkout" href="{$checkout_link}"><i class="icon-ok"></i> Checkout &rarr;</a>
					</p>
			</section>
			{/if}
			</div>
			
			<section class="widget inner darken search">
				<form id="search" class="input-append" action="{$tpl_path}page/search-result.html" method="get">
					<input class="span4" id="appendedInputButton" name="keyword" type="text" placeholder="Search" />
					<input class="btn search-bt" type="submit" value="" />
				</form>
			</section>
			
			
			{if $content_list}
			<section class="widget inner categories-widget">
				<h3 class="widget-title">Categories</h3>
					<ul class="icons clearfix">
						{foreach from=$content_list item=node}
							<li{if $node.alias == $content_alias} class="active"{/if}><a href="{$node.url}">{$node.name}</a></li>
						{/foreach}
					</ul>
			</section>
			{/if}

		</aside>
		<!-- end: Sidebar -->

		</div>

	</div>
</div>
<!-- end: Container -->

<!-- start: Footer -->
<footer id="footer">
	<div class="container">
		<div class="row-fluid">
			<div class="span3 clearfix">
				<h3 class="widget-title">Information</h3>
				<div class="widget-inner">

					<ul class="unstyled">
						{foreach from=$content_list item=node}
							<li{if $node.alias == $content_alias} class="active"{/if}><a href="{$node.url}">{$node.name}</a></li>
						{/foreach}
					</ul>

				</div>
			</div>
			<div class="span3 clearfix">
				<h3 class="widget-title">News</h3>
				<div class="widget-inner">

					<ul class="unstyled">
						{foreach from=$content_list item=node}
							<li{if $node.alias == $content_alias} class="active"{/if}><a href="{$node.url}">{$node.name}</a></li>
						{/foreach}
					</ul>

				</div>
			</div>

			<div class="span6 clearfix">
				<h3 class="widget-title">Articles</h3>
				<div class="widget-inner">

					<ul class="unstyled">
						{foreach from=$content_list item=node}
							<li{if $node.alias == $content_alias} class="active"{/if}><a href="{$node.url}">{$node.name}</a></li>
						{/foreach}
					</ul>

				</div>
			</div>
		</div>
	</div>
</footer>
<!-- end: Footer -->

<!-- start: Footer menu -->
<section id="footer-menu">
	<div class="container">
		<div class="row-fluid">
			<div class="span6">
				<ul class="privacy inline">
					<li><a href="{$tpl_path}page/conditions-of-use.html">About Us</a></li>
					<li><a href="{$tpl_path}page/contact-us.html">Contact Us</a></li>
				</ul>

				<a href="vam_rss2_info.php"><img src="images/rss.png" alt="RSS" border="0" /></a>

			</div>
		</div>
	</div>
</section>
<!-- end: Footer menu -->