{config_load file="$language/lang_$language.conf" section="index"}
{config_load file="$language/lang_$language.conf" section="boxes"}

<!-- start: Header -->
<div id="header">
	<div class="container">
		<div class="row-fluid">
			<div class="span3 logo">
				<a href="{$mainpage}"><img src="{$tpl_path}img/logo.png" alt="{$smarty.const.STORE_NAME}" title="{$smarty.const.STORE_NAME}" /></a>
			</div>
			<div class="span6 text-center">
           <br />
           <h4>{$smarty.const.STORE_TELEPHONE}</h4>
           <h4><a href="contact_us.html">{#text_contact_us#}</a></h4>
			</div>
			<div class="span3 text-center">
			</div>
		</div>
	</div>
</div>
<!-- end: Header -->

<!-- start: Main Menu -->
<div id="navigation" class="default">
	<div class="container">
            <div class="navbar">
              <div class="navbar-inner">
                <div class="container">
                  <a class="btn btn-navbar navbar-toggle toggle-menu menu-left" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
					     <a class="brand" href="{$smarty.const.FILENAME_DEFAULT}">
					         <i class="fa fa-home"></i>
					     </a>                  
					     <div class="nav-collapse collapse navbar-responsive-collapse cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left">
                    <ul class="nav">
							{$box_CATEGORIES2}
							<li class="dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="">{#heading_infobox#} <b class="caret"></b></a>
								<ul class="dropdown-menu">
									{$box_CONTENT_PULL}
								</ul>
							</li>
                    </ul>
                    <form class="navbar-search pull-left" action="advanced_search_result.php" method="get">
                      <input type="text" name="keywords" class="search-query span2" placeholder="{$smarty.const.BOX_HEADING_SEARCH}">
                    </form>
                    <ul class="nav pull-right">
                      <li><a href="{$smarty.const.FILENAME_ACCOUNT}"><i class="fa fa-user"></i> {$smarty.const.TEXT_MY_ORDERS}</a></li>
                      <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle cart" data-target="#" href="{$smarty.const.FILENAME_SHOPPING_CART}" title="{$smarty.const.NAVBAR_TITLE_SHOPPING_CART}"> <i class="fa fa-shopping-cart"></i> {$smarty.const.NAVBAR_TITLE_SHOPPING_CART} {if $cart_count > 0}<sup><span title="{$cart_count}" class="badge badge-important">{$cart_count}</span></sup>{/if} <b class="caret"></b></a>
                        <ul class="dropdown-menu cart">
                           <li><div id="divShoppingCart">{$box_CART_PULL}</div></li>
                        </ul>                        
                      </li>
                      {if $smarty.session.customers_status.customers_status_id == 0}
                      <li><a href="{$admin_area_link}"><i class="fa fa-gear"></i> {#text_admin#}</a></li>
                      {/if}  
                      {if $smarty.session.customer_id}
                      <li><a href="{$logoff}"><i class="fa fa-power-off"></i> {#link_logoff#}</a></li>
                      {/if}  
                    </ul>
                  </div><!-- /.nav-collapse -->
                </div>
              </div><!-- /navbar-inner -->
            </div><!-- /navbar -->
	</div>
</div>
<!-- end: Main Menu -->

{if $navtrail}
<!-- start: Page header / Breadcrumbs -->
<div id="breadcrumbs">
	<div class="container">
		<div class="breadcrumbs">
			{$navtrail}
		</div>
	</div>
</div>
<!-- end: Page header / Breadcrumbs -->
{/if}

<!-- start: Container -->
<div id="container">
	<div class="container">

		<div class="row-fluid">

			<!-- start: Page section -->
			<div class="span9 page-sidebar pull-right">
	
			{$main_content}

			</div>
			<!-- end: Page section -->

		<!-- start: Sidebar -->
		<aside class="span3 sidebar pull-left">

			{$box_CART}
			{$box_SEARCH}
			{$box_DOWNLOADS}
			{$box_CONTENT}

		</aside>
		<!-- end: Sidebar -->

		</div>

	</div>
</div>
<!-- end: Container -->

<!-- start: Footer -->
<footer id="footer">
	<div class="container">
		<div class="row-fluid">
			<div class="span3 clearfix">
				<h3 class="widget-title">{#heading_infobox#}</h3>
				<div class="widget-inner">

					<ul class="unstyled">
						{$box_CONTENT_PULL}
					</ul>

				</div>
			</div>
			<div class="span3 clearfix">
				<h3 class="widget-title">{#heading_news#}</h3>
				<div class="widget-inner">

					<ul class="unstyled">
						{$box_LATESTNEWS_DROPDOWN}
					</ul>

				</div>
			</div>

			<div class="span6 clearfix">
				<h3 class="widget-title">{#heading_articles_new#}</h3>
				<div class="widget-inner">

					<ul class="unstyled">
						{$box_ARTICLESNEW_DROPDOWN}
					</ul>

				</div>
			</div>
		</div>
	</div>
</footer>
<!-- end: Footer -->

<!-- start: Footer menu -->
<div id="footer-menu">
	<div class="container">
		<div class="row-fluid">
			<div class="span6">
				<ul class="privacy inline">
					<li><a href="about_us.html">{#text_about_us#}</a></li>
					<li><a href="contact_us.html">{#text_contact_us#}</a></li>
				</ul>

			</div>
		</div>
	</div>

	{if $BANNER}<div class="text-center">{$BANNER}<br /><br /></div>{/if}

	<div class="text-center"><a href="vam_rss2_info.php"><img src="images/rss.png" alt="RSS" /></a></div>
</div>
<!-- end: Footer menu -->