{config_load file="$language/lang_$language.conf" section="boxes"}
{config_load file="$language/lang_$language.conf" section="boxes"}
<section class="widget inner">
	<h3 class="widget-title">{#heading_add_a_quickie#}</h3>
		{$FORM_ACTION}
			<div class="control-group">
			<label class="control-label">{#text_quickie#}</label>
				<div class="controls">
					{$INPUT_FIELD}
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn btn-inverse"><i class="fa fa-check"></i> {$smarty.const.BOX_HEADING_ADD_PRODUCT_ID}</button>
				</div>
			</div>			
			<div class="ajaxAddQuickie" id="ajaxAddQuickie" style="text-align: left;"></div>
		{$FORM_END}
</section>
<script>
// <![CDATA[
{literal}
$(document).ready(function(){

  $("#quick_add_quickie").keyup(function(){
      var searchString = $("#quick_add_quickie").val(); 
      $.ajax({
      	url: "index_ajax.php",             
      	dataType : "html",
      	type: "POST",
      	data: "q=includes/modules/ajax/ajaxAddQuickie.php&quickie="+searchString,
      	success: function(msg){$("#ajaxAddQuickie").html(msg);}            
 });     
                           
                           
   });


})

{/literal}
// ]]>
</script>