{config_load file="$language/lang_$language.conf" section="boxes"}
{$FORM_ACTION}
        <div class="input-group d-none d-lg-flex mx-4">
          <input class="form-control rounded-left pe-5" type="text" name="keywords" id="quick_find_keyword" placeholder="{$smarty.const.BOX_HEADING_SEARCH}" aria-label="{$smarty.const.BOX_HEADING_SEARCH}">
          <button class="btn btn-outline-secondary align rounded-end" type="submit" aria-label="{$smarty.const.BOX_HEADING_SEARCH}"><i class="pt-1 ci-search position-absolute top-50 end-0 translate-middle-y text-muted fs-base me-3"></i></button>
          <div class="ajaxQuickFind" id="ajaxQuickFind"></div>
        </div>
{$FORM_END}
