/* Desktop Main Menu Color */

.headerfull {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff5183), to(#ff754b));
  background: -webkit-linear-gradient(left, #ff5183, #ff754b);
  background: -moz-linear-gradient(left, #ff5183, #ff754b);
  background: -o-linear-gradient(left, #ff5183, #ff754b);
  background: -ms-linear-gradient(left, #ff5183, #ff754b);
  background: linear-gradient(left, #ff5183, #ff754b);
  background-color: #ff5183;
}

.wsmenu>.wsmenu-list {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff5183), to(#ff754b));
  background: -webkit-linear-gradient(top, #ff5183, #ff754b);
  background: -moz-linear-gradient(top, #ff5183, #ff754b);
  background: -o-linear-gradient(top, #ff5183, #ff754b);
  background: -ms-linear-gradient(top, #ff5183, #ff754b);
  background: linear-gradient(top, #ff5183, #ff754b);
  background-color: #ff5183;
}

.wsmenu>.wsmenu-list>li>.navtext>span {
  color: #fff;
}

.wsmenu>.wsmenu-list>li>.navtext>span+span {
  color: #fff;
}

.wsmenu>.wsmenu-list>li>.navtext>span+span:after {
  color: #fff
}

.wsmenu>.wsmenu-list>li.wsshopmyaccount>a {
  color: #fff;
}

.wsmenu>.wsmenu-list>.wsshopmyaccount>a i {
  color: #fff;
}

.wsmenu>.wsmenu-list>li>a>i {
  color: #fff;
}

.wsmenu>.wsmenu-list>li.wssearchbar>.topmenusearch>input {
  background-color: #fff;
  color: #333;
}

.wsmenu>.wsmenu-list>li.wssearchbar>.topmenusearch>.btnstyle {
  background-color: #fff;
}

.wsmenu>.wsmenu-list>li.wssearchbar>.topmenusearch>input:focus {
  background-color: #fff;
}

.wsmenu>.wsmenu-list>li>a {
  color: #fff;
}

.wsmenu>.wsmenu-list>li>a .wsarrow:after {
  border-top-color: #b3b3b3;
}

.wsmenu>.wsmenu-list>li>a:hover .wsarrow:after {
  border-top-color: #333;
}

.wsmenu>.wsmenu-list>li>a.active .wsarrow:after {
  border-top-color: #333;
}

.wsmenu>.wsmenu-list>li:hover>a .wsarrow:after {
  border-top-color: #333;
}

.wsmenu>.wsmenu-list>li>a.active i {
  color: #333;
}

.wsmenu>.wsmenu-list>li:hover>a>i {
  color: #333;
}

.wsmenu>.wsmenu-list>li>a:hover i {
  color: #333;
}

.wsmenu>.wsmenu-list>li.wssearchbar>.topmenusearch>input:focus~.btnstyle {
  background-color: #fff;
  color: #333;
}

.wsmenu>.wsmenu-list>li.wssearchbar>.topmenusearch>input:focus~.btnstyle i {
  color: #333;
}

.wsmenu>.wsmenu-list>li>a.active {
  background-color: #1991eb;
  color: #fff;
}

.wsmenu>.wsmenu-list>li:hover>a {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
}

.wsmenu>.wsmenu-list>li:hover>a>i {
  color: #fff;
}

.wsmenu>.wsmenu-list>li:hover>.navtext>span {
  color: #fff;
}

.wsmenu>.wsmenu-list>li:hover>.navtext>span+span {
  color: #fff;
}

.wsmenu>.wsmenu-list>li:hover>.navtext>span+span:after {
  color: #fff;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li:hover>a {
  background-color: #FF7152;
  color: #fff;
  text-decoration: none;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li:hover>a {
  background-color: #1991eb;
  color: #fff;
}

.wsmenu>.wsmenu-list>li>.wsshoptabing>.wsshopwp>.wstabitem>li.wsshoplink-active>a {
  background-color: #f5f5f5;
  color: #333;
  border-left-color: #FF557D;
}

.wsmenu>.wsmenu-list>li>.wsshoptabing>.wsshopwp>.wstabitem>li.wsshoplink-active>a>i {
  color: #333;
}

/* Mobile Header Color */

.wsmobileheader {
  background-color: #fff;
}

.wsactive .wsmobileheader {
  border-left: solid 1px #e0e0e0;
}

.wsmenu>.wsmenu-list>li>.wsmenu-click {
  border-color: rgba(0, 0, 0, 0.10);
}

.wsmenu>.wsmenu-list>li>.wsmenu-click>i {
  color: rgba(0, 0, 0, 0.30);
}

.wsmenu>.wsmenu-list>li>.wsmenu-click.ws-activearrow>i {
  color: #fff;
}

.wsmenu>.wsmenu-list>li>a {
  border-bottom-color: rgba(0, 0, 0, 0.15);
}

.wsmenu>.wsmenu-list>li.wscarticon a {
  color: #fff;
}