
  <!-- Mobile Header -->
  <div class="wsmobileheader clearfix">
    <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
    <span class="smllogo"><img src="{$tpl_path}img/logo.png" alt="" /></span>
    <div class="wssearch clearfix">
      <i class="wsopensearch fas fa-search"></i>
      <i class="wsclosesearch fas fa-times"></i>
      <div class="wssearchform clearfix">
        <form>
          <input type="text" placeholder="Search Here">
        </form>
      </div>
    </div>
  </div>
  <!-- Mobile Header -->

  <div class="headtoppart clearfix">
    <div class="headerwp clearfix" itemscope itemtype="http://schema.org/Organization">
      <div class="headertopleft clearfix">
        <div class="address clearfix"> 
        <i class="fas fa-users"></i> <span itemprop="name">{$smarty.const.STORE_NAME}</span>&nbsp;
        <i class="fas fa-home"></i> <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">{$smarty.const.STORE_NAME_ADDRESS}</span>&nbsp;        
        </div>
      </div>
      <div class="headertopright clearfix">
	    <a href="tel:{$smarty.const.STORE_TELEPHONE}"><i class="fas fa-phone"></i> <span itemprop="telephone">{$smarty.const.STORE_TELEPHONE}</span></a>&nbsp;
	    <a href="contact_us.html"><i class="far fa-envelope"></i> {#text_contact_us#}</a> &nbsp;
	    {if $smarty.session.customers_status.customers_status_id == 0}<a href="{$admin_area_link}"><i class="fas fa-cog"></i> {#text_admin#}</a>&nbsp;{/if}
	    {if $smarty.session.customer_id}<a href="{$logoff}"><i class="fas fa-power-off"></i> {#link_logoff#}</a>&nbsp;{/if}  
      </div>
    </div>
  </div>

  <div class="headerfull">
    <div class="wsmain clearfix">
      <div class="smllogo"><a href="#"><img src="{$tpl_path}img/logo.png" width="80" alt="" /></a></div>
      <nav class="wsmenu clearfix">
        <ul class="wsmenu-list">
          <li aria-haspopup="true"><a href="#" class="navtext"><span>Каталог</span> <span>товаров</span></a>
            <div class="wsshoptabing wtsdepartmentmenu clearfix">
              <div class="wsshopwp clearfix">
                <ul class="wstabitem clearfix">
                {$box_CATEGORIES3}
                </ul>
              </div>
            </div>
          </li>

          <li class="wssearchbar clearfix">
            <form class="topmenusearch">
              <input placeholder="Search Product By Name, Category...">
              <button class="btnstyle"><i class="searchicon fas fa-search"></i></button>
            </form>
          </li>

          <li class="wscarticon clearfix">
            <a href="#"><i class="fas fa-shopping-basket"></i> <em class="roundpoint">8</em><span class="hidetxt">Shopping
                Cart</span></a>
          </li>


          <li aria-haspopup="true" class="wsshopmyaccount"><a href="#"><i class="fas fa-align-justify"></i>My&nbsp;Account</a>
            <ul class="sub-menu">
              <li><a href="#"><i class="fas fa-user-tie"></i>View Profile</a></li>
              <li><a href="#"><i class="fas fa-heart"></i>My Wishlist</a></li>
              <li><a href="#"><i class="fas fa-bell"></i>Notification</a></li>
              <li><a href="#"><i class="fas fa-question-circle"></i>Help Center</a></li>
              <li><a href="#"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
            </ul>
          </li>


        </ul>
      </nav>
    </div>
  </div>  