  <!--Main Menu File-->
  <link id="effect" rel="stylesheet" type="text/css" media="all" href="{$tpl_path}webslidemenu/dropdown-effects/fade-down.css" />
  <link rel="stylesheet" type="text/css" media="all" href="{$tpl_path}webslidemenu/webslidemenu.css" />

  <link id="theme" rel="stylesheet" type="text/css" media="all" href="{$tpl_path}webslidemenu/color-skins/white-blue.css" />

  <!-- Include Below JS After Your jQuery.min File -->
  <script type="text/javascript" src="{$tpl_path}webslidemenu/webslidemenu.js"></script>
  <!--Main Menu File-->
  
  
  <!-- Mobile Header -->
  <div class="wsmobileheader clearfix">
    <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
    <span class="smllogo"><img src="{$tpl_path}images/menu-logo.png" width="80" alt="" /></span>
    <div class="wssearch clearfix">
      <i class="wsopensearch fas fa-search"></i>
      <i class="wsclosesearch fas fa-times"></i>
      <div class="wssearchform clearfix">
        <form>
          <input type="text" placeholder="Search Here">
        </form>
      </div>
    </div>
  </div>
  <!-- Mobile Header -->






  <div class="headerfull">
    <div class="wsmain clearfix">
      <div class="smllogo"><a href="#"><img src="{$tpl_path}images/sml-logo.png" alt="" /></a></div>
      <nav class="wsmenu clearfix">
        <ul class="wsmenu-list">
          <li aria-haspopup="true"><a href="#" class="navtext"><span>Shop By</span> <span>Department</span></a>
            <div class="wsshoptabing wtsdepartmentmenu clearfix">
              <div class="wsshopwp clearfix">
                <ul class="wstabitem clearfix">
                
                
                {$box_CATEGORIES3}

                  <li><a href="http://vamshop.loc/contact_us.html"><i class="fas fa-play-circle"></i> Тест категории</a>
                  </li>


                  <li><a href="http://vamshop.loc/smartphones.html"><i class="fas fa-chevron-right"></i> Два уровня</a>
                    <div class="wstitemright clearfix">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-lg-3 col-md-12 clearfix">
                            <ul class="wstliststy02 clearfix">
                              <li class="wstheading clearfix">Latest Movies</li>
                            </ul>
                          </div>
                          <div class="col-lg-3 col-md-12 clearfix">
                            <ul class="wstliststy02 clearfix">
                              <li class="wstheading clearfix">Latest Movies</li>
                            </ul>
                          </div>
                          <div class="col-lg-3 col-md-12 clearfix">
                            <ul class="wstliststy02 clearfix">
                              <li class="wstheading clearfix">Latest Movies</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li><a href="http://vamshop.loc/smartphones.html"><i class="fas fa-chevron-right"></i> Movies, Music &amp; Games</a>
                    <div class="wstitemright clearfix">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-lg-3 col-md-12 clearfix">
                            <ul class="wstliststy02 clearfix">
                              <li class="wstheading clearfix">Latest Movies</li>
                              <li><a href="#">Action & Adventure <span class="wstmenutag greentag">New</span></a></li>
                              <li><a href="#">Bollywood </a></li>
                              <li><a href="#">Documentary</a></li>
                              <li><a href="#">Educational</a></li>

                            </ul>
                          </div>
                          <div class="col-lg-3 col-md-12 clearfix">
                            <ul class="wstliststy02 clearfix">
                              <li class="wstheading clearfix">Newest Games</li>
                              <li><a href="#">PlayStation 4 </a> </li>
                              <li><a href="#">Xbox 1 </a> <span class="wstmenutag orangetag">Most Viewed</span></li>
                              <li><a href="#">Nintendo DS</a> </li>
                              <li><a href="#">PlayStation Vita </a> </li>
                              <li><a href="#">Retro Gaming</a> </li>
                              <li><a href="#">Digital Games</a> </li>
                              <li><a href="#">Microconsoles</a> </li>
                              <li><a href="#">Kids & Family </a> </li>
                            </ul>
                          </div>
                          <div class="col-lg-3 col-md-12 clearfix">
                            <ul class="wstliststy02 clearfix">
                              <li class="wstheading clearfix">Popular Music Genre</li>

                              <li><a href="#">Dance & Electronic</a> </li>
                            </ul>
                          </div>
                          <div class="col-lg-3 col-md-12 clearfix">
                            <ul class="wstliststy02 clearfix">
                              <li class="wstheading clearfix">Popular Music Genre</li>
                            </ul>
                          </div>
                          <div class="col-lg-6 wstadsize01 clearfix"><a href="#"><img src="{$tpl_path}images/ad-size01.jpg" alt=""></a></div>
                          <div class="col-lg-6 wstadsize02 clearfix"><a href="#"><img src="{$tpl_path}images/ad-size02.jpg" alt=""></a></div>
                        </div>
                      </div>
                    </div>
                  </li>


                  <li><a href="http://vamshop.loc/smartphones.html"><i class="fas fa-chevron-right"></i> Movies, Music &amp; Games</a>
                    <div class="wstitemright clearfix">
                      <div class="container-fluid">
                        
                        <div class="row">

                          <div class="col-lg-3 col-md-12 clearfix">
                            <ul class="wstliststy02 clearfix">
                              <li class="wstheading clearfix">Popular Music Genre
                              <ul>  
                              <li><a href="#">Dance & Electronic</a> </li>
                              <li><a href="#">Dance & Electronic</a> </li>
                              <li><a href="#">Dance & Electronic</a> </li>
                              <li><a href="#">Dance & Electronic</a> </li>
                              </ul>
                              </li>
                            </ul>
                          </div>
                          <div class="col-lg-3 col-md-12 clearfix">
                            <ul class="wstliststy02 clearfix">
                              <li class="wstheading clearfix">Popular Music Genre</li>
                            </ul>
                          </div>
                          
                        </div>
                        
                      </div>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </li>



          <li class="wssearchbar clearfix">
            <form class="topmenusearch">
              <input placeholder="Search Product By Name, Category...">
              <button class="btnstyle"><i class="searchicon fas fa-search"></i></button>
            </form>
          </li>

          <li class="wscarticon clearfix">
            <a href="#"><i class="fas fa-shopping-basket"></i> <em class="roundpoint">8</em><span class="hidetxt">Shopping
                Cart</span></a>
          </li>


          <li aria-haspopup="true" class="wsshopmyaccount"><a href="#"><i class="fas fa-align-justify"></i>My&nbsp;Account</a>
            <ul class="sub-menu">
              <li><a href="#"><i class="fas fa-user-tie"></i>View Profile</a></li>
              <li><a href="#"><i class="fas fa-heart"></i>My Wishlist</a></li>
              <li><a href="#"><i class="fas fa-bell"></i>Notification</a></li>
              <li><a href="#"><i class="fas fa-question-circle"></i>Help Center</a></li>
              <li><a href="#"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
            </ul>
          </li>


        </ul>
      </nav>
    </div>
  </div>  