{config_load file="$language/lang_$language.conf" section="boxes"}
{config_load file="$language/lang_$language.conf" section="index"}
{if $deny_cart neq 'true'}
<a data-toggle="dropdown" class="dropdown-toggle cart" data-target="#" href="{$smarty.const.FILENAME_SHOPPING_CART}" title="{$smarty.const.NAVBAR_TITLE_SHOPPING_CART}"> <i class="fa fa-shopping-cart"></i> {$smarty.const.NAVBAR_TITLE_SHOPPING_CART} {if $TOTAL_QUANTITY > 0}<sup><span title="{$cart_count}" class="badge badge-important pulse-button">{$TOTAL_QUANTITY}</span></sup>{/if} <b class="caret"></b></a>
<div class="dropdown-menu cart">
{if $empty=='false'}
<div class="widget inner shopping-cart-widget">
	<div class="cart-dropdown">
			<div class="content">
				<div class="products">
					{foreach name=aussen item=products_data from=$products}
						<div class="media">
							<a class="pull-right" href="{$products_data.LINK}">
								<img class="media-object" src="{$products_data.IMAGE}" alt="" title="" width="40" height="40" />
							</a>
						<div class="media-body">
						{if $smarty.const.AJAX_CART == 'true'}
		<form id="update_cart{counter name=1}" class="cart_quantity" action="{$products_data.LINK}/action/update_product" method="post" onsubmit="doDelProduct({counter name=2}); return false;">{$products_data.PRODUCTS_QTY}
		{/if}
		                  <span class="media-heading"><a href="{$products_data.LINK}">{$products_data.NAME|vam_truncate:$smarty.const.MAX_DISPLAY_CART:"...":true}</a></span> {if $smarty.const.AJAX_CART == 'true'}&nbsp;<button class="btn btn-link btn-sm label label-important"><i class="fa fa-times"></i></button></form>{/if}
								{if $products_data.ATTRIBUTES!=''} 
								{foreach key=key_data item=item_data from=$products_data.ATTRIBUTES} 
								{if $item_data.NAME != ''}{$item_data.NAME}:{/if} {if $item_data.VALUE != ''}{$item_data.VALUE}<br />{/if}
								{/foreach} 
								{/if}
							{$products_data.QTY} x {$products_data.PRICE}
						</div>
						</div>
					{/foreach}
				</div>
				{if $DISCOUNT}
				<p class="subtotal">
					<strong>{#text_discount#}</strong>
					<span class="amount">{$DISCOUNT}</span>
				</p>
				{/if}
				<p class="subtotal">
					<strong>{$UST}{#text_total#}</strong>
					<span class="amount">{$TOTAL}</span>
				</p>
				<p class="buttons">
					<a class="btn btn-inverse checkout" href="{$LINK_CHECKOUT}"><i class="fa fa-check"></i> {#text_checkout#}</a>
					<a class="btn btn-inverse viewcart" href="{$LINK_HOME}"><i class="fa fa-arrow-left"></i> {$smarty.const.TEXT_BACK}</a>
					<a class="btn btn-inverse viewcart" href="{$LINK_CART}"><i class="fa fa-shopping-cart"></i> {#link_cart#}</a>
				</p>
			</div>
	</div>
</div>
{else}
<div class="widget inner shopping-cart-widget">
	<div class="cart-dropdown">
			<div class="content">
           {#text_empty_cart#} 
			</div>
	</div>
</div>
{/if}
</div>
{/if}

