.container .productOldPrice,
.container .your-discount,
.tns-carousel .productOldPrice,
.tns-carousel .your-discount,
.widget .productOldPrice,
.widget .your-discount {

display: none;

}

/* Ajax quick find */

div#ajaxQuickFind,
div#ajaxQuickFindHeader {
  text-align: left; 
  color: #000;
  position: absolute; 
  z-index: 999; 
  top: 50px;
  width: inherit;
  background-color: #fff;
  border-radius: 4px;
}

div.ajaxQuickFind, 
div.ajaxQuickFindHeader 
   {
     text-align: left;
   }

ul.ajaxQuickFind, 
ul.ajaxQuickFindHeader 
   {
     list-style-type: none;
     list-style-image: none;
     padding: 0.5em;
   }

li.ajaxQuickFind, 
li.ajaxQuickFindHeader 
   {
     padding-left: 0px;
   } 

#searchPreview table {
  border: 1px #e5e5e5;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
  background: #fff;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 0;
}

#searchPreview .table th, #searchPreview .table td {
  border-color: #e5e5e5;
  vertical-align: middle;
  font-weight: normal;
}	

#searchPreview a {
    color: #4b566b;
}

#searchPreview td:hover a,
#searchPreview a:hover,
#searchPreview a:focus {
    color: #fe696a;
}

/* /Ajax quick find */

.wishlist-button {
    position: absolute;
    top: .75rem;
    right: .75rem;
    z-index: 5;
    transition: color 0.25s ease-in-out,background-color 0.25s ease-in-out,border-color 0.25s ease-in-out,box-shadow 0.2s ease-in-out;
    border: 0;
    border-radius: 50%;
    background-color: #f3f5f9;
    color: #373f50;
    text-align: center;    
}

.wishlist-button i {
    color: #373f50;
} 

.wishlist-button:hover, 
.wishlist-button i:hover {
    color: #fe696a;
}

.handheld-toolbar .d-none {
display: block !important;
}

.handheld-toolbar .navbar-tool-tooltip {
display: inline;
color: #7d879c;
font-size: .6875rem;
}

.handheld-toolbar a.navbar-tool {
padding: .5rem;
padding-top: .125rem;
border-left: 1px solid #e3e9ef;
text-align: center;
}

.handheld-toolbar .navbar-tool-icon-box {
display: block;
color: #4b566b;
font-size: 1.25rem;
margin: 0 auto;
padding: 0;
line-height: 1 !important;
height: auto !important;
}

.handheld-toolbar .navbar-tool-icon {
line-height: 1 !important;
}

.handheld-toolbar .navbar-tool-label {
right: 20%;
margin-top: 2px;
}

/* Handheld Cart */

.handheld-toolbar .dropdown-menu,
.handheld-toolbar .cart-total {
display: none;
}

.handheld-toolbar .navbar-tool-icon-box .navbar-tool-label {
    position: absolute;
    top: -.3125rem;
    right: -.3125rem;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: #fe696a;
    color: #fff;
    font-size: .75rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.25rem;
}

.handheld-toolbar .navbar-tool-icon-box .navbar-tool-label {
right: -50%;
margin-top: 2px;
}

.handheld-toolbar .navbar-tool-text {
display: inline;
color: #7d879c;
font-size: .6875rem;
}

.handheld-toolbar a.navbar-tool-text {
    display: block;
    padding: .5rem;
    padding-top: .125rem;
    text-align: center;
}

.handheld-toolbar .navbar-tool-text>small, 
.handheld-toolbar .navbar-tool-text>.small {
    display: inline;
    font-size: .6875rem;
}

.handheld-toolbar-item {
    padding: .5rem;
    padding-top: .125rem;
    border-left: 1px solid #e3e9ef;
    border-right: 1px solid #e3e9ef;
    text-align: center;
}

/* Product Labels */

.label {
    right: auto;
    position: absolute;
    top: .75rem;
    left: .75rem;
    box-shadow: 0 .5rem 1.125rem -.275rem rgba(243,71,112,.9);
    color: #fff;
    background-color: #f34770;
    display: inline-block;
    padding: .25em .625em;
    font-size: 75%;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .175rem;
    transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .2s ease-in-out;
}

.label.new {
  background-color: #005685;
  box-shadow: 0 .5rem 1.125rem -.275rem rgba(0,86,133,.9);
}

.label.hit {
  background-color: #d91414;
  box-shadow: 0 .5rem 1.125rem -.275rem rgba(217,20,20,.9);
}

.label.sale {
  background-color: #006100;
  box-shadow: 0 .5rem 1.125rem -.275rem rgba(0,97,0,.9);
}

.label.html {
  background-color: transparent;
  box-shadow: 0 .5rem 1.125rem -.275rem transparent;
} 

/* /Product Labels */