.container .productOldPrice,
.container .your-discount,
.tns-carousel .productOldPrice,
.tns-carousel .your-discount,
.widget .productOldPrice,
.widget .your-discount {

display: none;

}

.product-info-page .productOldPrice,
.product-info-page .your-discount {

display: inline;

}

.product-info-page .your-discount {
padding: 0 .2em;
margin: 0 .5em;
background: #dd2c00;
color: #fff;
font-weight: 500;
border-radius: 2px;
border: 0px solid #dd2c00;
font-size: 12px;
display: inline-block;
}

.product-info-page .productOldPrice 
   {
	  text-decoration: line-through;
   }
   
.product-info-page .productPrice 
   {
     font-size: calc(1.3rem + .6vw);
     font-weight: 400;
     color: #4e54c8;
     display: block;
   }   

/* Ajax quick find */

div#ajaxQuickFind,
div#ajaxQuickFindHeader {
  text-align: left; 
  color: #000;
  position: absolute; 
  z-index: 999; 
  top: 50px;
  width: inherit;
  background-color: #fff;
  border-radius: 4px;
}

div.ajaxQuickFind, 
div.ajaxQuickFindHeader 
   {
     text-align: left;
   }

ul.ajaxQuickFind, 
ul.ajaxQuickFindHeader 
   {
     list-style-type: none;
     list-style-image: none;
     padding: 0.5em;
   }

li.ajaxQuickFind, 
li.ajaxQuickFindHeader 
   {
     padding-left: 0px;
   } 

#searchPreview table {
  border: 1px #e5e5e5;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
  background: #fff;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 0;
}

#searchPreview .table th, #searchPreview .table td {
  border-color: #e5e5e5;
  vertical-align: middle;
  font-weight: normal;
}	

#searchPreview a {
    color: #4b566b;
}

#searchPreview td:hover a,
#searchPreview a:hover,
#searchPreview a:focus {
    color: #fe696a;
}

/* /Ajax quick find */

.wishlist-button {
    position: absolute;
    top: .75rem;
    right: .75rem;
    z-index: 5;
    transition: color 0.25s ease-in-out,background-color 0.25s ease-in-out,border-color 0.25s ease-in-out,box-shadow 0.2s ease-in-out;
    border: 0;
    border-radius: 50%;
    background-color: #f3f5f9;
    color: #373f50;
    text-align: center;    
}

.wishlist-button i {
    color: #373f50;
} 

.wishlist-button:hover, 
.wishlist-button i:hover {
    color: #fe696a;
}

.handheld-toolbar .d-none {
display: block !important;
}

.handheld-toolbar .navbar-tool-tooltip {
display: inline;
color: #7d879c;
font-size: .6875rem;
}

.handheld-toolbar a.navbar-tool {
padding: .5rem;
padding-top: .125rem;
border-left: 1px solid #e3e9ef;
text-align: center;
}

.handheld-toolbar .navbar-tool-icon-box {
display: block;
color: #4b566b;
font-size: 1.25rem;
margin: 0 auto;
padding: 0;
line-height: 1 !important;
height: auto !important;
}

.handheld-toolbar .navbar-tool-icon {
line-height: 1 !important;
}

.handheld-toolbar .navbar-tool-label {
right: 20%;
margin-top: 2px;
}

/* Handheld Cart */

.handheld-toolbar .dropdown-menu,
.handheld-toolbar .cart-total {
display: none;
}

.handheld-toolbar .navbar-tool-icon-box .navbar-tool-label {
    position: absolute;
    top: -.3125rem;
    right: -.3125rem;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: #fe696a;
    color: #fff;
    font-size: .75rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.25rem;
}

.handheld-toolbar .navbar-tool-icon-box .navbar-tool-label {
right: -50%;
margin-top: 2px;
}

.handheld-toolbar .navbar-tool-text {
display: inline;
color: #7d879c;
font-size: .6875rem;
}

.handheld-toolbar a.navbar-tool-text {
    display: block;
    padding: .5rem;
    padding-top: .325rem;
    text-align: center;
}

.handheld-toolbar .navbar-tool-text>small, 
.handheld-toolbar .navbar-tool-text>.small {
    display: inline;
    font-size: .6875rem;
}

.handheld-toolbar-item {
    padding: .5rem;
    padding-top: .125rem;
    border-left: 1px solid #e3e9ef;
    border-right: 1px solid #e3e9ef;
    text-align: center;
}

/* Product Labels */

.label {
    right: auto;
    position: absolute;
    top: .75rem;
    left: .75rem;
    box-shadow: 0 .5rem 1.125rem -.275rem rgba(243,71,112,.9);
    color: #fff;
    background-color: #f34770;
    display: inline-block;
    width: auto;
    padding: .25em .625em;
    font-size: 75%;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .175rem;
    transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .2s ease-in-out;
}

.label.new {
  background-color: #005685;
  box-shadow: 0 .5rem 1.125rem -.275rem rgba(0,86,133,.9);
}

.label.hit {
  background-color: #d91414;
  box-shadow: 0 .5rem 1.125rem -.275rem rgba(217,20,20,.9);
}

.label.sale {
  background-color: #006100;
  box-shadow: 0 .5rem 1.125rem -.275rem rgba(0,97,0,.9);
}

.label.html {
  background-color: transparent;
  box-shadow: 0 .5rem 1.125rem -.275rem transparent;
} 

/* /Product Labels */

.breadcrumb-separator {
  padding: 0 .5rem;
  color: #a6acb7;
}

/*- Список разделов */

#categoriesBoxMenu ul 
   { 
     padding: 0;
     margin: 0;
     list-style-type: none; 
   }

#categoriesBoxMenu #CatNavi .CatLevel {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 44px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 3px;
    border-radius: .4375rem;
}

#categoriesBoxMenu #CatNavi .CatLevel:hover {
    background: #f6f9fc;
}

#categoriesBoxMenu #CatNavi .CatLevel.Current {
    background: #373f50;
}

#categoriesBoxMenu #CatNavi .CatLevel a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
    -ms-flex-positive: 2;
    flex-grow: 2;
    padding: 0 13px;
    color: #4b566b;
}

#categoriesBoxMenu #CatNavi .CatLevel a:hover {

}

#categoriesBoxMenu #CatNavi .CatLevel.Current a {
    color: #fff;
}


/*- /Список разделов */


.product-info-page .label {

position: static;
top: 0;
left: 0;
right: 0;
vertical-align: middle;

}

/*- Product Attributes */

.filters .filters .fields,
.shipping-methods .shipping-method .shipping-fields,
.product-attributes .product-attribute-item .shipping-fields,
.payment-methods .payment-method .payment-fields {
    display: none;
}

.filters .filter.card,
.shipping-methods .shipping-method.card,
.product-attributes .product-attribute-item.card,
.payment-methods .payment-method.card {
	border-radius: .25rem;
}

.filters .filter.card .card-body,
.shipping-methods .shipping-method.card .card-body,
.product-attributes .product-attribute-item.card .card-body,
.payment-methods .payment-method.card .card-body {
  padding-top: 1em;
}

.filters .filter.card .card-footer,
.shipping-methods .shipping-method.card .card-footer,
.product-attributes .product-attribute-item.card .card-footer,
.payment-methods .payment-method.card .card-footer {
  padding: 0;
  margin: 0;
  border-top: 0px;
}

.filter.selected .fields,
.filter:hover .fields,
.shipping-method.selected .shipping-fields,
.shipping-method:hover .shipping-fields,
.product-attribute-item.selected .shipping-fields,
.product-attribute-item.active .shipping-fields,
.product-attribute-item:hover .shipping-fields,
.payment-method.selected .payment-fields,
.payment-method:hover .payment-fields {
  display: block;
  width: calc(100% + 2px);
  position: absolute;
  overflow: hidden;
  padding: 0 .5em;
  z-index: 100;
  margin-left: -1px;
  background: rgba(0,0,0,.03);
  border-left: 1px solid rgba(0,0,0,.125);
  border-right: 1px solid rgba(0,0,0,.125);
  border-top: 0px solid rgba(0,0,0,.125);
  border-bottom: 1px solid rgba(0,0,0,.125);
  webkit-box-shadow: 0 14px 15px rgba(153,153,153,.3);
  box-shadow: 0 14px 15px rgba(153,153,153,.3);
  -webkit-transition: .5s;
  transition: .5s;
}

.filter.selected,
.shipping-method.selected,
.product-attribute-item.selected,
.product-attribute-item.active,
.payment-method.selected {
  webkit-box-shadow: 0 14px 15px rgba(153,153,153,.3);
  box-shadow: 0 14px 15px rgba(153,153,153,.3);
  -webkit-transition: .5s;
  transition: .5s;
  background: #f8f9fa;
}

.shipping-method.selected .shipping-fields,
.payment-method.selected .payment-fields {
  background: rgba(0,0,0,.03);
}

.filter:hover,
.shipping-method:hover,
.product-attribute-item:hover,
.payment-method:hover {
  border-top: 1px solid #dd2c00;
  border-left: 1px solid #dd2c00;
  border-right: 1px solid #dd2c00;
  border-bottom: 1px solid #dd2c00;
  border-radius: .25rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.filter:hover .fields,
.shipping-method:hover .shipping-fields,
.product-attribute-item:hover .shipping-fields,
.payment-method:hover .payment-fields {
  border-top: 0px solid #dd2c00;
  border-left: 1px solid #dd2c00;
  border-right: 1px solid #dd2c00;
  border-bottom: 1px solid #dd2c00;
  border-radius: .25rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.product-attribute-item.active, 
.selected {
  border-top: 1px solid #dd2c00;
  border-left: 1px solid #dd2c00;
  border-right: 1px solid #dd2c00;
  border-bottom: 1px solid #dd2c00;
  border-radius: .25rem;
}

.filter.selected .fields,
.shipping-method.selected .shipping-fields,
.product-attribute-item.selected .shipping-fields,
.product-attribute-item.active .shipping-fields,
.payment-method.selected .payment-fields {
  border-top: 0px;
  border-left: 1px solid #dd2c00;
  border-right: 1px solid #dd2c00;
  border-bottom: 1px solid #dd2c00;
  border-radius: .25rem;
}

.product-attributes .btn-group-toggle .btn {
  padding: 0;
}

.product-attributes .product-attribute-item label {
  margin-bottom: 0;
}

.product-attributes .product-attribute-item.card .card-body:before {
/*  content: "\f055";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
  color: #dd2c00;
  position: absolute;
  top 0px;
  right: 5px;
  transform: scale(1);
  transition: all 0.3s ease-out;  */
}

.product-attributes .product-attribute-item.active.card .card-body:before {
/*  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
  color: #006100;
  position: absolute;
  top 0px;
  right: 5px;
  transform: scale(1);
  transition: .5s;*/
}

.product-attributes .product-attribute-item.card .card-body {
  padding-top: 0;
}

.product-attributes .product-attribute-item.card .card-text {
  padding-top: .5em;
}

.product-attributes .product-attribute-item.card .card-header {
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.product-attributes .product-attribute-item.card .card-body {
  min-height: 0;
}

.product-attributes .btn-group-toggle>.btn input[type="radio"], 
.product-attributes .btn-group-toggle>.btn input[type="checkbox"], 
.product-attributes .btn-group-toggle>.btn-group>.btn input[type="radio"], 
.product-attributes .btn-group-toggle>.btn-group>.btn input[type="checkbox"] {
}

/*- /Product Attributes */
