<footer class="p-3 bg-secondary">
  <div class="container">
  <div class="row">
    <div class="col-12 col-md">
      <a href=""><img class="mb-2" src="{$tpl_path}img/logo.png" alt="{$smarty.const.STORE_NAME}"></a>
      <small class="d-block mb-3 text-white">&copy; {$smarty.now|date_format:"%Y"} {$smarty.const.STORE_NAME}</small>
         <ul class="list-inline">
           <li class="list-inline-item text-white"><a class="text-light" href="https://instagram.com/vamcart" ><i class="fab fa-instagram"></i></a></li>
           <li class="list-inline-item text-white"><a class="text-light" href="https://vk.com/vamshop" ><i class="fab fa-vk"></i></a></li>
           <li class="list-inline-item text-white"><a class="text-light" href="https://facebook.com/vamshop" ><i class="fab fa-facebook"></i></a></li>
           <li class="list-inline-item text-white"><a class="text-light" href="https://twitter.com/vamshop" ><i class="fab fa-twitter"></i></a></li>
           <li class="list-inline-item text-white"><a class="text-light" href="vam_rss2_info.php" ><i class="fas fa-rss"></i></a></li>
         </ul>
      <small class="d-block mt-3 text-white"><button class="btn btn-primary btn-sm add-button" id="add-button">{#text_a2hs#}</button></small>
    </div>
    <div class="col-6 col-md white">
      <h5 class="text-white">{#heading_infobox#}</h5>
      <ul class="list-unstyled text-small">
        {$box_CONTENT_PULL}
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5 class="text-white">{#heading_news#}</h5>
      <ul class="list-unstyled text-small">
        {$box_LATESTNEWS_DROPDOWN}
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5 class="text-white">{#heading_articles_new#}</h5>
      <ul class="list-unstyled text-small">
        {$box_ARTICLESNEW_DROPDOWN}
      </ul>
    </div>
  </div>
  </div>
</footer> 
