<footer id="footer" class="py-3 bg-secondary">
  <div class="container">

<div class="row">
	<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 text-left">
		<span class="d-block mb-3 text-white">&copy; {$smarty.now|date_format:"%Y"}</span>
		<div class="mb-3" itemscope itemtype="http://schema.org/Organization">
        <ul class="list-unstyled">
          {if {$smarty.const.STORE_TELEPHONE} != ""}<li class="list-item py-1"><a href="tel:{$smarty.const.STORE_TELEPHONE}"><i class="fas fa-phone"></i> <span itemprop="telephone">{$smarty.const.STORE_TELEPHONE}</span></a></li>{/if}
          {if {$smarty.const.STORE_NAME} != ""}<li class="list-item text-white py-1"><i class="fas fa-users"></i> <span itemprop="name">{$smarty.const.STORE_NAME}</span></li>{/if}
          {if {$smarty.const.STORE_NAME_ADDRESS} != ""}<li class="list-item text-white py-1"><i class="fas fa-home"></i> <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">{$smarty.const.STORE_NAME_ADDRESS}</span></li>{/if}
        </ul>        
		</div>
			<ul class="list-inline pt-1">
				<li class="list-inline-item text-white px-1"><a class="text-light" href="https://vk.com/{$smarty.const.STORE_VK}" aria-label="vk"><i class="fab fa-vk"></i></a></li>
				<li class="list-inline-item text-white px-1"><a class="text-light" href="https://facebook.com/{$smarty.const.STORE_FACEBOOK}" aria-label="facebook"><i class="fab fa-facebook"></i></a></li>
				<li class="list-inline-item text-white px-1"><a class="text-light" href="https://t.me/{$smarty.const.STORE_TELEGRAM}" aria-label="telegram"><i class="fab fa-telegram"></i></a></li>
				<li class="list-inline-item text-white px-1"><a class="text-light" href="https://instagram.com/{$smarty.const.STORE_INSTAGRAM}" aria-label="instagram"><i class="fab fa-instagram"></i></a></li>
				<li class="list-inline-item text-white px-1"><a class="text-light" href="https://twitter.com/{$smarty.const.STORE_TWITTER}" aria-label="twitter"><i class="fab fa-twitter"></i></a></li>
				<li class="list-inline-item text-white px-1"><a class="text-light" href="https://youtube.com/{$smarty.const.STORE_YOUTUBE}" aria-label="youtube"><i class="fab fa-youtube"></i></a></li>
				<li class="list-inline-item text-white px-1"><a class="text-light" href="vam_rss2_info.php" aria-label="rss"><i class="fas fa-rss"></i></a></li>
			</ul>
	{if $smarty.const.ENABLE_SERVICE_WORKER == 'true'}<div class="d-block mt-3 mb-3 text-white"><button class="btn btn-inverse checkout btn-sm a2hs-button" id="a2hs-button">{#text_a2hs#}</button></div>{/if}
	</div>
	<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
		<div class="h5 text-white text-left font-weight-bold widget-title">{#heading_infobox#}</div>
		<div class="widget-inner text-left">
			<ul class="list-unstyled text-small">
				{$box_CONTENT_PULL}
			</ul>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
		<div class="h5 text-white text-left font-weight-bold widget-title">{#heading_news#}</div>
		<div class="widget-inner text-left">
			<ul class="list-unstyled text-small">
				{$box_LATESTNEWS_DROPDOWN}
			</ul>
		</div>
	</div>

	<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
		<div class="h5 text-white text-left font-weight-bold widget-title">{#heading_articles_new#}</div>
		<div class="widget-inner text-left">
			<ul class="list-unstyled text-small">
				{$box_ARTICLESNEW_DROPDOWN}
			</ul>
		</div>
	</div>
</div>
		  
  </div>
  
</footer> 

<!-- Geo Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="h5 modal-title" id="myModalTitle">{$smarty.const.TEXT_CITY_LOCATION}</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="{$smarty.const.TEXT_CITY_CLOSE}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

		<label for="vamshop-city">{$smarty.const.TEXT_CITY}: </label>
		<div class="ui-widget" style="display: inline-block;">
			<input id="vamshop-city" class="ui-autocomplete-input" autocomplete="off" value="{cookie name="vamshop-city"}" />
			<br />
          <div id="vamshop-cities"></div>
		</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{$smarty.const.TEXT_CITY_CLOSE}</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal" id="submit-modal1">{$smarty.const.TEXT_CITY_SAVE}</button>
      </div>
    </div>
  </div>
</div>

{if $smarty.const.ENABLE_COOKIE_ALERT == 'true' && {cookie name="cookie-alert"} != 1}
<div class="alert alert-secondary fade show cookie-alert" id="cookie-alert" role="alert">
  {$smarty.const.TEXT_ALERT_COOKIE}
  <button type="button" class="btn btn-inverse btn-sm" data-dismiss="alert" aria-label="{$smarty.const.TEXT_COOKIE_CLOSE}">{$smarty.const.TEXT_COOKIE_OK}</button>
</div>
{/if}





