<header class="pt-2 bg-light">
<div class="container">
  <div class="row">
    <div class="col-auto mr-auto"><a href="tel:{$smarty.const.STORE_TELEPHONE}"><i class="fas fa-phone"></i> <span itemprop="telephone">{$smarty.const.STORE_TELEPHONE}</span></a>, <a href="contact_us.html"><i class="far fa-envelope"></i> {#text_contact_us#}</a></div>
    <div class="col-auto"><i class="fas fa-truck"></i> Быстрая доставка</div>
    <div class="col-auto"><i class="fas fa-wallet"></i> Удобная оплата</div>
    <div class="col-auto"><i class="fas fa-percentage"></i> Доступные цены</div>
  </div>
</div>
</header>