<header class="pt-2 bg-light">
<div class="container">
  <div class="row" itemscope itemtype="http://schema.org/Organization">
    <div class="col-auto mr-auto"><a href="tel:{$smarty.const.STORE_TELEPHONE}"><i class="fas fa-phone"></i> <span itemprop="telephone">{$smarty.const.STORE_TELEPHONE}</span></a> <a href="contact_us.html"><i class="far fa-envelope"></i> {#text_contact_us#}</a></div>
    <div class="col-auto"><i class="fas fa-users"></i> <span itemprop="name">{$smarty.const.STORE_NAME}</span> <i class="fas fa-home"></i> <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">{$smarty.const.STORE_NAME_ADDRESS}</span></div>
  </div>
</div>
</header>