{config_load file="$language/lang_$language.conf" section="account"}<h1>{#heading_account#}</h1>
<!-- Приветствие -->
{$error_message}
<div class="page">
<div class="pagecontent">
<p>
{#title_welcome#}
</p>
<p>
{#text_welcome#}
</p>

{if $LINK_LOGIN}
<ul class="accountLinks">
<li class="accountLinks"><a class="btn btn-inverse" href="{$LINK_LOGIN}"><i class="fa fa-user"></i> {#text_login#}</a></li>
</ul>
{/if}

{if $LINK_LOGIN}
{if {$smarty.const.SOCIAL_LOGIN} == "true"}
<br />
<ul class="inline">
<li class="accountLinks">{$smarty.const.TEXT_SOCIAL_LOGIN}:</li>
<li class="accountLinks"><a href="https://oauth.vk.com/authorize?client_id={$smarty.const.VK_OAUTH_CLIENT_ID}&redirect_uri={$smarty.const.HTTP_SERVER}{$smarty.const.DIR_WS_CATALOG}{$smarty.const.FILENAME_CREATE_ACCOUNT}?social_login=vk&response_type=code&display=page&scope=email"><i class="fa fa-vk" title="{$smarty.const.TEXT_SOCIAL_LOGIN_VK}"></i> {$smarty.const.TEXT_SOCIAL_LOGIN_VK}</a></li>
<li class="accountLinks"><a href="{$smarty.const.HTTP_SERVER}{$smarty.const.DIR_WS_CATALOG}{$smarty.const.FILENAME_CREATE_ACCOUNT}?social_login=google"><i class="fa fa-google-plus" title="{$smarty.const.TEXT_SOCIAL_LOGIN_GOOGLE}"></i> {$smarty.const.TEXT_SOCIAL_LOGIN_GOOGLE}</a></li>
<li class="accountLinks"><a href="https://www.facebook.com/dialog/oauth?client_id={$smarty.const.FACEBOOK_OAUTH_CLIENT_ID}&redirect_uri={$smarty.const.HTTP_SERVER}{$smarty.const.DIR_WS_CATALOG}{$smarty.const.FILENAME_CREATE_ACCOUNT}?social_login=fb&response_type=code&display=page&scope=public_profile,email"><i class="fa fa-facebook" title="{$smarty.const.TEXT_SOCIAL_LOGIN_FACEBOOK}"></i> {$smarty.const.TEXT_SOCIAL_LOGIN_FACEBOOK}</a></li>
</ul>
{/if}
{/if}

</div>
</div>
<!-- /Приветствие -->

<!-- Личные данные -->
<div class="page">
<div class="pagecontent">
<p>
{#title_account#}
</p>
<ul class="accountLinks">
<li class="accountLinks"><a href="{$LINK_EDIT}">{#text_edit#}</a></li>
<li class="accountLinks"><a href="{$LINK_ADDRESS}">{#text_address#}</a></li>
<li class="accountLinks"><a href="{$LINK_PASSWORD}">{#text_password#}</a></li>
</ul>
</div>
</div>
<!-- /Личные данные -->

{if $order_content}
<!-- Заказы -->
<div class="page">
<div class="pagecontent">
<p>
{#title_orders#}&nbsp;<a href="{$LINK_ALL}">{#text_all#}</a>
</p>
{foreach name=aussen item=order_data from=$order_content} <p>
<a href="{$order_data.ORDER_LINK}">{$order_data.ORDER_DATE}</a>&nbsp;&nbsp;{#order_nr#} {$order_data.ORDER_ID}
</p><p>
{#order_total#} {$order_data.ORDER_TOTAL}&nbsp;&nbsp;{#order_status#} {$order_data.ORDER_STATUS} </p><p>
{$order_data.ORDER_BUTTON}</p>{/foreach} 
</div>
</div>
<!-- /Заказы -->
{/if}

<!-- Уведомления -->
<div class="page">
<div class="pagecontent">
<p>
{#title_notification#}
</p>
<ul class="accountLinks">
<li class="accountLinks"><a href="{$LINK_NEWSLETTER}">{#text_newsletter#}</a></li>
</ul>
</div>
</div>
<!-- /Уведомления -->

{if $smarty.const.DISPLAY_LAST_VIEWED =='true'}
{if $products_history}
<!-- Просмотренные товары -->
<div class="page">
<p>
{#title_viewed_products#}
</p>

<!-- start: products listing -->
<div class="row-fluid shop-products">
	<ul class="thumbnails">
		{foreach name=aussen item=module_data from=$products_history}
		{if {$smarty.get.cat} > 0}
		<li class="item span4{if $smarty.foreach.aussen.index % 3 == 0} first{/if}">
		{else}
		<li class="item span3{if $smarty.foreach.aussen.index % 4 == 0} first{/if}">
		{/if}
			<div class="thumbnail text-center">
				{if $module_data.PRODUCTS_SPECIAL > 0}<div class="description"><span class="discount">-{$module_data.PRODUCTS_SPECIAL|round}%</span></div>{/if}
				<a href="{$module_data.PRODUCTS_LINK}" class="image"><img src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_NAME}" />{if $module_data.PRODUCTS_LABEL}{$module_data.PRODUCTS_LABEL}{/if}</a>
				<span class="frame-overlay"></span><span class="price">{$module_data.PRODUCTS_PRICE}</span>
			<div class="inner notop nobottom text-center">
				<h4 class="title"><a href="{$module_data.PRODUCTS_LINK}">{$module_data.PRODUCTS_NAME}</a></h4>
				{if $module_data.REVIEWS_TOTAL > 0}<div class="description"><span class="rating">{$module_data.REVIEWS_STAR_RATING}</span> <span class="reviews">{$smarty.const.TEXT_TOTAL_REVIEWS}: {$module_data.REVIEWS_TOTAL}</span></div>{/if}
			</div>
			</div>
			<div class="inner darken notop text-center">
				{$module_data.PRODUCTS_BUTTON_BUY_NOW_NEW}
			</div>
		</li>
		{/foreach}
	</ul>
</div>  
<!-- end: products listing --> 

</div>
<div class="clear"></div>
<!-- /Просмотренные товары -->
{/if}
{/if}