{config_load file="$language/lang_$language.conf" section="featured"} 

<script type="text/javascript" src="jscript/jquery/plugins/sequence/sequence.jquery-min.js"></script>
<script type="text/javascript" src="jscript/jquery/plugins/sequence/sequencejs-options.js"></script>

<div class="page">
<div class="pageItem">

<section id="slider">
	<div id="sequence-theme">
		<div id="sequence">
			<div class="prev"><i class="fa fa-chevron-left"></i></div>
			<div class="next"><i class="fa fa-chevron-right"></i></div>
				<ul>
				{foreach name=aussen item=module_data from=$module_content}
					<li>
						<div class="text">
							<h2 class="title"><span><a href="{$module_data.PRODUCTS_LINK}">{$module_data.PRODUCTS_NAME|strip_tags|vam_truncate:30:"...":true}</a></span></h2>
							<h3 class="subtitle"><span>{$smarty.const.TEXT_BEST_BUY}</span></h3>
							<div class="description">{$module_data.PRODUCTS_SHORT_DESCRIPTION|strip_tags|vam_truncate:120:"...":true}</div>
							<a href="{$module_data.PRODUCTS_LINK}" class="btn">{$smarty.const.TEXT_READ_MORE}</a>
						</div>
						<img class="image" src="{$module_data.PRODUCTS_IMAGE_INFO}" alt="{$module_data.PRODUCTS_NAME}" />
					</li>
				{/foreach}
				</ul>
		</div>
	</div>
</section>

</div>

</div>

<div class="clear"></div>