{config_load file="$language/lang_$language.conf" section="index"}
{$MODULE_error}
<div class="read-more">
{$text}
</div>
{$MODULE_latest_news}
{$MODULE_sitemap}


<div class="mainpage-tabs pb-3">

<ul class="nav nav-tabs pb-3">
{if {$MODULE_new_products}}
  <li class="nav-item active">
    <span class="nav-link" id="new-products-tab" data-toggle="tab" data-target="#new-products">{$smarty.const.TITLE_NEW_PRODUCTS_DEFAULT}</span>
  </li>
{/if}  
{if {$MODULE_specials_default}}
  <li class="nav-item">
    <span class="nav-link" id="specials-tab" data-toggle="tab" data-target="#specials">{$smarty.const.TITLE_SPECIALS_DEFAULT}</span>
  </li>
{/if}  
{if {$MODULE_best_sellers_default}}
  <li class="nav-item">
    <span class="nav-link" id="best-sellers-tab" data-toggle="tab" data-target="#best-sellers">{$smarty.const.TITLE_BEST_SELLERS_DEFAULT}</span>
  </li>
{/if}  
</ul>

<div class="tab-content" id="myTabContent">

{if {$MODULE_new_products}}
  <div class="tab-pane inner fade in notop active" id="new-products" role="tabpanel" aria-labelledby="new-products-tab">
  {$MODULE_new_products}
  </div>
{/if}  
{if {$MODULE_specials_default}}
  <div class="tab-pane inner fade in notop" id="specials" role="tabpanel" aria-labelledby="specials-tab">
  {$MODULE_specials_default}
  </div>
{/if}  
{if {$MODULE_best_sellers_default}}
  <div class="tab-pane inner fade in notop" id="best-sellers" role="tabpanel" aria-labelledby="best-sellers-tab">
  {$MODULE_best_sellers_default}
  </div>
{/if}  

</div>

</div>

{$MODULE_featured_products}


{$MODULE_manufacturers_default}
{$MODULE_reviews_all}
{$MODULE_articles}
{$MODULE_upcoming_products}