{config_load file="$language/lang_$language.conf" section="reverse_cross_selling"} 
<h3>{#heading_text#}</h3>
<div class="page">
<div class="pageItem">
<!-- start: products listing -->
<div class="row-fluid shop-products">
	<ul class="thumbnails">
		{foreach name=aussen item=module_data from=$module_content}
		{if {$smarty.get.cat} > 0}
		<li class="item span4{if $smarty.foreach.aussen.index % 3 == 0} first{/if}">
		{else}
		<li class="item span3{if $smarty.foreach.aussen.index % 4 == 0} first{/if}">
		{/if}
			<div class="thumbnail text-center">
				{if $module_data.PRODUCTS_SPECIAL > 0}<div class="description"><span class="discount">-{$module_data.PRODUCTS_SPECIAL|round}%</span></div>{/if}
				<a href="{$module_data.PRODUCTS_LINK}" class="image"><span class="frame-overlay"></span><img src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_NAME}" />{if $module_data.PRODUCTS_LABEL}{$module_data.PRODUCTS_LABEL}{/if}</a>
				<span class="price">{$module_data.PRODUCTS_PRICE}</span>
			<div class="inner notop nobottom text-center">
				<h4 class="title"><a href="{$module_data.PRODUCTS_LINK}">{$module_data.PRODUCTS_NAME}</a></h4>
				{if $module_data.REVIEWS_TOTAL > 0}<div class="description"><span class="rating">{$module_data.REVIEWS_STAR_RATING}</span> <span class="reviews">{$smarty.const.TEXT_TOTAL_REVIEWS}: {$module_data.REVIEWS_TOTAL}</span></div>{/if}
			</div>
			</div>
			<div class="inner darken notop text-center">
				{$module_data.PRODUCTS_BUTTON_BUY_NOW_NEW}
			</div>
		</li>
		{/foreach}
	</ul>
</div>  
<!-- end: products listing -->  
<div class="clear"></div>
</div>

</div>