{config_load file="$language/lang_$language.conf" section="boxes"} {config_load file="$language/lang_$language.conf" section="reviews"} <div class="page">
<div class="pageItem">

<!-- start: products listing -->
<div class="row-fluid shop-products">
	<ul class="thumbnails">
		{foreach name=aussen item=module_data from=$module_content}
		{if {$smarty.get.cat} > 0}
		<li class="item span4{if $smarty.foreach.aussen.index % 3 == 0} first{/if}">
		{else}
		<li class="item span3{if $smarty.foreach.aussen.index % 4 == 0} first{/if}">
		{/if}
			<div class="thumbnail text-center">
				{if $module_data.PRODUCT.PRODUCTS_SPECIAL > 0}<div class="description"><span class="discount">-{$module_data.PRODUCT.PRODUCTS_SPECIAL|round}%</span></div>{/if}
				<a href="{$module_data.PRODUCT.PRODUCTS_LINK}" class="image"><img src="{$module_data.PRODUCT.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCT.PRODUCTS_NAME}" /><span class="frame-overlay"></span><span class="price">{$module_data.PRODUCT.PRODUCTS_PRICE}</span>{if $module_data.PRODUCT.PRODUCTS_LABEL}{$module_data.PRODUCT.PRODUCTS_LABEL}{/if}</a>
			<div class="inner notop nobottom text-center">
				<h4 class="title"><a href="{$module_data.PRODUCT.PRODUCTS_LINK}">{$module_data.PRODUCT.PRODUCTS_NAME}</a></h4>
				{if $module_data.PRODUCT.REVIEWS_TOTAL > 0}<div class="description"><span class="rating">{$module_data.PRODUCT.REVIEWS_STAR_RATING}</span> <span class="reviews">{$smarty.const.TEXT_TOTAL_REVIEWS}: {$module_data.PRODUCT.REVIEWS_TOTAL}</span></div>{/if}
				<h4>{#heading_product_reviews#}</h4>
				<div class="description">{$module_data.REVIEW.TEXT|strip_tags|vam_truncate:$smarty.const.MAX_DISPLAY_SHORT_DESCRIPTION:"...":true}</div>
				<p class="desc text-center"><a class="" href="{$module_data.REVIEW.URL}"><i class="fa fa-comment"></i> {#text_read#}</a></p>
			</div>
			</div>
			<div class="inner darken notop text-center">
				{$module_data.PRODUCT.PRODUCTS_BUTTON_BUY_NOW_NEW}
			</div>
		</li>
		{/foreach}
	</ul>
</div>  
<!-- end: products listing -->  
  
<div class="clear"></div>
</div>

</div>