{config_load file="$language/lang_$language.conf" section="reviews"}
		<div class="company_tabs">
			<div class="reviews_content">
			
				<div class="review_items reviews">
				
{foreach name=aussen item=module_data from=$module_content}
					<div class="item">
						<div class="autorBlock">
							<img src="{$module_data.AVATAR}" alt="Отзыв">
							<p class="nameReview">{$module_data.AUTHOR}</p>
							<p class="revData">{$module_data.DATE}</p>
							<div class="autorBlock_Rating">
								<p>Оценка <br> пользователя</p>
								<input class="input-3" name="input-3" value="{$module_data.RATING}" class="rating-loading" data-size="xs">
								<a href="{$module_data.LINK}"><u>Читать отзыв</u></a>
							</div>
						</div>
						<p>{$module_data.TEXT|strip_tags|vam_truncate:300:"...":true}</p>
					</div>
{/foreach}

				</div>

				<div class="searching">
				<div class="page page_review">
					<div class="page_select">

					</div>
					<div class="next_pages pagination_blog category_pages">
						{$NAVBAR}
					</div>
				</div>
			</div>
			</div>

<div>
<br />
{$ADD_REVIEW}
</div>

	</div>