{config_load file="$language/lang_$language.conf" section="wishlist"}
<div id="ajax_wishlist">
<h1>{#heading_wishlist#}</h1>
{if $wishlist_empty==true}
<div class="page">
<div class="pagecontent">

<p>
{#text_empty#}
</p>

</div>

<div class="pagecontentfooter">
{$BUTTON_CONTINUE}
</div>
</div>
<p></p>
{else}
{$FORM_ACTION}
{$HIDDEN_OPTIONS}
<div class="page">
<div class="pagecontent">

{$MODULE_wishlist_details}
</div>

</div>

<div class="clear"></div>
{$FORM_END}
{/if}
</div>
{$MODULE_cross_selling_cart}