<section class="container pb-4 mb-md-3">
  <div class="row">
    <div class="col-md-8 mb-4">
      <div class="d-sm-flex justify-content-between align-items-center bg-secondary overflow-hidden rounded-3">
        <div class="py-4 my-2 my-md-0 py-md-5 px-4 ms-md-3 text-center text-sm-start">
          <h4 class="fs-lg fw-light mb-2">{$smarty.const.TEXT_ADS_CONVERSE_TITLE}</h4>
          <h3 class="mb-4">{$smarty.const.TEXT_ADS_CONVERSE_DESC}</h3><a class="btn btn-primary btn-shadow btn-sm" href="featured.php">{$smarty.const.TEXT_ADS_CONVERSE_BUTTON}</a>
        </div><img class="d-block ms-auto" src="{$tpl_path}dist/img/shop/catalog/banner.jpg" alt="Shop Converse">
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="d-flex flex-column h-100 justify-content-center bg-size-cover bg-position-center rounded-3" style="background-image: url(img/blog/banner-bg.jpg);">
        <div class="py-4 my-2 px-4 text-center">
          <div class="py-1">
            <h5 class="mb-2">{$smarty.const.TEXT_ADS_BANNER_TITLE}</h5>
            <p class="fs-sm text-muted">{$smarty.const.TEXT_ADS_BANNER_DESC}</p><a class="btn btn-primary btn-shadow btn-sm" href="contact_us.html">{$smarty.const.TEXT_ADS_BANNER_BUTTON}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>