{if {$vamshop5|@count} > 0} 
{if $smarty.server.REQUEST_URI == '/'}
<section class="tns-carousel tns-controls-lg">
  <div class="tns-carousel-inner" data-carousel-options="{literal}{&quot;mode&quot;: &quot;gallery&quot;, &quot;responsive&quot;: {&quot;0&quot;:{&quot;nav&quot;:true, &quot;controls&quot;: false},&quot;992&quot;:{&quot;nav&quot;:false, &quot;controls&quot;: true}}}{/literal}">
    {foreach item=slides from=$vamshop5}
    <!-- Item-->
    <div class="px-lg-5" style="background-color: {$slides.description_background};">
      <div class="d-lg-flex justify-content-between align-items-center ps-lg-4"><img class="d-block order-lg-2 me-lg-n5 flex-shrink-0" src="images/banner/{$slides.image}" alt="{$slides.title}">
        <div class="position-relative mx-auto me-lg-n5 py-5 px-4 mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10;">
          <div class="pb-lg-5 mb-lg-5 text-center text-lg-start text-lg-nowrap">
            <h3 class="h2 text-light fw-light pb-1 from-start">{$slides.title}</h3>
            <h2 class="text-light display-5 from-start delay-1">{$slides.description}</h2>
            <p class="fs-lg text-light pb-3 from-start delay-2">{$slides.description_more}</p>
            <div class="d-table scale-up delay-4 mx-auto mx-lg-0"><a class="btn btn-primary" href="{$slides.url}">{$slides.description_button}<i class="ci-arrow-right ms-2 me-n1"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    {/foreach}
  </div>
</section>
{/if}
{/if}