<footer class="bg-dark pt-5">
  <div class="container">
    <div class="row pb-2">
      <div class="col-md-4 col-sm-6">
        <div class="widget widget-links widget-light pb-2 mb-4">
          <h3 class="widget-title text-light">{$smarty.const.TEXT_PAGE_INFORMATION}</h3>
          <ul class="widget-list">
            {$box_CONTENT_PULL}
            {$box_INFORMATION}
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="widget widget-links widget-light pb-2 mb-4">
          <h3 class="widget-title text-light">{$smarty.const.TEXT_PROFILE_INFORMATION}</h3>
          <ul class="widget-list">
            <li class="widget-list-item"><a class="widget-list-link" href="account_history.php">{$smarty.const.TEXT_PAGE_MY_ORDERS}</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="address_book.php">{$smarty.const.NAVBAR_TITLE_2_ADDRESS_BOOK}</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="account.php">{$smarty.const.TEXT_MY_ORDERS}</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="shopping_cart.php">{$smarty.const.NAVBAR_TITLE_SHOPPING_CART}</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="create_account.php">{$smarty.const.NAVBAR_TITLE_CREATE_ACCOUNT}</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="account_history.php">{$smarty.const.TEXT_ORDER_TRACKING}</a></li>
          </ul>
        </div>
        <div class="widget widget-links widget-light pb-2 mb-4">
          <h3 class="widget-title text-light">{$smarty.const.TEXT_PAGE_ABOUT_US}</h3>
          <ul class="widget-list">
            <li class="widget-list-item"><a class="widget-list-link" href="about_us.html">{$smarty.const.TEXT_PAGE_ABOUT_COMPANY}</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="articles.php">{$smarty.const.TEXT_RSS_ARTICLES}</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="faq.php">{$smarty.const.NAVBAR_TITLE_FAQ}</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="news.php">{$smarty.const.TEXT_RSS_NEWS}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="widget pb-2 mb-4">
          <h3 class="widget-title text-light pb-1">{$smarty.const.TEXT_STAY_INFORMED}</h3>
          <form class="subscription-form-vamshop" action="{$smarty.const.HTTP_SERVER}{$smarty.const.DIR_WS_CATALOG}newsletter.php" method="post" name="subscribe-form" target="_blank" novalidate>
            <div class="input-group flex-nowrap"><i class="ci-mail position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
              <input class="form-control rounded-start" type="email" name="email" placeholder="{$smarty.const.TEXT_NEWSLETTER_EMAIL}" required>
              <button class="btn btn-primary" type="submit" name="subscribe-button">{$smarty.const.TEXT_NEWSLETTER_SUBSCRIBE}</button>
            </div>
            <div class="form-text text-light opacity-50">{$smarty.const.TEXT_NEWSLETTER_DESCRIPTION}</div>
          </form>
        </div>
        <div class="widget pb-2 mb-4">
          <h3 class="widget-title text-light pb-1">{$smarty.const.TEXT_DOWNLOAD_APP}</h3>
          <div class="d-flex flex-wrap">
            <div class="me-2 mb-2"><a class="btn-market btn-google" href="https://play.google.com/store/apps/details?id=xyz.appmaker.wzxnid&hl=ru" role="button"><span class="btn-market-subtitle">{$smarty.const.TEXT_DOWNLOAD_ON}</span><span class="btn-market-title">{$smarty.const.TEXT_DOWNLOAD_ON_GOOGLE}</span></a></div>
            <div class="mb-2"><a class="btn-market btn-apple" href="https://www.apple.com/search/vamshop?src=globalnav" role="button"><span class="btn-market-subtitle">{$smarty.const.TEXT_DOWNLOAD_ON}</span><span class="btn-market-title">{$smarty.const.TEXT_DOWNLOAD_ON_APPLE}</span></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-5 bg-darker">
    <div class="container">
      <div class="row pb-3">
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="d-flex"><i class="ci-rocket text-primary" style="font-size: 2.25rem;"></i>
            <div class="ps-3">
              <h6 class="fs-base text-light mb-1">{$smarty.const.TEXT_ADVANTAGES_1_TITLE}</h6>
              <p class="mb-0 fs-ms text-light opacity-50">{$smarty.const.TEXT_ADVANTAGES_1_DESC}</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="d-flex"><i class="ci-currency-exchange text-primary" style="font-size: 2.25rem;"></i>
            <div class="ps-3">
              <h6 class="fs-base text-light mb-1">{$smarty.const.TEXT_ADVANTAGES_2_TITLE}</h6>
              <p class="mb-0 fs-ms text-light opacity-50">{$smarty.const.TEXT_ADVANTAGES_2_DESC}</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="d-flex"><i class="ci-support text-primary" style="font-size: 2.25rem;"></i>
            <div class="ps-3">
              <h6 class="fs-base text-light mb-1">{$smarty.const.TEXT_ADVANTAGES_3_TITLE}</h6>
              <p class="mb-0 fs-ms text-light opacity-50">{$smarty.const.TEXT_ADVANTAGES_3_DESC}</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="d-flex"><i class="ci-card text-primary" style="font-size: 2.25rem;"></i>
            <div class="ps-3">
              <h6 class="fs-base text-light mb-1">{$smarty.const.TEXT_ADVANTAGES_4_TITLE}</h6>
              <p class="mb-0 fs-ms text-light opacity-50">{$smarty.const.TEXT_ADVANTAGES_4_DESC}</p>
            </div>
          </div>
        </div>
      </div>
      <hr class="hr-light mb-5">
      <div class="row pb-2">
        <div class="col-md-6 text-center text-md-start mb-4">
          <div class="text-nowrap mb-4"><a class="d-inline-block align-middle mt-n1 me-3" href="#"><img class="d-block" src="{$tpl_path}img/logo-small.png" width="117" alt="{$smarty.const.STORE_NAME}"></a>
	         {if {$box_LANGUAGES}}      
	         <div class="btn-group dropdown disable-autohide">
	           <button class="btn btn-outline-light border-light btn-sm dropdown-toggle px-2" type="button" data-bs-toggle="dropdown"><img class="me-2" src="{$smarty.const.DIR_WS_CATALOG}lang/{$smarty.session.language}/icon.gif" width="18" height="12" alt="{$smarty.session.language_name|capitalize}">{$smarty.session.language_name|capitalize} / {$smarty.session.currency}</button>
	           <ul class="dropdown-menu my-1">
	             {if {$box_CURRENCIES}}
	             <li class="dropdown-item">
                <form name="currencies-footer" id="currencies-footer" action="{$smarty.const.HTTP_SERVER}{$smarty.server.REDIRECT_URL}" method="get">
	               <select class="form-select form-select-sm" name="currency" onchange="this.form.submit()">
	                 <option value="">{$smarty.const.TEXT_CURRENCY}</option>
	                 {$box_CURRENCIES}
	               </select>
	             </form>
	             </li>
	             {/if}
	             {if {$box_LANGUAGES}}
	             {$box_LANGUAGES}
	             {/if}
	           </ul>
	         </div>
	         {/if}
          </div>
          <div class="widget widget-links widget-light">
            <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
              <li class="widget-list-item me-4"><a class="widget-list-link" href="shipping.html">{$smarty.const.TEXT_PAGE_SHIPPING}</a></li>
              <li class="widget-list-item me-4"><a class="widget-list-link" href="payment.html">{$smarty.const.TEXT_PAGE_PAYMENT}</a></li>
              <li class="widget-list-item me-4"><a class="widget-list-link" href="pivacy.html">{$smarty.const.TEXT_PAGE_PRIVACY}</a></li>
              <li class="widget-list-item me-4"><a class="widget-list-link" href="about_us.html">{$smarty.const.TEXT_PAGE_ABOUT_US}</a></li>
              <li class="widget-list-item me-4"><a class="widget-list-link" href="contact_us.html">{$smarty.const.TEXT_PAGE_CONTACT_US}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 text-center text-md-end mb-4">
          <div class="mb-3">
				{if $smarty.const.STORE_WHATSAPP}<a title="WhatsApp" data-toggle="tooltip" class="btn-social bs-messenger bs-dark ms-2 mb-2" href="https://wa.me/{$smarty.const.STORE_WHATSAPP}" aria-label="whatsapp"><i class="fab fa-whatsapp"></i></a>{/if}
				{if $smarty.const.STORE_VIBER}<a title="Viber" data-toggle="tooltip" class="btn-social bs-light bs-messenger ms-2 mb-2" href="viber://chat?number={$smarty.const.STORE_VIBER}" aria-label="viber"><i class="fab fa-viber"></i></a>{/if}
				{if $smarty.const.STORE_SKYPE}<a title="Skype" data-toggle="tooltip" class="btn-social bs-light bs-messenger ms-2 mb-2" href="skype:{$smarty.const.STORE_SKYPE}" aria-label="skype"><i class="fab fa-skype"></i></a>{/if}
				{if $smarty.const.STORE_ICQ}<a title="ICQ" data-toggle="tooltip" class="btn-social bs-light bs-messenger ms-2 mb-2" href="http://icq.com/{$smarty.const.STORE_ICQ}" aria-label="icq"><i class="fas fa-cog"></i></a>{/if}
				{if $smarty.const.STORE_VK}<a title="VK" data-toggle="tooltip" class="btn-social bs-light bs-messenger ms-2 mb-2" href="https://vk.com/{$smarty.const.STORE_VK}" aria-label="vk"><i class="fab fa-vk"></i></a>{/if}
				{if $smarty.const.STORE_FACEBOOK}<a title="Facebook" data-toggle="tooltip" class="btn-social bs-light bs-messenger ms-2 mb-2" href="https://facebook.com/{$smarty.const.STORE_FACEBOOK}" aria-label="facebook"><i class="fab fa-facebook"></i></a>{/if}
				{if $smarty.const.STORE_TELEGRAM}<a title="Telegram" data-toggle="tooltip" class="btn-social bs-light bs-messenger ms-2 mb-2" href="https://t.me/{$smarty.const.STORE_TELEGRAM}" aria-label="telegram"><i class="fab fa-telegram"></i></a>{/if}
				{if $smarty.const.STORE_INSTAGRAM}<a title="Instagram" data-toggle="tooltip" class="btn-social bs-light bs-messenger ms-2 mb-2" href="https://instagram.com/{$smarty.const.STORE_INSTAGRAM}" aria-label="instagram"><i class="fab fa-instagram"></i></a>{/if}
				{if $smarty.const.STORE_TWITTER}<a title="Twitter" data-toggle="tooltip" class="btn-social bs-light bs-messenger ms-2 mb-2" href="https://twitter.com/{$smarty.const.STORE_TWITTER}" aria-label="twitter"><i class="fab fa-twitter"></i></a>{/if}
				{if $smarty.const.STORE_YOUTUBE}<a title="YouTube" data-toggle="tooltip" class="btn-social bs-light bs-messenger ms-2 mb-2" href="https://youtube.com/{$smarty.const.STORE_YOUTUBE}" aria-label="youtube"><i class="fab fa-youtube"></i></a>{/if}
				<a title="RSS" data-toggle="tooltip" class="btn-social bs-light bs-messenger ms-2 mb-2" href="vam_rss2_info.php" aria-label="rss"><i class="fas fa-rss"></i></a>
          </div><img class="d-inline-block" src="{$tpl_path}dist/img/cards-alt.png" width="187" alt="{$smarty.const.TEXT_PAYMENT_METHODS}">
        </div>
      </div>
      <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">&copy; {$smarty.now|date_format:"%Y"} {$smarty.const.STORE_NAME}</div>
    </div>
  </div>
</footer>