{if {$slider_starter_basic|@count} > 1} 

  <link href="jscript/sequencejs/themes/starter-basic/css/sequence-theme.starter-basic.css" rel="stylesheet" media="all">

  <div id="sequence" class="seq">

    <div class="seq-screen">
      <ul class="seq-canvas">
        {foreach item=slide from=$slider_starter_basic}
        <li class="seq-step{counter name=slide1}{if $slide@first} seq-in{/if}" id="step{counter name=slide2}">
          <div class="seq-content">
            <h2 data-seq class="seq-title"><a href="{$slide.url}">{$slide.title}</a></h2>
            <h3 data-seq class="seq-subtitle">{$slide.description}</h3>
          </div>
        </li>
        {/foreach}
      </ul>
    </div>

    <ul rel="sequence" class="seq-pagination">
      {foreach item=nav from=$slider_starter_basic}
      <li><a href="#step{counter name=nav1}" title="{#text_go_to_slide#} {counter name=nav3}">{$nav.title}</a></li>
      {/foreach}
    </ul>
  </div>

  <script src="jscript/sequencejs/imagesloaded.pkgd.min.js"></script>
  <script src="jscript/sequencejs/hammer.min.js"></script>
  <script src="jscript/sequencejs/sequence.min.js"></script>
  <script src="jscript/sequencejs/themes/starter-basic/scripts/sequence-theme.starter-basic.js"></script>
  
{/if}  