              <div class="col-lg-4 col-6 px-0 px-sm-2 mb-sm-4">
                <div class="card product-card card-static">
                  <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="ci-heart"></i></button><a class="card-img-top d-block overflow-hidden text-center" href="{$module_data.PRODUCTS_LINK}"><img src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_NAME}"></a>
                  <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="{$module_data.PRODUCTS_CATEGORY_URL}">{$module_data.PRODUCTS_CATEGORY_NAME}</a>
                    <h3 class="product-title fs-sm"><a href="{$module_data.PRODUCTS_LINK}">{$module_data.PRODUCTS_NAME}</a></h3>
                    <div class="d-flex justify-content-between">
                      {if $module_data.PRODUCTS_PRICE_PLAIN > 0}<div class="product-price"><span class="text-accent">{$module_data.PRODUCTS_PRICE}</span></div>{/if}
                      <div class="star-rating">
								{if {$module_data.REVIEWS_TOTAL_RATING} > 0}
								{for $foo=1 to {$module_data.REVIEWS_TOTAL_RATING|number_format}}
								<i class="star-rating-icon ci-star-filled active"></i>
								{/for}
								{/if}                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>