{config_load file="$language/lang_$language.conf" section="index"}
{config_load file="$language/lang_$language.conf" section="boxes"}
<div id="wrapper">

    {include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/header/header.html"}

    {include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/navbar/navbar.html"}    



<div class="container pt-3 pb-3">

<div class="main">

{if $navtrail}
<div id="navigation" itemscope itemtype="http://schema.org/BreadcrumbList">
{$navtrail}
</div>
{/if}

{if $smarty.SERVER.REQUEST_URI == '/'}
{include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/slider/pop-slide.html"}
{*include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/slider/basic.html"*}    
{*include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/slider/modern-slide-in.html"*}     
{*include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/slider/parallax-basic.html"*}    
{*include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/slider/starter-basic.html"*}
{/if}

<div class="mainContent">
{$main_content}
</div>

</div>

</div>

    {include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/footer/footer.html"}    

</div>


    {include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}components/menu/top-menu.html"}