{config_load file="$language/lang_$language.conf" section="boxes"}
{config_load file="$language/lang_$language.conf" section="index"}
{if $deny_cart neq 'true'}
<a class="cart-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200" aria-expanded="false" href="{$smarty.const.FILENAME_SHOPPING_CART}" aria-label="{$smarty.const.NAVBAR_TITLE_SHOPPING_CART}">{if $TOTAL_QUANTITY > 0}<em class="roundpoint pulse-button">{$TOTAL_QUANTITY}</em>{/if}<i class="fas fa-shopping-basket"></i> <span class="hidetxt">{$smarty.const.NAVBAR_TITLE_SHOPPING_CART}</span></a>
            <div class="dropdown-menu cart fade dropdown-menu-right">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-12">

<div class="cart">
{if $empty=='false'}
<div class="widget inner shopping-cart-widget">
	<div class="cart-dropdown">
			<div class="content">

				{if $DISCOUNT}
				<p class="subtotal">
					<strong>{#text_discount#}</strong>
					<span class="amount">{$DISCOUNT}</span>
				</p>
				{/if}
				<p class="subtotal">
					<strong>{$UST}{#text_total#}:</strong> 
					<span class="amount font-weight-bold text-danger">{$TOTAL}</span>
				</p>
				<p class="buttons">
					<a class="btn btn-inverse viewcart mt-1" href="{$LINK_CART}"><i class="fa fa-shopping-cart"></i> {#link_cart#}</a>
					<a class="btn btn-inverse checkout mt-1" href="{$LINK_CHECKOUT}"><i class="fa fa-check"></i> {#text_checkout#} &rarr;</a>
				</p>

				<div class="products">
					{foreach name=aussen item=products_data from=$products}
					
				  <div class="card card-product card-sm">
					<div class="card-body">
					<div class="row">
						<div class="col-4 my-auto">
							<div class="img-wrap"><a href="{$products_data.LINK}" title="{$products_data.NAME}"><img class="img-sm" src="{$products_data.IMAGE}" alt="{$products_data.NAME}"></a></div>
						</div>
						<div class="col-6 my-auto">
								<div class=""><a href="{$products_data.LINK}">{$products_data.NAME|vam_truncate:$smarty.const.MAX_DISPLAY_CART:"...":true}</a></div>
										<div class="media-body">
												{if $products_data.ATTRIBUTES!=''} 
												{foreach key=key_data item=item_data from=$products_data.ATTRIBUTES} 
												{if $item_data.NAME != ''}{$item_data.NAME}:{/if} {if $item_data.VALUE != ''}<strong>{$item_data.VALUE}</strong><br />{/if}
												{/foreach} 
												{/if}
							         <strong class="text-muted">{$products_data.QTY} x {$products_data.PRICE}</strong>												
										<div class="price-wrap display-6 font-weight-bold"><strong>{$products_data.FULL_PRICE}</strong></div>
										</div>				
						</div>
						<div class="col-2 my-auto">
							<div class="action-wrap text-center">
				         {if $smarty.const.AJAX_CART == 'true'}<button class="btn btn-outline-light circle text-danger cart_delete" value="{$products_data.ID}"><i class="fas fa-times"></i></button>{/if}
							</div>
						</div>
					</div>
					</div>
				  </div>

					{/foreach}
				</div>

			</div>
	</div>
</div>
{else}
<div class="widget inner shopping-cart-widget">
	<div class="cart-dropdown">
			<div class="content">
           {#text_empty_cart#} 
			</div>
	</div>
</div>
{/if}
</div>

                  </div>
                </div>
              </div>
            </div>
{/if}
