{config_load file="$language/lang_$language.conf" section="boxes"}
{$FORM_ACTION}
<div class="input-group">
      <input type="text" name="keywords" class="form-control" id="quick_find_keyword" placeholder="{$smarty.const.BOX_HEADING_SEARCH}" />
      <input type="hidden" autocomplete="false" />
      <div class="input-group-append">
         <button class="btn btn-outline-secondary fas fa-search" type="submit"></button>
      </div>
</div>
{$FORM_END}
<div class="ajaxQuickFind" id="ajaxQuickFind"></div>
<script>
// <![CDATA[
{literal}
$(document).ready(function(){

  $("#quick_find_keyword").keyup(function(){
      var searchString = $("#quick_find_keyword").val(); 
      $.ajax({
      	url: "index_ajax.php",             
      	dataType : "html",
      	type: "POST",
      	data: "q=includes/modules/ajax/ajaxQuickFind.php&keywords="+searchString,
      	success: function(msg){$("#ajaxQuickFind").html(msg);}            
 });     
                           
                           
   });


})

{/literal}
// ]]>
</script>
