<!-- Product Card Simple -->
		<form id="cart_quantity{$module_data.PRODUCTS_ID}" class="justify-content-center h-100" action="{$module_data.PRODUCTS_LINK}/products_id/{$module_data.PRODUCTS_ID}/action/add_product" method="post" {if $smarty.const.AJAX_CART == 'true'}onsubmit="doAddProduct({$module_data.PRODUCTS_ID}); return false;"{/if}>
		<div class="card card-product card-sm h-100">
      <div class="card-body">
		{if $module_data.PRODUCTS_LABEL}{$module_data.PRODUCTS_LABEL}{/if}
		{if $module_data.PRODUCTS_SPECIAL > 0}<span class="badge-offer"><b>-{$module_data.PRODUCTS_SPECIAL|round}%</b></span>{/if}
			<div class="img-wrap"><a href="{$module_data.PRODUCTS_LINK}" title="{$module_data.PRODUCTS_NAME}"><img {if $smarty.const.ENABLE_LAZY_LOAD == 'true'}class="lazy" src="{$smarty.const.DIR_WS_IMAGES}pixel_trans.gif" data-src="{$module_data.PRODUCTS_IMAGE}"{else}src="{$module_data.PRODUCTS_IMAGE}"{/if} {if {$module_data.PRODUCTS_IMAGE_WIDTH} > 0} width="{$module_data.PRODUCTS_IMAGE_WIDTH}"{/if} {if {$module_data.PRODUCTS_IMAGE_HEIGHT} > 0} height="{$module_data.PRODUCTS_IMAGE_HEIGHT}"{/if} alt="{$module_data.PRODUCTS_NAME}"></a></div>
			<div class="info-wrap text-center">
				<div class="title"><a href="{$module_data.PRODUCTS_LINK}" title="{$module_data.PRODUCTS_NAME}">{$module_data.PRODUCTS_NAME}</a></div>
				{if $module_data.PRODUCTS_PRICE_PLAIN > 0}
				<div class="price-wrap font-weight-bold small text-muted">
					{$module_data.PRODUCTS_PRICE}
				</div>
				{/if}
				{if $module_data.REVIEWS_TOTAL > 0}
				<div class="rating-wrap small">
					{$module_data.REVIEWS_STAR_RATING} <span class="text-muted pr-2" data-toggle="tooltip" title="{$smarty.const.TEXT_REVIEWS_RATING}">{$module_data.REVIEWS_TOTAL_RATING|number_format:1}</span>
					<div class="label-rating"><span class="text-muted"><i class="far fa-comments"></i> {$smarty.const.TEXT_TOTAL_REVIEWS}: {$module_data.REVIEWS_TOTAL}</span></div>
				</div>
				{/if}
				{if $smarty.const.ENABLE_WISHLIST == 'true'}
					<span class="wishlist-button text-muted">{$module_data.PRODUCTS_BUTTON_WISHLIST}</span>
				{/if}					
				{if $CATEGORIES_NAME && SPECIFICATIONS_BOX_COMPARISON == "True"}<div class="desc"><label><input type="checkbox" id="s_{$module_data.PRODUCTS_ID}" name="products[]" value="{$module_data.PRODUCTS_ID}" /> {#text_compare#}</label></div>{/if}
				{assign var=options value=$module_data.attrib}
				{include file="{$smarty.const.DIR_FS_CATALOG}{$tpl_path}module/product_options/multi_options.html"}
			</div>
      </div>
      {if $module_data.PRODUCTS_PRICE_PLAIN > 0}
      <div class="card-footer text-center">
         <div class="input-group justify-content-center pb-2">
         <div class="input-group-prepend">
	       <span class="btn btn-secondary value-control" data-action="minus" data-target="quantity{$module_data.PRODUCTS_ID}"><i class="fa fa-minus"></i></span>
         </div>
         <input name="products_qty" type="text" value="1" class="form-control text-center" id="quantity{$module_data.PRODUCTS_ID}">
         <div class="input-group-append">
	       <span class="btn btn-secondary value-control" data-action="plus" data-target="quantity{$module_data.PRODUCTS_ID}"><i class="fa fa-plus"></i></span>
         </div>
         </div>
         <input type="hidden" name="products_id" value="{$module_data.PRODUCTS_ID}" />
			<button class="btn btn-inverse checkout btn-block"><i class="fas fa-shopping-cart"></i> {$smarty.const.ICON_CART}</button>
      </div>
      {/if}
		</div>
		</form>
<!-- /Product Card Simple -->