<!-- Product Card Simple -->
		<div class="card card-sm card-product h-100">
      <div class="card-body">
		{if $module_data.PRODUCT.PRODUCTS_LABEL}{$module_data.PRODUCT.PRODUCTS_LABEL}{/if}
		{if $module_data.PRODUCT.PRODUCTS_SPECIAL > 0}<span class="badge-offer"><b>-{$module_data.PRODUCT.PRODUCTS_SPECIAL|round}%</b></span>{/if}
			<div class="img-wrap"><a href="{$module_data.PRODUCT.PRODUCTS_LINK}"><img src="{$module_data.PRODUCT.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCT.PRODUCTS_NAME}"></a></div>
			<div class="info-wrap text-center">
				<h5 class="title"><a href="{$module_data.PRODUCT.PRODUCTS_LINK}">{$module_data.PRODUCT.PRODUCTS_NAME}</a></h5>
				{if $module_data.REVIEW.RATING > 0}
				<div class="rating-wrap">
					{$module_data.REVIEW.STAR_RATING}
				</div>
				{if $module_data.PRODUCT.PRODUCTS_PRICE_PLAIN > 0}
				<div class="price-wrap h4">
					{$module_data.PRODUCT.PRODUCTS_PRICE}
				</div>
				{/if}
				{/if}
				<p class="desc">{$module_data.REVIEW.TEXT|vam_truncate:$smarty.const.MAX_DISPLAY_SHORT_DESCRIPTION:"...":true}</p>
			</div>
      </div>
		<div class="category card-footer text-center">
				<p class="desc"><a class="btn btn-outline-primary btn-block" href="{$module_data.REVIEW.URL}"><i class="far fa-comment"></i> {#text_read#}</a></p>
				{if $module_data.PRODUCT.PRODUCTS_PRICE_PLAIN > 0}
				<div>
					{$module_data.PRODUCT.PRODUCTS_BUTTON_BUY_NOW_NEW}
				</div>
				{/if}
		</div>
		</div>
<!-- /Product Card Simple -->
		