	<div class="card card-product">
		<span class="badge-new">Новинка</span>
		<span class="badge-offer"><b>-50%</b></span>
		<div class="img-wrap"><a href=""><img src="/images/product_images/thumbnail_images/1_0.png"></a></div>
		<div class="info-wrap">
				<h5 class="title text-truncate"><a href="">The name of this product goes here here here here here</a></h5>
				<p class="desc">Some small description goes here</p>
				<div class="rating-wrap">
					<ul class="rating-stars">
						<li style="width:80%" class="stars-active"> 
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						</li>
						<li>
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 
						</li>
					</ul>
					<div class="label-rating">132 reviews</div>
				</div>
		</div>
		<div class="bottom-wrap">
			<a href="" class="btn btn-sm btn-primary float-right">Order Now</a>	
			<div class="price-wrap h5">
				<span class="price-new">$11280</span> 
				<del class="price-old">$11980</del>
			</div>
		</div>
	</div>