<!-- Product Card Simple -->
		<div class="card card-sm card-product h-100" itemprop="review" itemscope itemtype="http://schema.org/Review">
      <div class="card-body">
			<div class="info-wrap text-center">
				<div itemprop="itemReviewed" itemscope itemtype="https://schema.org/Organization">
					<meta itemprop="name" content="{$smarty.const.STORE_NAME}"/>
					<meta itemprop="address" content="{$smarty.const.STORE_NAME_ADDRESS|strip_tags}"/>
					<meta itemprop="telephone" content="{$smarty.const.STORE_TELEPHONE}" />
				</div>			
				{if $module_data.RATING > 0}
				<span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating"><meta itemprop="ratingValue" content="{$module_data.RATING}" /></span>
				<div class="rating-wrap small">
					<div class="desc"><span class="bold">{#text_date#}</span> <span content="{$module_data.DATE|date_format:"%Y-%m-%d"}" itemprop="datePublished">{$module_data.DATE}</span></div>
					<div class="desc"><span class="bold">{#text_author#}</span> <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{$module_data.AUTHOR}</span></span></div>
					{$module_data.STAR_RATING}
				</div>
				{/if}
				<span class="font-weight-bold text-secondary">{$smarty.const.TEXT_CUSTOMER_REVIEW}</span>
				<div itemprop="reviewBody">{$module_data.TEXT|vam_truncate:$smarty.const.MAX_DISPLAY_REVIEW_TEXT:"...":true}</div>
				{if {$module_data.ANSWER} != ''}
				<span class="font-weight-bold text-primary">{$smarty.const.TEXT_STORE_ANSWER}</span>
				<div>{$module_data.ANSWER}</div>
				{/if}
			</div>
      </div>
		<div class="category card-footer text-center">
		<a class="btn btn-rounded btn-block" href="{$module_data.LINK}"><i class="far fa-comment"></i> {#text_read#}</a>
		</div>
		</div>
<!-- /Product Card Simple -->
		